{% extends '/input/funding.twig' %}

{% import "/templates/second_bar.twig" as second_bar %}
{% import "/templates/funding/macro_fundingsources.twig" as table %}

{% import "/templates/sidebar.twig" as sidebar %}
{% block sidebar %}{{ sidebar.sidebar("funding",scenID) }}{% endblock %}

{% block title %}Funding - Funding Sources{% endblock %}

{% block content %}
{{ second_bar.second_bar(username,part,sel_scen,part2,parent) }}
<div class="row jumbotron text-light m-5 bg-dark p-3">
    <div class="col text-center">
        <p class="text-justify">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis sit amet varius neque, eget facilisis urna. Nunc sit amet libero varius erat interdum tempus. Morbi elit diam, malesuada vel iaculis at, fermentum sed metus. Quisque finibus urna et lorem varius aliquam. Aliquam molestie massa non lorem tincidunt aliquam. Fusce ullamcorper euismod arcu eu laoreet. Sed nec faucibus sem. </p>
    </div>
</div>
<div class="row m-2">
    <h5 class="text-dark col text-center"><strong class="mr-2">Funding Target :</strong> £ {{funding_target|number_format(2,'.',',')}}</h5>
</div>

<form action="?A=funding&amp;A2=entities_inputed" method="post" onsubmit="return checkInputEntities() && checkInputEntities2();">
{% if entities1 %}
{{table.input_entities(FS_cat,FS,entities,listSel,funding_target)}}
{% endif %}
{% if entities2 %}
{{table.input_entities2(FS_cat,FS,entities,listSel,funding_target)}}
{% endif %}
<div class="row m-3 text-center text-dark">
    <button type="submit" class="btn btn-link offset-5 col-2 oi oi-arrow-circle-right next-button" title="arrow-circle-right" style="font-size:50px;" aria-hidden="true"></button>
</div>
</form>

{% endblock %}

