{% extends '/input/cost_benefits_in.twig' %}

{% import "/templates/second_bar.twig" as second_bar %}
{% import "/templates/sidebar.twig" as sidebar %}
{% import "/templates/cost_benefits_in/macro_summary.twig" as list %}
{% import "/templates/cost_benefits_in/modal_summary.twig" as modal %}

{% block title %}Project Scoping - Summary{% endblock %}

{% block sidebar %}{{ sidebar.sidebar("cost_benefits",projID,ucID) }}{% endblock %}

{% block content %}

{{ second_bar.second_bar(username,is_admin,selDevName,selDevSym,part,selected,part2,selected2) }}

<div class="row jumbotron text-light m-5 bg-dark p-3">
    <div class="col text-center">
        <p class="text-justify">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis sit amet varius neque, eget facilisis urna. Nunc sit amet libero varius erat interdum tempus. Morbi elit diam, malesuada vel iaculis at, fermentum sed metus. Quisque finibus urna et lorem varius aliquam. Aliquam molestie massa non lorem tincidunt aliquam. Fusce ullamcorper euismod arcu eu laoreet. Sed nec faucibus sem.</p>
    </div>
</div>

{{ list.summary(meas,ucs,selScope,list_checks)}}

<div class="row" {{isValid ? "hidden" : ""}}>
    <h4 class="col text-center text-danger font-italic">Please make sure there are no errors for each Use Case.</h4>
</div>

<div class="row m-5 btn-group-sm justify-content-center" role="group">
    <button class="col-2 btn btn-dark"  {{isValid ? "" : "disabled"}} onclick="window.location.assign('?A=cost_benefits&amp;A2=summary&amp;projID={{projID}}&amp;confirm=1');" >Confirm</button>
    <button class="offset-1 col-2 btn btn-danger" onclick="window.location.assign('?A=cost_benefits&amp;A2=use_case_cb&amp;projID={{projID}}');">Change</button>
</div>
{{ modal.ask_redir(projID,ucID) }}

    {% if confirm == 1 %}
        <script type="text/javascript">$('#askRedir').modal('show');</script>
    {% endif %}
{% endblock %}





