{% extends '/output/comparison_items/comp_projects.twig' %}

{% import "/templates/navbar.twig" as navbar %}
{% block navbar %}{{ navbar.navbar(is_connected,is_admin,devises) }}{% endblock %}

{% import "/templates/sidebar.twig" as sidebar %}
{% block sidebar %}{{ sidebar.sidebar("comp_projects_" ~ side) }}{% endblock %}

{% import "/templates/comparison/macro_projects.twig" as macro %}

{% block title %}Compare Projects - Investment Indicators{% endblock %}


{% set lorem = "Please select the relevant indicators below to generate project comparison diagrams. " %}
{#% if cat == "finsoc_comp" %}
    {% set lorem %}
        
    {% endset %}
{% elseif cat == "invest" %}
    {% set lorem %}
        Please select the relevant indicators below to generate project comparison diagrams.
    {% endset %}
{% elseif cat == "op" %}
    {% set lorem %}
        
    {% endset %}
{% elseif cat == "cash_flows" %}
    {% set lorem %}
        
    {% endset %}
{% elseif cat == "non_quant" %}
    {% set lorem %}
        
    {% endset %}
{% endif %#}

{% block content %}
<div class="row jumbotron text-light bg-dark m-5 p-3">
    <div class = "col text-center">
        <h5>{{lorem|nl2br}}</h5>
    </div>
</div>



{{ macro.insert_table_data(list_compo,dataIndicator,compoData, projects) }}

<div class="row">
    <div class="col">
        <h4 class="text-center text-dark">Please select Indicators</h4>
    </div>
</div>


{{ macro.sel_compo_gen(list_compo, dataIndicator) }}
<div class="row mt-5">
    <div class="col">
        <h4 class="text-center text-dark">Indicators Comparative Graph</h4>
    </div>
</div>
{{ macro.insert_graphes(list_compo,list_bubble, dataIndicator) }}



{% endblock %}

{% block scripts %}
    {{ parent() }}
    <div id="data"  data-compo="{{ compoData|json_encode }}" data-list-compo="{{ list_compo|json_encode }}" data-projects="{{ projects|json_encode }}" data-cat="{{ cat2Indicator|json_encode }}" data-bubble-data="{{ bubbleData|json_encode }}" data-cat-bubble="{{ cat2Bubble|json_encode }}"  data-list-bubble="{{ list_bubble|json_encode }}"  data-data-indicator="{{ dataIndicator|json_encode }}" ></div>
    <script type="text/javascript" src="../../public/assets/js/custom/comp_projects/graphCompo.js"></script>
    <script type="text/javascript">setNewDeviseInvestment("{{selDevName}}","{{selDevSym}}");</script>
    <script>drawGraphs()</script>
{% endblock %}
