{% extends '/output/comparison_items/comp_projects.twig' %}

{% import "/templates/navbar.twig" as navbar %}
{% block navbar %}{{ navbar.navbar(is_connected,is_admin,devises) }}{% endblock %}

{% import "/templates/sidebar.twig" as sidebar %}
{% block sidebar %}{{ sidebar.sidebar("comp_projects") }}{% endblock %}

{% import "/templates/comparison/macro_projects.twig" as macro %}

{% block title %}Compare Projects - Investment Indicators{% endblock %}


{% set lorem = "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis sit amet varius neque, eget facilisis urna. Nunc sit amet libero varius erat interdum tempus. Morbi elit diam, malesuada vel iaculis at, fermentum sed metus. Quisque finibus urna et lorem varius aliquam. Aliquam molestie massa non lorem tincidunt aliquam. Fusce ullamcorper euismod arcu eu laoreet. Sed nec faucibus sem. " %}
{% block content %}
<div class="row jumbotron text-light m-5 bg-dark p-3">
    <h5 class="text-justify">{{lorem|nl2br}}</h5>
</div>

<div class="row">
    <div class="col">
        <h4 class="text-center text-dark">Please select Indicators</h4>
    </div>
</div>

{{ macro.insert_table_data(list_compo,compoData, projects) }}

{{ macro.sel_compo_gen(list_compo) }}
<div class="row mt-5">
    <div class="col">
        <h4 class="text-center text-dark">Investment Indicators Comparative Graph</h4>
    </div>
</div>
{{ macro.insert_graphes(list_compo) }}



{% endblock %}

{% block scripts %}
    {{ parent() }}
    <div id="data"  data-compo="{{ compoData|json_encode }}" data-list-compo="{{ list_compo|json_encode }}" data-projects="{{ projects|json_encode }}" data-cat="{{ cat2Indicator|json_encode }}" ></div>
    <script type="text/javascript" src="../../public/assets/js/custom/comp_projects/graphCompo.js"></script>
    <script type="text/javascript">setNewDeviseInvestment("{{selDevName}}","{{selDevSym}}");</script>
    <script>drawGraphs()</script>
{% endblock %}
