{% macro list_ucs(ucs,sel_critCat,sel_crit,repart_crit,sel_DLTs,pertCrit,pertDLT,list_sel) %}
{% set color = ['#3482FF','#90E84A','#FFF552','#36A8FF','#5FFF88'] %}
<div class="row">
    <div class="col mt-5 mx-5 list-table text-center ucs-table">
        <table id="table_uc" class='table table-lg table-bordered table-responsive-lg align-middle'>
            <thead class="thead-dark">
                <tr scope="row">
                    <th rowspan=2 colspan=2>Use Cases</th>
                    {% for cat in sel_critCat %}
                    <th rowspan=1 colspan={{repart_crit[cat[0]]}} class="more_Crit" style="background:{{ color[cat[0]-1] }};">{{ cat[1] }}</th>
                    {% endfor %}
                    <th rowspan=2 colspan=1>Average on</br>Criteria</th>
                    <th rowspan=1 colspan={{ sel_DLTs|length }} class="more_DLT">District Location Types</th>
                    <th rowspan=2 colspan=1>Average on</br>District Location Types</th>
                    <th rowspan=2 colspan=1>Average</th>
                </tr>
                <tr>
                    {% for crit in sel_crit %}
                    <th rowspan=1 colspan=1 id="crit_{{ crit[0] }}" class="more_Crit">{{ crit[1] }}</th>
                    {% endfor %}
                    {% for DLT in sel_DLTs %}
                    <th rowspan=1 colspan=1 id="DLT_{{ DLT[0] }}" class="more_DLT">{{ DLT[1] }}</th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                {% for uc in ucs %}
                <tr id="uc_{{ uc[0] }}" scope="row" >
                    {% if list_sel and (uc[0] in list_sel) %}
                    <td class="check-col" scope="col"><input onclick="countChecked_uc(form_uc);" type="checkbox" id='{{ uc[0] }}' name="{{ uc[0] }}" checked></td>
                    {% else %}
                    <td class="check-col" scope="col"><input onclick="countChecked_uc(form_uc);" type="checkbox" id='{{ uc[0] }}' name="{{ uc[0] }}"></td>
                    {% endif %}
                    <td scope="col"><label for="check">{{ uc[1] }}</label></td>

                    {% set sum_crit = 0 %}
                    {% for crit in sel_crit %}
                    {% set sum_crit = sum_crit + pertCrit[uc[0]][crit[0]] %}
                    <td id="pertCrit_{{uc[0]}}_{{crit[0]}}" class="more_Crit" scope="col">{{ pertCrit[uc[0]][crit[0]] }}</td>
                    {% endfor %}
                    {% set av_crit = (sum_crit/(sel_crit|length))|round %}
                    <td scope="col">{{ av_crit }}</td>

                    {% set sum_DLT = 0 %}
                    {% for DLT in sel_DLTs %}
                    {% set sum_DLT = sum_DLT + pertDLT[uc[0]][DLT[0]] %}
                    <td id="pertDLT_{{uc[0]}}_{{DLT[0]}}" class="more_DLT" scope="col">{{ pertDLT[uc[0]][DLT[0]] }}</td>
                    {% endfor %}
                    {% set av_DLT = (sum_DLT/(sel_DLTs|length))|round %}
                    <td scope="col">{{ av_DLT }}</td>
                    {% set sum_tot = (sum_crit + sum_DLT) %}
                    {% set nb_tot = ((sel_crit|length)+(sel_DLTs|length)) %}
                    <td scope="col">{{ (sum_tot/nb_tot)|round }}</td>
                    <span class="infos_pert" hidden>{{uc[0]}}-{{sum_tot}}-{{nb_tot}}</span>
                </tr>
                {% endfor %}
                {# <tr id="uc_2" scoe="row">
                    <td class="check-col" scope="col"><input onclick="countChecked_uc(form_uc);" type="checkbox" id='check' name="check"></td>
                    <td scope="col"><label for="check">Hello world</label></td>
                    <td scope="col">1</td>
                    <td scope="col">1</td>
                    <td class="more_Crit" scope="col">1</td>
                    <td class="more_Crit" scope="col">1</td>
                    <td class="more_Crit" scope="col">1</td>
                    <td class="more_Crit" scope="col">1</td>
                    <td class="more_Crit" scope="col">1</td>
                    <td class="more_Crit" scope="col">1</td>
                    <td scope="col">1</td>
                    <td class="more_DLT" scope="col">2</td>
                    <td class="more_DLT" scope="col">2</td>
                    <td class="more_DLT" scope="col">2</td>

                </tr>
                <tr id="uc_3" scoe="row">
                    <td class="check-col" scope="col"><input onclick="countChecked_uc(form_uc);" type="checkbox" id='check' name="check"></input>
                    <td scope="col"><label for="check">Test</label></td>
                    <td scope="col">0</td>
                    <td scope="col">0</td>
                    <td class="more_Crit" scope="col">1</td>
                    <td class="more_Crit" scope="col">1</td>
                    <td class="more_Crit" scope="col">1</td>
                    <td class="more_Crit" scope="col">1</td>
                    <td class="more_Crit" scope="col">1</td>
                    <td class="more_Crit" scope="col">1</td>
                    <td scope="col">1</td>
                    <td class="more_DLT" scope="col">0</td>
                    <td class="more_DLT" scope="col">0</td>
                    <td class="more_DLT" scope="col">0</td>
                </tr>
                <tr id="uc_4" scoe="row">
                    <td class="check-col" scope="col"><input onclick="countChecked_uc(form_uc);" type="checkbox" id='check' name="check"></input>
                    <td scope="col"><label for="check">Test</label></td>
                    <td scope="col">0</td>
                    <td scope="col">0</td>
                    <td class="more_Crit" scope="col">1</td>
                    <td class="more_Crit" scope="col">1</td>
                    <td class="more_Crit" scope="col">1</td>
                    <td class="more_Crit" scope="col">1</td>
                    <td class="more_Crit" scope="col">1</td>
                    <td class="more_Crit" scope="col">1</td>
                    <td scope="col">1</td>
                    <td class="more_DLT" scope="col">0</td>
                    <td class="more_DLT" scope="col">0</td>
                    <td class="more_DLT" scope="col">0</td>
                </tr>
                <tr id="uc_5" scoe="row">
                    <td class="check-col" scope="col"><input onclick="countChecked_uc(form_uc);" type="checkbox" id='check' name="check"></input>
                    <td scope="col"><label for="check">Test</label></td>
                    <td scope="col">0</td>
                    <td scope="col">0</td>
                    <td class="more_Crit" scope="col">1</td>
                    <td class="more_Crit" scope="col">1</td>
                    <td class="more_Crit" scope="col">1</td>
                    <td class="more_Crit" scope="col">1</td>
                    <td class="more_Crit" scope="col">1</td>
                    <td class="more_Crit" scope="col">1</td>
                    <td scope="col">1</td>
                    <td class="more_DLT" scope="col">0</td>
                    <td class="more_DLT" scope="col">0</td>
                    <td class="more_DLT" scope="col">0</td>
                </tr>
                <tr id="uc_6" scoe="row">
                    <td class="check-col" scope="col"><input onclick="countChecked_uc(form_uc);" type="checkbox" id='check' name="check"></input>
                    <td scope="col"><label for="check">Test</label></td>
                    <td scope="col">0</td>
                    <td scope="col">0</td>
                    <td class="more_Crit" scope="col">1</td>
                    <td class="more_Crit" scope="col">1</td>
                    <td class="more_Crit" scope="col">1</td>
                    <td class="more_Crit" scope="col">1</td>
                    <td class="more_Crit" scope="col">1</td>
                    <td class="more_Crit" scope="col">1</td>
                    <td scope="col">1</td>
                    <td class="more_DLT" scope="col">0</td>
                    <td class="more_DLT" scope="col">0</td>
                    <td class="more_DLT" scope="col">0</td>
                </tr>
                <tr id="uc_7" scoe="row">
                    <td class="check-col" scope="col"><input onclick="countChecked_uc(form_uc);" type="checkbox" id='check' name="check"></input>
                    <td scope="col"><label for="check">Test</label></td>
                    <td scope="col">0</td>
                    <td scope="col">0</td>
                    <td class="more_Crit" scope="col">1</td>
                    <td class="more_Crit" scope="col">1</td>
                    <td class="more_Crit" scope="col">1</td>
                    <td class="more_Crit" scope="col">1</td>
                    <td class="more_Crit" scope="col">1</td>
                    <td class="more_Crit" scope="col">1</td>
                    <td scope="col">1</td>
                    <td class="more_DLT" scope="col">0</td>
                    <td class="more_DLT" scope="col">0</td>
                    <td class="more_DLT" scope="col">0</td>
                </tr> #}
            </tbody>
        </table>
    </div>
</div>
{% endmacro %}