{% macro list_measures(measures,list_sel=[]) %}

<div class="row text-center">
    <div class="col mt-5 mx-5 list-table">
        <table class='table table-sm table-bordered table-striped table-responsive-lg'>
            <thead class="thead-dark text-center sticky-top">
                <tr>
                    <th scope="col" class="check-col"></th>
                    <th scope="col">Name</th>
                    <th scope="col">Description</th>
                </tr>
            </thead>
            <tbody>
            {% for id_meas,meas in measures %}
                <tr id = "tr_{{ id_meas }}" scope="row">
                    {% if list_sel and (id_meas in list_sel) %}
                    <td class="check-col align-middle"><input type="checkbox" onclick="countChecked_meas(form_meas);"  id='{{ id_meas }}' name="{{ id_meas }}" checked></td>
                    {% else %}
                    <td class="check-col align-middle"><input type="checkbox" onclick="countChecked_meas(form_meas);"   id='{{ id_meas }}' name="{{ id_meas }}"></td>
                    {% endif %}
                    <td class="font-weight-bold">{{ meas['name'] }}</td>
                    <td>{{ meas['description'] }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endmacro %}