{% macro list_DLTs(DLTs,list_sel=[]) %}

<div class="row text-center">
    <div class="col mt-5 mx-5 list-table">
        <table class='table table-sm table-bordered table-striped table-responsive-lg'>
            <thead class="thead-dark text-center sticky-top">
                <tr>
                    <th scope="col" class="check-col"></th>
                    <th scope="col">Name</th>
                    <th scope="col">Description</th>
                </tr>
            </thead>
            <tbody>
            {% for DLT in DLTs %}
                <tr id = "tr_{{ DLT[0] }}" scope="row">
                    {% if list_sel and (DLT[0] in list_sel) %}
                    <td class="check-col"><input type="checkbox" onclick="countChecked_DLTs(form_DLTs);"  id='{{ DLT[0] }}' name="{{ DLT[0] }}" checked></td>
                    {% else %}
                    <td class="check-col"><input type="checkbox" onclick="countChecked_DLTs(form_DLTs);"   id='{{ DLT[0] }}' name="{{ DLT[0] }}"></td>
                    {% endif %}
                    <td class="font-weight-bold">{{ DLT[1] }}</td>
                    <td>{{ DLT[2] }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endmacro %}