{% macro list_measures(measures,list_sel=[]) %}

<div class="row text-center">
    <div class="col mt-5 mx-5 list-table">
        <table class='table table-sm table-bordered table-striped table-responsive-lg'>
            <thead class="thead-dark text-center sticky-top">
                <tr>
                    <th scope="col" class="check-col"></th>
                    <th scope="col">Name</th>
                    <th scope="col">Description</th>
                </tr>
            </thead>
            <tbody>
            {% for meas in measures %}
                <tr id = "tr_{{ meas[0] }}" scope="row">
                    {% if list_sel and (meas[0] in list_sel) %}
                    <td class="check-col align-middle"><input type="checkbox" onclick="countChecked_meas(form_meas);"  id='{{ meas[0] }}' name="{{ meas[0] }}" checked></td>
                    {% else %}
                    <td class="check-col align-middle"><input type="checkbox" onclick="countChecked_meas(form_meas);"   id='{{ meas[0] }}' name="{{ meas[0] }}"></td>
                    {% endif %}
                    <td class="font-weight-bold">{{ meas[1] }}</td>
                    <td>{{ meas[2] }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endmacro %}