{################## VERSION INPUT OUTPUT ####################

{% macro navbar(is_connected=false,is_admin=false,devises=[]) %}
  {% if is_connected %}
<nav class="navbar navbar-expand-md navbar-dark bg-dark">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href=".">Home <span class="sr-only">({{traduction.getText("current")}})</span></a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Input
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="?A=project_design">Project Design</a>
          <a class="dropdown-item" href="?A=project_scoping">Project Scoping</a>
          <a class="dropdown-item" href="?A=cost_benefits">Cost Benefits</a>
          <a class="dropdown-item" href="?A=funding">Funding</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Output
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="?A=dashboards">{{traduction.getText("dashboards")}}</a>
          <a class="dropdown-item" href="?A=comparison">Comparison</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="?A=business_model">Business Model</a>
      </li>
    </ul>
  </div>
  <ul class="navbar-nav">
      {% if is_admin %}
      <li class="nav-item"><a href="?A=admin"><span class="oi oi-wrench nav-link"  title="wrench" aria-hidden="true"></span></a></li>
      {% endif %}      
      <li class="nav-item"><a href="?A=profile"><span class="oi oi-person nav-link"  title="person" aria-hidden="true"></span></a></li>
      <li class="nav-item"><a href="#"><span class="oi oi-account-logout nav-link" data-toggle="modal" data-target="#askLogoutModal" title="account-logout" aria-hidden="true"></span></a></li>
      <li class="nav-item dropleft">
          <span class="nav-link oi oi-cog" title="cog" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"aria-hidden="true"></span>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" href="#">Language</a>
            <a class="dropdown-item dropdown-toggle" data-toggle="dropdown" href="#">Currency</a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              {% if devises %}
                {% for id_devise,devise in devises %}
                  <a class="dropdown-item" id="link_setDevise_{{id_devise}}" href="?A=setDevise&amp;id={{id_devise}}">{{devise['name']}} ({{devise['symbol']}})</a>
                  <script type='text/javascript'>getPart({{id_devise}});</script>
                {% endfor %}
              {% else %}                  
              <span class="dropdown-item text-danger font-italic">There is no devise, please contact an administrator</>
              {% endif %}
            </div>
          </div>
      </li>
  </ul>
</nav>
  {% else %}
<nav class="navbar navbar-expand-md navbar-dark bg-dark sticky-top d-flex justify-content-end">
  <ul class="navbar-nav">
      <li class="nav-item dropleft">
          <span class="nav-link oi oi-cog disabled" title="cog" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"aria-hidden="true"></span>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" href="#">Language</a>
          </div>
      </li>
  </ul>
</nav>
  {% endif %}
  
<!-- Modal -->
<div class="modal fade" id="askLogoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Logging out confirmation</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Do you want to log out ?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
        <a  href="?A=logout"><button type="button" class="btn btn-dark">Yes</button></a>
      </div>
    </div>
  </div>
</div>
{% endmacro %}  #}


{# VERSION PROJECT DESIGN - CB - FINANCING #}

{% macro navbar(is_connected=false,is_admin=false,devises=[]) %}
{% import "/templates/traductions.twig" as traduction %}
  {% if is_connected %}
<nav class="navbar navbar-expand-md navbar-dark bg-dark">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href=".">{{traduction.getText("home")}} <span class="sr-only">({{traduction.getText("current")}})</span></a>
      </li>
      {% if isDev %}
      <li class="nav-item">
        <a class="nav-link" href="?A=project_design">{{traduction.getText("project_design")}} <span class="sr-only">({{traduction.getText("current")}})</span></a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{traduction.getText("cost_benefits")}}</a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="?A=project_scoping">{{traduction.getText("input_project")}}</a>
          <a class="dropdown-item" href="?A=cost_benefits">{{traduction.getText("input_use_case")}}</a>
          <a class="dropdown-item" href="?A=dashboards">{{traduction.getText("dashboards")}}</a>
          <a class="dropdown-item" href="?A=comparison">{{traduction.getText("comparaison")}}</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{traduction.getText("financing")}} </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="?A=funding">{{traduction.getText("funding")}}</a>
          <a class="dropdown-item" href="?A=business_model">{{traduction.getText("buisness_model")}}</a>
        </div>
      </li>
      {% endif %}
      {% if isSup %}
      {#                  SUPPLIERS BC              #}
      <li class="nav-item">
        <a class="nav-link" href="?A=project_sdesign">{{traduction.getText("project_initialization")}} <span class="sr-only">({{traduction.getText("current")}})</span></a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink_supplier" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{traduction.getText("supplier_bc")}} </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="?A=input_project_common_supplier">{{traduction.getText("input_project_overlay")}} </a>
          <a class="dropdown-item" href="?A=input_use_case_supplier">{{traduction.getText("input_use_case")}}</a>
          <a class="dropdown-item" href="?A=supplier_dashboards">{{traduction.getText("dashboards")}}</a>
        </div>
      </li>
      {#                  CUSTOMERS BC              #}
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink_customer" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{traduction.getText("customer_bc")}}</a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="?A=input_project_common">{{traduction.getText("input_project_overlay")}} </a>
          <a class="dropdown-item" href="?A=input_use_case">{{traduction.getText("input_use_case")}}</a>
          <a class="dropdown-item" href="?A=customer_dashboards">{{traduction.getText("dashboards")}}</a>
        </div>
      </li>
      {% endif %}
    </ul>
  </div>
  <ul class="navbar-nav">
      {% if is_admin %}
      <li class="nav-item"><a href="?A=admin"><span class="oi oi-wrench nav-link"  title="wrench" aria-hidden="true"></span></a></li>
      {% endif %}      
      <li class="nav-item"><a href="?A=profile"><span class="oi oi-person nav-link"  title="person" aria-hidden="true"></span></a></li>
      <li class="nav-item"><a href="#"><span class="oi oi-account-logout nav-link" data-toggle="modal" data-target="#askLogoutModal" title="account-logout" aria-hidden="true"></span></a></li>
      <li class="nav-item dropleft">
          <span class="nav-link oi oi-cog" title="cog" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"aria-hidden="true"></span>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item dropdown-toggle" data-toggle="dropdown" href="#">{{traduction.getText("language")}}</a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item" id="language_en" href="?A=setLanguage&amp;language=en">{{traduction.getText("english")}}</a>
              <a class="dropdown-item" id="language_fr" href="?A=setLanguage&amp;language=fr">{{traduction.getText("french")}}</a>
            </div>
            <a class="dropdown-item dropdown-toggle" data-toggle="dropdown" href="#">{{traduction.getText("currency")}}</a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              {% if devises %}
                {% for id_devise,devise in devises %}
                  <a class="dropdown-item" id="link_setDevise_{{id_devise}}" href="?A=setDevise&amp;id={{id_devise}}">{{devise['name']}} ({{devise['symbol']}})</a>
                  <script type='text/javascript'>getPart({{id_devise}});</script>
                {% endfor %}
              {% else %}                  
              <span class="dropdown-item text-danger font-italic">{{traduction.getText("navbar_no_devise")}}</>
              {% endif %}
            </div>
          </div>
      </li>
  </ul>
</nav>
  {% else %}
<nav class="navbar navbar-expand-md navbar-dark bg-dark sticky-top d-flex justify-content-end">
  <ul class="navbar-nav">
      <li class="nav-item dropleft">
          <span class="nav-link oi oi-cog disabled" title="cog" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"aria-hidden="true"></span>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" href="#">{{traduction.getText("language")}}</a>
          </div>
      </li>
  </ul>
</nav>
  {% endif %}
  
<!-- Modal -->
<div class="modal fade" id="askLogoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">{{traduction.getText("navbar_log_out_conf")}}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
      {{traduction.getText("navbar_log_out_?")}}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">{{traduction.getText("no")}}</button>
        <a  href="?A=logout"><button type="button" class="btn btn-dark">{{traduction.getText("yes")}}</button></a>
      </div>
    </div>
  </div>
</div>
{% endmacro %}