{% macro rate_table(sel_ucs,sel_critCat,sel_crit,repart_crit,rates,sel_meas,repart_ucs,guidCrit,rates) %}
{% set color = ['#3482FF','#90E84A','#FFF552','#36A8FF','#5FFF88'] %}
<div class="row">
    <div class="col mt-3 mx-5 list-table text-center rate-table">
        <table id="table_rate" class='table table-lg table-bordered table-striped table-responsive-lg align-middle'>
            <thead class="thead-dark sticky-top">
                <tr scope="row">
                    {# <th colspan=1 rowspan=3>Measures</th> #}
                    <th colspan=1 rowspan=3>Use Cases</th>
                    {% for cat in sel_critCat %}
                    <th rowspan=1 colspan={{repart_crit[cat[0]]}} style="background:{{ color[cat[0]-1] }};">{{ cat[1] }}</th>
                    {% endfor %}
                </tr>
                <tr scope="row">
                    {% for crit in sel_crit %}
                    <th rowspan=1 colspan=1 id="crit_{{ crit[0] }}">{{ crit[1] }}</th>
                    {% endfor %}
                </tr>
                <tr scope="row">
                    {% for crit in sel_crit %}
                    <th class="myPopover text-info font-italic"
                    data-toggle="popover"
                    data-placement="right" title="{{crit[1]}}"
                    data-trigger="click"
                    data-html=true
                    data-content="<img class='img_guid' src='/public/img/Guidance/Rating/criteria1.png'/>">Rating Guidance</th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                {% for uc in sel_ucs %}
                <tr>
                    <td scope="col" rowspan=1>{{ uc[1] }}</td>                    
                    {% for crit in sel_crit %}
                    <td scope="col" rowspan=1><input oninput="colorFilled();" type="number" min=1 max=10 placeholder="{{guidCrit[uc[0]][crit[0]][1]}}-{{guidCrit[uc[0]][crit[0]][2]}}" name="{{uc[0]}}_{{crit[0]}}" required value={{ rates ? rates[uc[0]][crit[0]] : ""}}></td>
                    {% endfor %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endmacro %}