{% macro second_bar(username, part, selected, part2="", selected2="") %}
<div class="row infos-bar align-content-center">
    <div class="col-lg text-left">
        <span class="text-uppercase">{{ part }}{{ selected ? " :" : "" }}</span>&emsp;<strong>{{ selected }}</strong>
        {% if part2 and selected2 %}
        <span class="ml-5 text-uppercase">{{ part2 }} :</span>&emsp;<strong>{{ selected2 }}</strong>
        {% endif %}
    </div>
    <div class="col-lg text-right">
        <span class="text-uppercase"> Username :</span>&emsp;<strong>{{ username }}</strong>
    </div>
</div>
{% endmacro %}