{% macro sidebar(page,selectID=0,selectID2=0) %}
    <div class="nav navbar-dark bg-dark nav-pills flex-column sidebar">
        <a class="navbar-brand px-5 py-3" href="?A=home"><h3 class="text-center">Urbatis AI</h3></a>
       
        <!-- - Input - / Project Design -->
        {% if page=="project_design" %}
        <h4 class="nav-item text-center">- Input -<br>Project Design</h4>
        <a class="nav-item nav-link" id="ucm" href="?A=project_design&amp;A2=ucm">1 - Use Cases Menu</a>
        <a class="nav-item nav-link disabled" id="measures" href="?A=project_design&amp;A2=measures&amp;ucmID={{ selectID }}">2 - Measures</a>
        <a class="nav-item nav-link disabled" id="criteria" href="?A=project_design&amp;A2=criteria&amp;ucmID={{ selectID }}">3 - Criteria</a>
        <a class="nav-item nav-link disabled" id="geography" href="?A=project_design&amp;A2=geography&amp;ucmID={{ selectID }}">4 - Geography</a>
        <a class="nav-item nav-link disabled" id="use_case" href="?A=project_design&amp;A2=use_case&amp;ucmID={{ selectID }}">5 - Use Case</a>
        <a class="nav-item nav-link disabled" id="rating"  href="?A=project_design&amp;A2=rating&amp;ucmID={{ selectID }}">6 - Rating</a>
        <a class="nav-item nav-link disabled" id="scoring"  href="?A=project_design&amp;A2=scoring&amp;ucmID={{ selectID }}">7 - Scoring</a>
        <a class="nav-item nav-link disabled" id="global_score"  href="?A=project_design&amp;A2=global_score&amp;ucmID={{ selectID }}">8 - Global Score</a>
    
        <!-- - Input - / Project Scoping -->
        {% elseif page=="project_scoping" %}
        <h4 class="nav-item text-center">- Input -<br>Project Scoping</h4>
        <a class="nav-item nav-link" id="project" href="?A=project_scoping&amp;A2=project">1 - Project</a>
        <a class="nav-item nav-link disabled" id="scope" href="?A=project_scoping&amp;A2=scope&amp;projID={{ selectID }}">2 - Scope</a>
        <a class="nav-item nav-link disabled" id="perimeter" href="?A=project_scoping&amp;A2=perimeter&amp;projID={{ selectID }}">3 - Perimeter</a>
        <a class="nav-item nav-link disabled" id="size" href="?A=project_scoping&amp;A2=size&amp;projID={{ selectID }}">4 - Size</a>
        <a class="nav-item nav-link disabled" id="volumes" href="?A=project_scoping&amp;A2=volumes&amp;projID={{ selectID }}">5 - Volumes</a>
        <a class="nav-item nav-link disabled" id="schedule" href="?A=project_scoping&amp;A2=schedule&amp;projID={{ selectID }}">6 - Schedule</a>
        <a class="nav-item nav-link disabled" id="discount_rate" href="?A=project_scoping&amp;A2=discount_rate&amp;projID={{ selectID }}">7 - Discount Rate</a>
        




        <!-- - Input - / Cost Benefits -->
    {% elseif page=="cost_benefits" %}
        <h4 class="nav-item text-center">- Input -<br>Cost Benefits</h4>        
        <a class="nav-item nav-link" id="project_cb" href="?A=cost_benefits&amp;A2=project_cb">1 - Project</a>
        <a class="nav-item nav-link disabled" id="use_case_cb" href="?A=cost_benefits&amp;A2=use_case_cb&amp;projID={{ selectID }}">2 - Use Cases</a>
        <a class="nav-item nav-link disabled" id="capex" href="?A=cost_benefits&amp;A2=capex&amp;projID={{ selectID }}&amp;ucID={{ selectID2 }}">3 - Capex</a>
        <a class="nav-item nav-link disabled" id="implem" href="?A=cost_benefits&amp;A2=implem&amp;projID={{ selectID }}&amp;ucID={{ selectID2 }}">4 - Implementation</a>
        <a class="nav-item nav-link disabled" id="opex" href="?A=cost_benefits&amp;A2=opex&amp;projID={{ selectID }}&amp;ucID={{ selectID2 }}">5 - Opex</a>
        <a class="nav-item nav-link disabled" id="revenues" href="?A=cost_benefits&amp;A2=revenues&amp;projID={{ selectID }}&amp;ucID={{ selectID2 }}">6 - Revenues</a>
        <a class="nav-item nav-link disabled" id="cashreleasing" href="?A=cost_benefits&amp;A2=cashreleasing&amp;projID={{ selectID }}&amp;ucID={{ selectID2 }}">7 - Cash Releasing Benefits</a>
        <a class="nav-item nav-link disabled" id="widercash" href="?A=cost_benefits&amp;A2=widercash&amp;projID={{ selectID }}&amp;ucID={{ selectID2 }}">8 - Wider Cash Benefits</a>
        <a class="nav-item nav-link disabled" id="noncash" href="?A=cost_benefits&amp;A2=noncash&amp;projID={{ selectID }}&amp;ucID={{ selectID2 }}">9 - Non Cash Benefits</a>
        <a class="nav-item nav-link disabled" id="risks" href="?A=cost_benefits&amp;A2=risks&amp;projID={{ selectID }}&amp;ucID={{ selectID2 }}">10 - Risks</a>
        <a class="nav-item nav-link disabled" id="summary" href="?A=cost_benefits&amp;A2=summary&amp;projID={{ selectID }}">11 - Summary</a>



        <!-- - Input - / Funding -->
    {% elseif page=="funding" %}        
        <h4 class="nav-item text-center">- Input -<br>Funding</h4>
        <a class="nav-item nav-link" id="scenario" href="?A=funding&amp;A2=scenario">1 - Scenario</a>
        <a class="nav-item nav-link disabled" id="work_cap_req" href="?A=funding&amp;A2=work_cap_req&amp;scenID={{selectID}}">2 - Working Capital Req.</a>
        <a class="nav-item nav-link disabled" id="funding_sources" href="?A=funding&amp;A2=funding_sources&amp;scenID={{selectID}}">3 - Funding Sources</a>
        <a class="nav-item nav-link disabled" id="benef" href="?A=funding&amp;A2=benef&amp;scenID={{selectID}}">4 - Beneficiary</a>

        <!-- Business Model -->
    {% elseif page=="business_model" %}
        <h4 class="nav-item text-center">- Input -<br>Business Model</h4>
        <a class="nav-item nav-link " id="project" href="?A=business_model&amp;A2=project">1 - Project</a>
        <a class="nav-item nav-link disabled" id="pref" href="?A=business_model&amp;A2=pref&amp;projID={{ selectID }}">2 - Preferences </a>
        <a class="nav-item nav-link disabled" id="reco" href="?A=business_model&amp;A2=reco&amp;projID={{ selectID }}">3 - Recommendations </a>

        <!-- - Output - / Dashboards -->
    {% elseif page=="dashboards" %}
        <h4 class="nav-item text-center">- Output -<br>Dashboards</h4>
        <a class="nav-item nav-link" id="project" href="?A=dashboards&amp;A2=project">1 - Project</a>
        <a class="nav-item nav-link disabled" id="cost_benefits_uc" href="?A=dashboards&amp;A2=cost_benefits_uc&amp;projID={{ selectID }}">2 - Cost Benefits Per Use Case</a>
        <a class="nav-item nav-link disabled" id="cost_benefits_all" href="?A=dashboards&amp;A2=cost_benefits_all&amp;projID={{ selectID }}">3 - Cost Benefits All Use Cases</a>
        <a class="nav-item nav-link disabled" id="budget_uc" href="?A=dashboards&amp;A2=budget_uc&amp;projID={{ selectID }}">4 - Budget Per Use Case</a>        
        <a class="nav-item nav-link disabled" id="budget_all" href="?A=dashboards&amp;A2=budget_all&amp;projID={{ selectID }}">5 - Budget All Use Cases</a>
        <a class="nav-item nav-link disabled" id="bankability" href="?A=dashboards&amp;A2=bankability&amp;projID={{ selectID }}">6 - Bankability</a>
        <a class="nav-item nav-link disabled" id="financing" href="?A=dashboards&amp;A2=financing&amp;projID={{ selectID }}">7 - Financing</a>
        <a class="nav-item nav-link disabled" id="project_dashboard" href="?A=dashboards&amp;A2=project_dashboard&amp;projID={{ selectID }}">8 - Project Dashboard</a>

        <!-- - Output - / Comparison -->
    {% elseif page=="comparison" %}
        <h4 class="nav-item text-center">- Output -<br>Comparison</h4>
        <a class="nav-item nav-link" id="comp_projects" href="?A=comp_projects">Compare Projects</a>
        <a class="nav-item nav-link" id="comp_finscen" href="?A=comp_finscen">Compare Financial&nbsp;Scenarios</a>
    {% elseif page=="comp_projects" %}
        <h4 class="nav-item text-center">- Output -<br>Compare Projects</h4>
        <a class="nav-item nav-link" id="projects" href="?A=comp_projects&amp;A2=projects">Projects</a>
        <a class="nav-item nav-link" id="summary" href="?A=comp_projects&amp;A2=summary">Summary</a>
        <a class="nav-item nav-link" id="invest" href="?A=comp_projects&amp;A2=invest">Investment</a>
        <a class="nav-item nav-link" id="op" href="?A=comp_projects&amp;A2=op">Operations</a>
        <a class="nav-item nav-link" id="cash_flows" href="?A=comp_projects&amp;A2=cash_flows">Cash Flows</a>
        <a class="nav-item nav-link" id="non_quant" href="?A=comp_projects&amp;A2=non_quant">Non Quantifiable</a>
        <a class="nav-item nav-link" id="finsoc_comp" href="?A=comp_projects&amp;A2=finsoc_comp">Financial & Societal Comp.</a>
    {% elseif page=="comp_finscen" %}
        <h4 class="nav-item text-center">- Output -<br>Compare Financial Scenarios</h4>
        <a class="nav-item nav-link" id="scenarios" href="?A=comp_finscen&amp;A2=scenarios">Scenarios</a>
        <a class="nav-item nav-link" id="fin_summary" href="?A=comp_finscen&amp;A2=fin_summary">Financing Summary</a>
        <a class="nav-item nav-link" id="cash_balance" href="?A=comp_finscen&amp;A2=cash_balance">Cash Balance</a>

        
        <!-- Admin -->
    {% elseif page=="admin" %}
        <h4 class="nav-item text-center">Administration</h4>
        <a class="nav-item nav-link" id="manage_db" href="?A=admin&amp;A2=manage_db"><span class="oi oi-pencil nav-link" title="pencil" aria-hidden="true"></span>Manage Database</a>
        <a class="nav-item nav-link disabled" id="id" href="">Other</a>
    {% elseif page=="manage_db" %}
        <h4 class="nav-item text-center">Manage Database</h4>
        <a class="nav-item nav-link" id="manage_users" href="?A=admin&amp;A2=manage_db&amp;A3=manage_users"><span class="oi oi-people nav-link" title="people" aria-hidden="true"></span>Users</a>
        <a class="nav-item nav-link" id="manage_measures" href="?A=admin&amp;A2=manage_db&amp;A3=manage_measures"><span class="oi oi-spreadsheet nav-link" title="spreadsheet" aria-hidden="true"></span>Measures</a>
        <a class="nav-item nav-link" id="manage_uc_cat" href="?A=admin&amp;A2=manage_db&amp;A3=manage_uc_cat"><span class="oi oi-spreadsheet nav-link" title="spreadsheet" aria-hidden="true"></span>Use Cases Categories</a>
        <a class="nav-item nav-link" id="manage_usecases" href="?A=admin&amp;A2=manage_db&amp;A3=manage_usecases"><span class="oi oi-spreadsheet nav-link" title="spreadsheet" aria-hidden="true"></span>Use Cases</a>
        <a class="nav-item nav-link" id="manage_crit_cat" href="?A=admin&amp;A2=manage_db&amp;A3=manage_crit_cat"><span class="oi oi-spreadsheet nav-link" title="spreadsheet" aria-hidden="true"></span>Criteria Categories</a>
        <a class="nav-item nav-link" id="manage_criteria" href="?A=admin&amp;A2=manage_db&amp;A3=manage_criteria"><span class="oi oi-spreadsheet nav-link" title="spreadsheet" aria-hidden="true"></span>Criteria</a>
        <a class="nav-item nav-link" id="manage_dlt" href="?A=admin&amp;A2=manage_db&amp;A3=manage_dlt"><span class="oi oi-spreadsheet nav-link" title="spreadsheet" aria-hidden="true"></span>District Location Types</a>
        <a class="nav-item nav-link disabled" id="id" href=""><span class="oi oi-spreadsheet nav-link" title="spreadsheet" aria-hidden="true"></span>Other</a>
        
        <!-- Profile -->
    {% elseif page=="profile" %}
        <h4 class="nav-item text-center">Profile</h4>        
        <a class="nav-item nav-link" id="modify_infos" href="?A=profile&amp;A2=modify_infos"><span class="oi oi-pencil nav-link" title="pencil" aria-hidden="true"></span>Modify Informations</a>
        {# <a class="nav-item nav-link disabled" id="id" href="?A=profile&amp;A2=id"><span class="oi oi-spreadsheet nav-link" title="spreadsheet" aria-hidden="true"></span>Informations</a> #}
        <a class="nav-item nav-link disabled" id="id" href="?A=profile&amp;A2=id"><span class="oi oi-people nav-link" title="people" aria-hidden="true"></span>Groups</a>
    
    
    {% endif %}
    </div>    
{% endmacro %}
