{% macro sidebar(page,selectID=0) %}
    <div class="nav navbar-dark bg-dark nav-pills flex-column sidebar">
        <a class="navbar-brand text-center p-4" href="?A=home">Decision Support Toolkit</a>
       
        <!-- Project Developement -->
    {% if page=="project_dev" %}
        <h4 class="nav-item text-center">- Input -<br>Project Developement</h4>
        <a class="nav-item nav-link" href="?A=project_design">Project Design</a>
        <a class="nav-item nav-link" href="?A=project_scoping">Project Scoping</a>

    {% elseif page=="project_design" %}
        <h4 class="nav-item text-center">- Input -<br>Project Design</h4>
        <a class="nav-item nav-link" id="ucm" href="?A=project_design&amp;A2=ucm">1 - Use Cases Menu</a>
        <a class="nav-item nav-link disabled" id="measures" href="?A=project_design&amp;A2=measures&amp;ucmID={{ selectID }}">2 - Measures</a>
        <a class="nav-item nav-link disabled" id="criteria" href="?A=project_design&amp;A2=criteria&amp;ucmID={{ selectID }}">3 - Criteria</a>
        <a class="nav-item nav-link disabled" id="geography" href="?A=project_design&amp;A2=geography&amp;ucmID={{ selectID }}">4 - Geography</a>
        <a class="nav-item nav-link disabled" id="use_case" href="?A=project_design&amp;A2=use_case&amp;ucmID={{ selectID }}">5 - Use Case</a>
        <a class="nav-item nav-link disabled" id="rating"  href="?A=project_design&amp;A2=rating&amp;ucmID={{ selectID }}">6 - Rating</a>
        <a class="nav-item nav-link disabled" id="scoring"  href="?A=project_design&amp;A2=scoring&amp;ucmID={{ selectID }}">7 - Scoring</a>
        <a class="nav-item nav-link disabled" id="global_score"  href="?A=project_design&amp;A2=global_score&amp;ucmID={{ selectID }}">8 - Global Score</a>
    
        {% elseif page=="project_scoping" %}
        <h4 class="nav-item text-center">- Input -<br>Project Scoping</h4>
        <a class="nav-item nav-link" id="project" href="?A=project_scoping&amp;A2=project">1 - Project</a>
        <a class="nav-item nav-link disabled" id="scope" href="?A=project_scoping&amp;A2=scope&amp;projID={{ selectID }}">2 - Scope</a>
        <a class="nav-item nav-link disabled" id="perimeter" href="?A=project_scoping&amp;A2=perimeter&amp;projID={{ selectID }}">3 - Perimeter</a>
        <a class="nav-item nav-link disabled" id="size" href="?A=project_scoping&amp;A2=size&amp;projID={{ selectID }}">4 - Size</a>
        <a class="nav-item nav-link disabled" id="volumes" href="?A=project_scoping&amp;A2=volumes&amp;projID={{ selectID }}">5 - Volumes</a>
        <a class="nav-item nav-link disabled" id="schedule" href="?A=project_scoping&amp;A2=schedule&amp;projID={{ selectID }}">6 - Schedule</a>
        <a class="nav-item nav-link disabled" id="discount_rate" href="?A=project_scoping&amp;A2=discount_rate&amp;projID={{ selectID }}">7 - Discount Rate</a>
        
        <!-- - Input - / Cost Benefits -->
    {% elseif page=="cost_benefits" %}
        <h4 class="nav-item text-center">- Input -<br>Cost Benefits</h4>
        <a class="nav-item nav-link" id="use_case_cb" href="?A=cost_benefits&amp;A2=use_case_cb">1 - Use Case</a>
        <a class="nav-item nav-link" id="capex" href="?A=cost_benefits&amp;A2=capex">2 - Capex</a>
        <a class="nav-item nav-link" id="implem" href="?A=cost_benefits&amp;A2=implem">3 - Implementation</a>
        <a class="nav-item nav-link" id="opex" href="?A=cost_benefits&amp;A2=opex">4 - Opex</a>
        <a class="nav-item nav-link" id="revenues" href="?A=cost_benefits&amp;A2=revenues">5 - Revenues</a>
        <a class="nav-item nav-link" id="cashreleasing" href="?A=cost_benefits&amp;A2=cashreleasing">6 - Cash Releasing Benefits</a>
        <a class="nav-item nav-link" id="widercash" href="?A=cost_benefits&amp;A2=widercash">7 - Wider Cash Benefits</a>
        <a class="nav-item nav-link" id="noncash" href="?A=cost_benefits&amp;A2=noncash">8 - Non Cash Benefits</a>
        <a class="nav-item nav-link" id="risks" href="?A=cost_benefits&amp;A2=risks">9 - Risks</a>
        
        <!-- - Input - / Financing -->
    {% elseif page=="financing" %}
        <h4 class="nav-item text-center">- Input -<br>Financing</h4>
        <a class="nav-item nav-link" href="?A=business_model">Business Model</a>
        <a class="nav-item nav-link" href="?A=funding">Funding</a>
    {% elseif page=="business_model" %}
        <h4 class="nav-item text-center">- Input -<br>Business Model</h4>
        <a class="nav-item nav-link disabled" id="id" href="#">0 - item</a>
    {% elseif page=="funding" %}        
        <h4 class="nav-item text-center">- Input -<br>Funding</h4>
        <a class="nav-item nav-link" id="scenario" href="?A=funding&amp;A2=scenario">1 - Scenario</a>
        <a class="nav-item nav-link" id="input" href="?A=funding&amp;A2=input">2 - Input</a>
        <a class="nav-item nav-link" id="output" href="?A=funding&amp;A2=output">3 - Output</a>
        <a class="nav-item nav-link" id="benef" href="?A=funding&amp;A2=benef">4 - Beneficiary</a>
        <a class="nav-item nav-link" id="scen_comp" href="?A=funding&amp;A2=scen_comp">5 - Scenarios Comparison</a>
        
        <!-- - Output - / Dashboards -->
    {% elseif page=="dashboards" %}
        <h4 class="nav-item text-center">- Output -<br>Dashboards</h4>
        <a class="nav-item nav-link" id="cost_benefits_out" href="?A=dashboards&amp;A2=cost_benefits_out">Cost Benefits</a>
        <a class="nav-item nav-link" id="budget" href="?A=dashboards&amp;A2=budget">Budget</a>
        <a class="nav-item nav-link" id="financing" href="?A=dashboards&amp;A2=financing">Financing</a>
        <a class="nav-item nav-link" id="bankability" href="?A=dashboards&amp;A2=bankability">Bankability</a>
        <a class="nav-item nav-link disabled" id="environmental" href="?A=dashboards&amp;A2=environmental">Environmental</a>
        
        <!-- - Output - / Scenarios -->
    {% elseif page=="scenarios" %}
        <h4 class="nav-item text-center">- Output -<br>Scenarios</h4>
        <a class="nav-item nav-link disabled" id="id" href="?A=scenarios&amp;A2=id">Comparison</a>
        <a class="nav-item nav-link disabled" id="id" href="?A=scenarios&amp;A2=id">Combination</a>
        
        <!-- Admin -->
    {% elseif page=="admin" %}
        <h4 class="nav-item text-center">Administration</h4>
        <a class="nav-item nav-link" id="manage_db" href="?A=admin&amp;A2=manage_db"><span class="oi oi-pencil nav-link" title="pencil" aria-hidden="true"></span>Manage Database</a>
        <a class="nav-item nav-link disabled" id="id" href="?A=admin&amp;A2=id">Other</a>
    {% elseif page=="manage_db" %}
        <h4 class="nav-item text-center">Manage Database</h4>
        <a class="nav-item nav-link" id="manage_users" href="?A=admin&amp;A2=manage_users"><span class="oi oi-people nav-link" title="poeple" aria-hidden="true"></span>Manage Users</a>
        <a class="nav-item nav-link disabled" id="id" href="?A=admin&amp;A2=id">Other</a>
        
        <!-- Profile -->
    {% elseif page=="profile" %}
        <h4 class="nav-item text-center">Profile</h4>        
        <a class="nav-item nav-link" id="modify_infos" href="?A=profile&amp;A2=modify_infos"><span class="oi oi-pencil nav-link" title="pencil" aria-hidden="true"></span>Modify Informations</a>
        {# <a class="nav-item nav-link disabled" id="id" href="?A=profile&amp;A2=id"><span class="oi oi-spreadsheet nav-link" title="spreadsheet" aria-hidden="true"></span>Informations</a> #}
        <a class="nav-item nav-link disabled" id="id" href="?A=profile&amp;A2=id"><span class="oi oi-people nav-link" title="people" aria-hidden="true"></span>Groups</a>
    
    
    {% endif %}
    </div>    
{% endmacro %}
