{% extends '/others/general_common.twig' %}
{% set sideBarName = 'project_sdesign' %}

{% import "/templates/second_bar.twig" as second_bar %}
{% import "/templates/sidebar.twig" as sidebar %}
{% import "/templates/project_scoping/macro_zones.twig" as list %}

{% block sidebar %}
	{{ sidebar.sidebar("project_sdesign",projID) }}
{% endblock %}

{% block title %}Project Initialization - Perimeter
{% endblock %}

{% block content %}

{{ second_bar.second_bar(username,is_admin,selDevName,selDevSym,part,selected) }}
	{# ------------- Perimeter ---------------- #}


	<div class="row jumbotron text-light mx-5 mt-5 mb-5 bg-dark p-3">
		<div class="col-md-8 mx-auto text-center">
			<p class="text-justify">In order to define the perimeter of the overall project, please select the project location and the relevant details pertaining to the project promoter (client) and to the solution provider (supplier).
			</p>
		</div>
	</div>

<div class="row-6 px-0">
    <div class="dash-bg container-fluid m-1 ml-2 p-4">
			<form id="form_perimeter" name="form_perimeter" action="?A=project_sdesign&amp;A2=perimeter1_inputed" method="post" >
				<div class="dash-bg-light container-fluid p-2">
				
					<h3 class="col-md-12 mx-auto">Project Location </h3>
					<div class="form-group col-md-4">
						<label for="inputCountry">Country</label>
						<input type="text" class="form-control" id="inputCountry" name="inputCountry" value="{{data['country']}}">
					</div>
					<div class="form-group col-md-4">
						<label for="inputCity">City</label>
						<input type="text" class="form-control" id="inputCity" name="inputCity" value="{{data['city']}}">
					</div>
				</div>
				<div class="dash-bg-light container-fluid p-3"> 

					<h3 class="col-md-12 mx-auto">About Customer </h3>
					<div class="form-group col-md-4">
						<label for="inputName">Name</label>
						<input type="text" class="form-control" id="inputName" name="inputName" value="{{data['name']}}">
					</div>
					<div class="form-group col-md-4">
						<label for="inputDepartment">Department</label>
						<input type="text" class="form-control" id="inputDepartment" name="inputDepartment" value="{{data['department']}}">
					</div>
				</div>
				<div class="dash-bg-light container-fluid p-3">
					<h3 class="col-md-12 mx-auto">About Supplier </h3>
					<div class="form-group col-md-4">
						<label for="inputCompany">Company</label>
						<input type="text" class="form-control" id="inputCompany" name="inputCompany" value="{{data['company']}}">
					</div>
					<div class="form-group col-md-4">
						<label for="inputTeam">Team</label>
						<input type="text" class="form-control" id="inputTeam" name="inputTeam" value="{{data['team']}}">
					</div>
				</div>

				<div class="row m-3 text-center text-dark">
					<button type="submit" class="btn btn-link offset-5 col-2 oi oi-arrow-circle-right next-button" title="arrow-circle-right" style="font-size:50px;" aria-hidden="true"></button>
				</div>
			</form>
		</div>
	</div>
</div>


{% endblock %}
