{% extends '/others/general_common.twig' %}

{% import "/templates/second_bar.twig" as second_bar %}
{% import "/templates/project_scoping/modal_hierarchie.twig" as modal %}
{% import "/templates/sidebar.twig" as sidebar %}
{% import "/templates/project_scoping/macro_scope.twig" as list %}

{% block sidebar %}{{ sidebar.sidebar(sideBarName,projID) }}{% endblock %}

{% block title %}{{sideBarName == "project_scoping" ? "Project Scoping - Scope"}}{{sideBarName == "project_sdesign" ? "Project Initialization"}}{% endblock %}

{% block content %}

{% if projID==0 %}
{{ second_bar.second_bar(username,is_admin,selDevName,selDevSym,part,"None") }}
{{ redirect.choose_ucm() }}

{% else %}
{{ second_bar.second_bar(username,is_admin,selDevName,selDevSym,part,selected) }}
<div class="row jumbotron text-light mx-5 mt-5 mb-0 bg-dark p-3">
    <div class="col text-center">
        <h5>Please select the relevant domain, solution and the specific Use Cases. </h5>
    </div>
</div>

{#     ORGANISATION VERTICALE (tableau les uns en dessous des autres)
<div class ="row">
    {% if measures and ucs %} 
        <form class="col container-fluid" name="form_scope" id="form_scope" onsubmit="return countChecked_scope('form_scope');" action="?A=project_scoping&amp;A2=scope_selected" method="post">
            {{ list.list_meas(measures,list_sel) }}
            
            <div class="row mt-4 mb-0 text-center">
                <span id="countMeasSelectScope" class="offset-5 col-2 text-white btn btn-info disabled"></span>
            </div>
            <div class="row text-center mt-3">
                <h6 id="help_meas_scope" class="col text-danger font-weight-bold text-center" hidden>Please select at least one measure !</h6>
            </div>


            {{ list.list_ucs(measures,cat,ucs,list_sel) }}
            
            <div class="row mt-4 mb-0 text-center">
                <span id="countUCSelectScope" class="offset-5 col-2 text-white btn btn-info disabled"></span>
            </div>
            <div class="row text-center mt-3">
                <h6 id="help_uc" class="col text-danger font-weight-bold text-center" hidden>Please select at least one Use Case !</h6>
            </div>


            <div class="row my-0 text-center text-dark">
                <button type="submit" class="btn btn-link offset-5 col-2 oi oi-arrow-circle-right next-button" title="arrow-circle-right" style="font-size:50px;" aria-hidden="true"></button>
            </div>
        </form>
    {% else %}
        <h2 class="col text-center m-5">There is no measure / use case, please contact an administrator.</h2>
    {% endif %}
    </div>
    {% endif %} #}
    
<div class ="row">
    {% if measures and ucs %} 
        <form class="row container-fluid" name="form_scope" id="form_scope" onsubmit="return countChecked_scope('form_scope');" action={{sideBarName == "project_scoping" ? '"?A=project_scoping&amp;A2=scope_selected"'}}{{sideBarName == "project_sdesign" ? '"?A=project_sdesign&amp;A2=scope_selected"'}} method="post">
            <div class="container-fluid">
                <div class="row my-0 text-center text-dark">
                    <button type="submit" class="btn btn-link offset-5 col-2 oi oi-arrow-circle-right next-button mt-4" title="arrow-circle-right" style="font-size:50px;" aria-hidden="true"></button>
                </div>
                <section class="row"> 
                    {# colonne measures #}
                    <div class="col-4 text-center">
                        {{ list.list_meas(measures,list_sel) }}
                        <div class="row mt-4 mb-0 text-center">
                            <span id="countMeasSelectScope" class="offset-4 col-4 text-white btn btn-info disabled"></span>
                        </div>
                        <div class="row text-center mt-3">
                            <h6 id="help_meas_scope" class="col text-danger font-weight-bold text-center" hidden>Please select at least one measure !</h6>
                        </div>
                    </div>

                    {# colonne category #}        
                    <div class="col-4 text-center">
                        {{ list.list_cat(measures, cat, ucs, list_sel) }}
                        <div class="row mt-4 mb-0 text-center">
                            <span id="countCatSelectScope" class="offset-4 col-4 text-white btn btn-info disabled"></span>
                        </div>
                        <div class="row text-center mt-3">
                            <h6 id="help_cat_scope" class="col text-danger font-weight-bold text-center" hidden>Please select at least one category !</h6>
                        </div>
                    </div>

                    {# colone use cases #}
                    <div class="col-md-4 text-center">
                        {% for id_meas,measure in measures %}
                            {% for id_cat,cat_item in cat %}
                            {% set test = false %}
                                {% for id_uc,uc in ucs if uc['id_cat'] == id_cat and uc['id_meas'] == id_meas and test == false %}
                                    {% set test = true %}
                                {% endfor %}
                            {% if test %}
                                            {# afficher un tableau de cette categorie de use case #}
                                {{ list.list_uc2(id_meas, measure,id_cat, cat_item, cat,ucs,list_sel)}}    
                            {% endif %}
                            {% endfor %}
                        {% endfor %}

                        <div class="row mt-4 mb-0 text-center">
                            <span id="countUCSelectScope" class="offset-4 col-4 text-white btn btn-info disabled"></span>
                        </div>
                        <div class="row text-center mt-3">
                            <h6 id="help_uc" class="col text-danger font-weight-bold text-center" hidden>Please select at least one Use Case !</h6>
                        </div>
                    </div>

                </section>


                    
            </div>
        </form>
    {% else %}
            <h2 class="col text-center m-5">There is no measure / use case, please contact an administrator.</h2>
    {% endif %}

    {#<div class = "container row">
        <div class = "col">    <button class="offset-5 btn btn-dark text-light" data-toggle="modal" data-target="#createNewMeasureModal" role="button">Create a new Domain</button></div>
        <div class = "col">    <button class="offset-5 btn btn-dark text-light" data-toggle="modal" data-target="#createNewCategoryModal" role="button">Create a new Solution</button></div>
        <div class = "col">    <button class="offset-5 btn btn-dark text-light" data-toggle="modal" data-target="#createNewUseCaseModal" role="button">Create a new Use Case</button></div>
    </div>
    
    {{ modal.create_measure(users, projID) }}
    {{ modal.create_category() }}
    {{ modal.create_usecase(measures,cat) }}
#}
    
</div>




{% endif %}

{% endblock %}

