{% extends '/others/general_common.twig' %}
{% set sideBarName = 'project_scoping' %}

{% import "/templates/second_bar.twig" as second_bar %}
{% import "/templates/sidebar.twig" as sidebar %}
{% import "/templates/project_scoping/macro_volumes.twig" as list %}

{% block sidebar %}{{ sidebar.sidebar("project_scoping",projID) }}{% endblock %}

{% block title %}Project Scoping - Volumes{% endblock %}

{% block content %}

{% if projID==0 %}
{{ second_bar.second_bar(username,is_admin,selDevName,selDevSym,part,"None") }}
{{ redirect.choose_ucm() }}

{% else %}
{{ second_bar.second_bar(username,is_admin,selDevName,selDevSym,part,selected) }}



<div class="container-fluid px-0">
<div class ="row">
    {% if scope  and perimeter %} 
        <div id="body" class="col-12 text-left">
                       {#-------------- jumbotron --------------#}
            <div class="row jumbotron text-light mx-5 mt-5 mb-0 bg-dark p-3">
                <div class="col text-center">
                    <h5>Please input the number of Use Case items per lamppost in each district location</h5>
                </div>
            </div>
            <form class="col container-fluid" name="form_volumes" id="form_volumes" action="?A=project_scoping&amp;A2=volumes_selected" method="post" onsubmit="return colorFilledVolumes();">
 
            {% for meas,list_ucs in scope %}
            <div class="row mt-5 mb-0">
                <h2 class="mx-auto">Input volumes for {{measures[meas]['name']}}</h2>
                <button class="align-self-center btn btn-danger col-2 btn-sm" type="button" onclick="clearTable('volumes_table_{{meas}}'); return false;">Clear all</button>
                {#<button id="guideline_button" type="button"  class=" mr-5 ml-auto align-self-center btn btn-outline-secondary " onclick="displayGuideline();">Guideline</button>#}               
                
            </div>
            {#---------- tab input -----------#}

            <div hidden class="row m-3 btn-group-sm justify-content-center" role="group">
                {# <button class="col-3 btn btn-dark" type="button" onclick="fillByAv('volumes_table_{{meas}}'); return false;">Fill with default values</button> #}
                
            </div>
            
            {{ list.list_volumes(perimeter,meas,list_ucs,ucs,sizes,mags,components,compo_per_zone,ratio,list_sel) }}
            {% endfor %}
            
            {# <div class="row mt-4 mb-0 text-center">
                <span id="countUCSelect" class="offset-5 col-2 text-white btn btn-info disabled"></span>
            </div> #}

            <div class="row text-center mt-3">
                <h6 id="help_uc" class="col text-danger font-weight-bold text-center" hidden>Please select at least one Use Case !</h6>
            </div>
            <div class="row my-0 text-center text-dark">
                <button type="submit" class="btn btn-link offset-5 col-2 oi oi-arrow-circle-right next-button" title="arrow-circle-right" style="font-size:50px;" aria-hidden="true"></button>
            </div>
            </form>
        </div> 

        {#---------------- guideline ----------------#}
        {#<div id="guideline"  style="display:none;"  class="col-lg-5 guideline">
            <div class="sticky-guideline list-table">
                <h1 class="text-center mt-5 pt-2"> Guideline </h1>
                
                {% for meas,list_ucs in scope %}
                <h2 class="col mt-5 mb-4">{{measures[meas]['name']}}</h2>
                {{ list.list_indic(meas,list_ucs,ucs,measures,ratio,components) }}
                {{ list.list_guid_compo(components, perimeter, meas, compo_per_zone) }}
                {% endfor %}
            </div>#}
    {% else %}


        <h2 class="col text-center m-5">Missing zone / use case, please contact an administrator.</h2>
    {% endif %}
    </div>
</div>
{% endif %}
{% endblock %}

{#% block scripts %}
<script>displayGuideline();</script>
{% endblock %#}