

{# default parametres #}
{% set commonPage = '/others/general_common.twig' %}
{% set lorem = 'Select a Use Case.'%}


{% if sideBarName =="input_project_common" or sideBarName =="input_project_common_supplier" or sideBarName == "input_use_case" %}
    {% set commonPage = '/input/cost_benefits_in.twig' %}

{% endif %}


{% extends commonPage %}

{% import "/templates/second_bar.twig" as second_bar %}
{% import "/templates/sidebar.twig" as sidebar %}
{% import "/templates/general/macro_ucs.twig" as list %}


{% block sidebar %}{{ sidebar.sidebar(sideBarName,projID) }}{% endblock %}





{% block content %}
{{ second_bar.second_bar(username,is_admin,selDevName,selDevSym,part,selected) }}
<div class="row jumbotron text-light m-5 bg-dark p-3">
    <div class="col text-center">
        <p class="text-justify">
        {{lorem|nl2br}}
        </p>
    </div>
</div>

<form action={{nextPage}} method="post">
{% if selScope %}
{{ list.list_ucs(selScope,ucs,measures) }}
{% else %}
<h2 class="text-center m-5">You have no Use Case !</h2>
{% endif %}

<div class="row m-3 text-center text-dark">
    <button type="submit" class="btn btn-link offset-5 col-2 oi oi-arrow-circle-right next-button" title="arrow-circle-right" style="font-size:50px;" aria-hidden="true"></button>
</div>
</form>


{% endblock %}
