{% macro list_opex(opex,selOpex=[]) %}
<h3 class="text-center mt-5 mb-3 text-uppercase">Suggested Opex Items</h3>
<div class="row text-center">
    <div class="col mx-5 mb-5 list-table">
        <table class='table table-lg table-bordered table-striped table-responsive-lg'>
            <thead class="thead-dark text-center sticky-top">
                <tr>
                    <th scope="col"></th>
                    <th scope="col">Name</th>
                    <th scope="col">Description</th>
                </tr>
                
            </thead>
            <tbody>
            {% for id,item in opex %}
                <tr id = "tr_{{ id }}" scope="row">
                    <td class="check-col align-middle"><input type="checkbox" onclick="countSelectedOpex(form_opex);" id='{{ id }}' name="{{ id }}" {{id in selOpex|keys ? "checked" : ""}}></td>
                    <td scope="col">{{ item['name'] }}</td>
                    <td scope="col">{{ item['description'] }}</td>
                </tr>         
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endmacro %}

{% macro list_opex_user(opex_user,projID=0,ucID=0,selOpex=[]) %}
{% import "/templates/cost_benefits_in/modal_opex.twig" as modal %}
<h3 class="text-center mt-5 mb-3 text-uppercase">Custom Opex Items</h3>
<div class="row text-center">
    <div class="col mx-5 mb-5 list-table">
        <table class='table table-bordered table-striped table-responsive-lg'>
            <thead class="thead-dark text-center sticky-top">
                <tr>
                    <th scope="col"></th>
                    <th scope="col">Name</th>
                    <th scope="col">Description</th>
                    <th scope="col"></th>
                </tr>
                
            </thead>
            <tbody>
            {% for id,item in opex_user %}
                <tr id = "tr_{{ id }}" scope="row">
                    <td class="check-col align-middle"><input type="checkbox" onclick="countSelectedOpex(form_opex);" id='{{ id }}' name="{{ id }}" {{id in selOpex|keys ? "checked" : ""}}></td>
                    <td scope="col">{{ item['name'] }}</td>
                    <td scope="col">{{ item['description'] }}</td>
                    <td class="check-col align-middle"><a href=""></a><span class="oi oi-trash text-dark" title="trash" aria-hidden="true" data-toggle="modal" data-target="#askDeleteOpex_{{ id }}"></span></a></td>
                    {{ modal.delete_opex(id,item['name'],projID,ucID) }}
                </tr>         
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endmacro %}

{% macro list_opex_guid(selDevSym,opex_advice,opex_user,selOpex,compo,ratio) %}
<div class="m-1 mt-5 row text-center guideline-table">
    <div class="">
        <table class='table table-sm table-bordered table-responsive-lg'>
            <thead class="thead-light text-center sticky-top">
                <tr>
                    <th scope="col">Opex Component</th>
                    <th scope="col">Unit</th>
                    <th scope="col">Ratio per Use Case</th> {# {{compo['name']}} #}
                    <th scope="col">Range of the Unit Cost ( in {{selDevSym}} )</th>
                </tr>
                
            </thead>
            <tbody>
            {% for id_opex,data in selOpex %}
                {% if id_opex in opex_advice|keys %}
                <tr id = "tr_{{ id_opex }}" scope="row">
                    <td scope="col">{{ opex_advice[id_opex]['name'] }}</td>
                    <td scope="col">{{ opex_advice[id_opex]['unit'] != "" ? opex_advice[id_opex]['unit'] : "-" }}</td>
                    <td scope="col">{{ ratio[id_opex]['val'] >= 0 ? ratio[id_opex]['val'] : "-"  }}</td>
                    {% if opex_advice[id_opex]['range_max'] == 0 %}
                    <td scope="col">-</td>
                    {% else %}
                    <td scope="col">{{ opex_advice[id_opex]['range_min'] }} - {{ opex_advice[id_opex]['range_max'] }}</td>
                    {% endif %}
                </tr>   
                {% endif %}      
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endmacro %}

{% macro list_opex_input(selDevSym,opex_advice,opex_user,selOpex,nb_uc) %}
<div class="row m-2 text-center">
    <div class="col mt-2">
        <table id="opex_input" class='table table-bordered table-responsive-md text-center'>
            <thead class="thead-dark text-center sticky-top">
                <tr>
                    <th scope="col">Opex Component</th>
                    <th scope="col">Unit Indicator</th>
                    <th scope="col">Ratio per Use Case</th>
                    <th scope="col">Volume</th>
                    <th scope="col">Unit Cost<br>( in {{selDevSym}}  per month)</th>
                </tr>
                
            </thead>
            <tbody>
            {% for id_opex,data in selOpex %}
                <tr id = "tr_{{ id_opex }}" scope="row">
                    {% if id_opex in opex_advice|keys %}
                    <td scope="col">{{ opex_advice[id_opex]['name'] }}</td>
                    {% else %}
                    <td scope="col">{{ opex_user[id_opex]['name'] }}</td>
                    {% endif %}

                    <td scope="col"><input id="unitIndic_{{id_opex}}" name="unitIndic_{{id_opex}}" class="text-center unitIndic text-secondary pt-1 pb-1" type="text" required style="max-width:100%;" value="{{ opex_advice[id_opex]['unit'] ? opex_advice[id_opex]['unit'] : ""}}" readonly></td>

                    <td scope="col"><input id="rat_{{id_opex}}" name="rat_{{id_opex}}" class="text-center ratio pt-1 pb-1" type="number" min=0 step=0.01 required oninput="checkOpexInput(rat_{{id_opex}});" placeholder="{{ratio[id_opex]['val']}}"></td> 

                    <td scope="col"><input id="vol_{{id_opex}}" name="vol_{{id_opex}}" class="text-center volume p-1" type="number" min=0 step=1 required oninput="checkOpexInput(vol_{{id_opex}});" value="{{ selOpex[id_opex]['volume'] }}" placeholder="{{ratio[id_opex]['val'] * nb_uc}}"></td> 

                    <td scope="col"><input id="cost_{{id_opex}}" name="cost_{{id_opex}}" class="text-center unit_cost p-1" type="number" min=0 step=0.001 required oninput="checkOpexInput(cost_{{id_opex}});" value="{{selOpex[id_opex]['unit_cost']}}" placeholder="{{( opex_advice[id_opex]['range_min'] + opex_advice[id_opex]['range_max']) / 2 }}"></td> 
                </tr> 
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endmacro %}

{% macro list_opex_input_2(opex_advice,opex_user,selOpex) %}
<div class="row m-4 text-center">
    <div class="col mt-2 list-table">
        <table id="opex_input2" class='table table-bordered table-responsive-lg'>
            <thead class="thead-dark text-center sticky-top">
                <tr>
                    <th rowspan=2 scope="col">Opex Component</th>
                    <th colspan=2 scope="col">EVOLUTION</th>

                </tr>
                <tr>
                    <th scope="col">Volume Variation<br>( in % per year)</th>
                    <th scope="col">Unit Cost Variation<br>( in % per year)</th>
                </tr>
                
            </thead>
            <tbody class="text-center">
            {% for id_opex,data in selOpex %}
                <tr id = "tr_{{ id_opex }}" scope="row">
                    {% if id_opex in opex_advice|keys %}
                    <td scope="col">{{ opex_advice[id_opex]['name'] }}</td>
                    {% else %}
                    <td scope="col">{{ opex_user[id_opex]['name'] }}</td>
                    {% endif %}
                    <td scope="col"><input id="anVarVol_{{id_opex}}" name="anVarVol_{{id_opex}}" class="text-center anVarVol p-1" type="number" step=0.001 required oninput="checkOpexInput(anVarVol_{{id_opex}});" value="{{selOpex[id_opex]['anVarVol']}}"><span> %</span></td> 
                    <td scope="col"><input id="anVarCost_{{id_opex}}" name="anVarCost_{{id_opex}}" class="text-center anVarCost p-1" type="number" step=0.001 required oninput="checkOpexInput(anVarCost_{{id_opex}});" value="{{selOpex[id_opex]['anVarCost']}}"><span> %</span></td> 
                </tr> 
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endmacro %}

{#
{% macro list_opex_total(selDevSym,opex_advice,opex_user,selOpex) %}
<div class="row ml-2 mr-2 text-center">
    <div class="col list-table">
        <table id="tot_table_opex" class='table table-lg table-bordered table-responsive-lg'>
            <thead class="thead-light text-center sticky-top">
                <tr>
                    <th rowspan=2 scope="col">Opex Component</th>
                    <th colspan=1 scope="col">INITIAL VALUE</th>
                    <th colspan=3 scope="col">EVOLUTION</th>
                </tr>
                <tr>
                    <th scope="col">Total Cost<br>( in {{selDevSym}}  per year)</th>
                    <th scope="col">Volume Variation<br>(per year)</th>
                    <th scope="col">Unit Cost Variation<br>(per year)</th>
                    <th scope="col">Combined Variation<br>(per year)</th>
                </tr>
            </thead>
            <tbody>
            {% for id_opex,data in selOpex %}
                <tr id = "tr_{{ id_opex }}" scope="row">
                    {% if id_opex in opex_advice|keys %}
                    <td scope="col">{{ opex_advice[id_opex]['name'] }}</td>
                    {% else %}
                    <td scope="col">{{ opex_user[id_opex]['name'] }}</td>
                    {% endif %}
                    <td scope="col" id="tot_cost_{{id_opex}}">-</td>
                    <td scope="col" id="tot_varvol_{{id_opex}}">-</td>
                    <td scope="col" id="tot_varcost_{{id_opex}}">-</td>
                    <td scope="col" id="tot_combvar_{{id_opex}}">-</td>
                </tr> 
            {% endfor %}
                <tr>
                    <th class="bg-light text-dark">Total</th>
                    <td class="font-weight-bold" scope="col" id="tot_cost">-</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
{% endmacro %}
#}

{% macro list_opex_total(selDevSym,opex_advice,opex_user,selOpex) %}
<div class="row ml-2 mr-2 text-center">
    <div class="col list-table">
        <table id="tot_table_opex" class='table table-lg table-bordered table-responsive-lg'>
            <thead class="thead-light text-center sticky-top">
                <tr>
                    <th rowspan=2 scope="col">Opex Component</th>
                    <th colspan=1 scope="col">INITIAL VALUE</th>
                    <th colspan=3 scope="col">EVOLUTION</th>
                </tr>
                <tr>
                    <th scope="col">Total Cost<br>( in {{selDevSym}}  per year)</th>
                    <th scope="col">Year +1</th>
                    <th scope="col">Year +2</th>
                    <th scope="col">Year +3</th>
                </tr>
            </thead>
            <tbody>
            {% for id_opex,data in selOpex %}
                <tr id = "tr_{{ id_opex }}" scope="row">
                    {% if id_opex in opex_advice|keys %}
                    <td scope="col">{{ opex_advice[id_opex]['name'] }}</td>
                    {% else %}
                    <td scope="col">{{ opex_user[id_opex]['name'] }}</td>
                    {% endif %}
                    <td scope="col" id="tot_cost_{{id_opex}}">-</td>
                    <td scope="col" id="tot_year+1_{{id_opex}}">-</td>
                    <td scope="col" id="tot_year+2_{{id_opex}}">-</td>
                    <td scope="col" id="tot_year+3_{{id_opex}}">-</td>
                </tr> 
            {% endfor %}
                <tr>
                    <th class="bg-light text-dark">Total</th>
                    <td class="font-weight-bold" scope="col" id="tot_cost">-</td>
                    <td scope="col" id="tot_year+1">-</td>
                    <td scope="col" id="tot_year+2">-</td>
                    <td scope="col" id="tot_year+3">-</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
{% endmacro %}
