{% macro list_revenues(revenues,selRevenues=[]) %}
<h3 class="text-center mt-5 mb-3 text-uppercase">Suggested Revenues Items</h3>
<div class="row text-center">
    <div class="col mx-5 mb-5 list-table">
        <table class='table table-lg table-bordered table-striped table-responsive-lg'>
            <thead class="thead-dark text-center sticky-top">
                <tr>
                    <th scope="col"></th>
                    <th scope="col">Name</th>
                    <th scope="col">Description</th>
                </tr>
                
            </thead>
            <tbody>
            {% for id,item in revenues %}
                <tr id = "tr_{{ id }}" scope="row">
                    <td class="check-col align-middle"><input type="checkbox" onclick="countSelectedRevenues(form_revenues);" id='{{ id }}' name="{{ id }}" {{id in selRevenues|keys ? "checked" : ""}}></td>
                    <td scope="col">{{ item['name'] }}</td>
                    <td scope="col">{{ item['description'] }}</td>
                </tr>         
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endmacro %}

{% macro list_revenues_user(revenues_user,projID=0,ucID=0,selRevenues=[]) %}
{% import "/templates/cost_benefits_in/modal_revenues.twig" as modal %}
<h3 class="text-center mt-5 mb-3 text-uppercase">Custom Revenues Items</h3>
<div class="row text-center">
    <div class="col mx-5 mb-5 list-table">
        <table class='table table-bordered table-striped table-responsive-lg'>
            <thead class="thead-dark text-center sticky-top">
                <tr>
                    <th scope="col"></th>
                    <th scope="col">Name</th>
                    <th scope="col">Description</th>
                    <th scope="col"></th>
                </tr>
                
            </thead>
            <tbody>
            {% for id,item in revenues_user %}
                <tr id = "tr_{{ id }}" scope="row">
                    <td class="check-col align-middle"><input type="checkbox" onclick="countSelectedRevenues(form_revenues);" id='{{ id }}' name="{{ id }}" {{id in selRevenues|keys ? "checked" : ""}}></td>
                    <td scope="col">{{ item['name'] }}</td>
                    <td scope="col">{{ item['description'] }}</td>
                    <td class="check-col align-middle"><a href=""></a><span class="oi oi-trash text-dark" title="trash" aria-hidden="true" data-toggle="modal" data-target="#askDeleteRevenues_{{ id }}"></span></a></td>
                    {{ modal.delete_revenues(id,item['name'],projID,ucID) }}
                </tr>         
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endmacro %}

{% macro list_revenues_guid(selDevSym,revenues_advice,revenues_user,selRevenues,compo,ratio) %}
<div class="m-1 mt-5 row text-center guideline-table">
    <div class="">
        <table class='table table-sm table-bordered table-responsive-lg'>
            <thead class="thead-light text-center sticky-top">
                <tr>
                    <th scope="col">Revenues Component</th>
                    <th scope="col">Unit</th>
                    <th scope="col">Ratio per {{compo['name']}}</th>
                    <th scope="col">Range of the Unit Revenue ( in {{selDevSym}} )</th>
                </tr>
                
            </thead>
            <tbody>
            {% for id_revenues,data in selRevenues %}
                {% if id_revenues in revenues_advice|keys %}
                <tr id = "tr_{{ id_revenues }}" scope="row">
                    <td scope="col">{{ revenues_advice[id_revenues]['name'] }}</td>
                    <td scope="col">{{ revenues_advice[id_revenues]['unit'] != "" ? revenues_advice[id_revenues]['unit'] : "-" }}</td>
                    <td scope="col">{{ ratio[id_revenues]['val'] >= 0 ? ratio[id_revenues]['val'] : "-"  }}</td>
                    {% if revenues_advice[id_revenues]['range_max'] == 0 %}
                    <td scope="col">-</td>
                    {% else %}
                    <td scope="col">{{ revenues_advice[id_revenues]['range_min'] }} - {{ revenues_advice[id_revenues]['range_max'] }}</td>
                    {% endif %}
                </tr>   
                {% endif %}      
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endmacro %}

{% macro list_revenues_input(selDevSym,revenues_advice,revenues_user,selRevenues) %}
<div class="row m-4 text-center">
    <div class="col mt-2 list-table">
        <table id="revenues_input" class='table table-lg table-bordered table-responsive-lg'>
            <thead class="thead-dark text-center sticky-top">
                <tr>
                    <th scope="col">Revenues Component</th>
                    <th scope="col">Volume</th>
                    <th scope="col">Unit Revenues<br>( in {{selDevSym}}  per month)</th>
                </tr>
                
            </thead>
            <tbody>
            {% for id_revenues,data in selRevenues %}
                <tr id = "tr_{{ id_revenues }}" scope="row">
                    {% if id_revenues in revenues_advice|keys %}
                    <td scope="col">{{ revenues_advice[id_revenues]['name'] }}</td>
                    {% else %}
                    <td scope="col">{{ revenues_user[id_revenues]['name'] }}</td>
                    {% endif %}
                    <td scope="col"><input id="vol_{{id_revenues}}" name="vol_{{id_revenues}}" class="text-center volume" type="number" min=0 step=1 required oninput="checkRevenuesInput();" value="{{selRevenues[id_revenues]['volume']}}"></td> 
                    <td scope="col"><input id="rev_{{id_revenues}}" name="rev_{{id_revenues}}" class="text-center unit_rev" type="number" min=0 step=0.001 required oninput="checkRevenuesInput();" value="{{selRevenues[id_revenues]['unit_rev']}}"></td> 
                </tr> 
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endmacro %}

{% macro list_revenues_input_2(revenues_advice,revenues_user,selRevenues) %}
<div class="row m-4 text-center">
    <div class="col mt-2 list-table">
        <table id="revenues_input" class='table table-lg table-bordered table-responsive-lg'>
            <thead class="thead-dark text-center sticky-top">
                <tr>
                    <th rowspan=2 scope="col">Revenues Component</th>
                    <th colspan=2 scope="col">PROJECT IMPACT</th>

                </tr>
                <tr>
                    <th scope="col">Volume Variation<br>( in % per year)</th>
                    <th scope="col">Unit Revenues Variation<br>( in % per year)</th>
                </tr>
                
            </thead>
            <tbody>
            {% for id_revenues,data in selRevenues %}
                <tr id = "tr_{{ id_revenues }}" scope="row">
                    {% if id_revenues in revenues_advice|keys %}
                    <td scope="col">{{ revenues_advice[id_revenues]['name'] }}</td>
                    {% else %}
                    <td scope="col">{{ revenues_user[id_revenues]['name'] }}</td>
                    {% endif %}
                    <td scope="col"><input id="anVarVol_{{id_revenues}}" name="anVarVol_{{id_revenues}}" class="text-center anVarVol" type="number" min=0 step=0.001 required oninput="checkRevenuesInput();" value="{{selRevenues[id_revenues]['anVarVol']}}"><span> %</span></td> 
                    <td scope="col"><input id="anVarRev_{{id_revenues}}" name="anVarRev_{{id_revenues}}" class="text-center anVarRev" type="number" min=0 step=0.001 required oninput="checkRevenuesInput();" value="{{selRevenues[id_revenues]['anVarRev']}}"><span> %</span></td> 
                </tr> 
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endmacro %}


{% macro list_revenues_total(selDevSym,revenues_advice,revenues_user,selRevenues) %}
<div class="row ml-2 mr-2 text-center">
    <div class="col t-5 list-table">
        <table id="tot_table_rev" class='table table-lg table-bordered table-responsive-lg'>
            <thead class="thead-light text-center sticky-top">
                <tr>
                    <th rowspan=2 scope="col">Revenues Component</th>
                    <th colspan=1 scope="col">INITIAL VALUE</th>
                    <th colspan=3 scope="col">EVOLUTION</th>
                </tr>
                <tr>
                    <th scope="col">Total Revenues<br>( in {{selDevSym}}  per year)</th>
                    <th scope="col">Variation of Volumes<br>(per year)</th>
                    <th scope="col">Variation of Unit Revenues<br>(per year)</th>
                    <th scope="col">Combined Variation<br>(per year)</th>
                </tr>
            </thead>
            <tbody>
            {% for id_revenues,data in selRevenues %}
                <tr id = "tr_{{ id_revenues }}" scope="row">
                    {% if id_revenues in revenues_advice|keys %}
                    <td scope="col">{{ revenues_advice[id_revenues]['name'] }}</td>
                    {% else %}
                    <td scope="col">{{ revenues_user[id_revenues]['name'] }}</td>
                    {% endif %}
                    <td scope="col" id="tot_rev_{{id_revenues}}">-</td>
                    <td scope="col" id="tot_varvol_{{id_revenues}}">-</td>
                    <td scope="col" id="tot_varrev_{{id_revenues}}">-</td>
                    <td scope="col" id="tot_combvar_{{id_revenues}}">-</td>
                </tr> 
            {% endfor %}
                <tr>
                    <th class="bg-light text-dark">Total</th>
                    <td class="font-weight-bold" scope="col" id="tot_rev">-</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
{% endmacro %}