{% macro summary(meas,ucs,selScope,list_checks, names, sideBarName, confirmedUC) %}
{#}{% set symb = ["x","check","media-record"] %}{#}
{% set symb = ["ø","check","ø"] %}
{% set color = ["text-danger","text-success","text-warning"] %}

<div class="row m-5 text-center">
    <div class="offset-3 col-6 list-table">
        <table class='table table-sm table-bordered table-responsive-lg text-center'>
            <thead class="thead thead-light text-center">
                <tr>
                    <th scope="col">To Be Completed</th> 
                    <th scope="col">Left Blank</th>
                    <th scope="col">Completed</th> 
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td scope="col"><span title='{{symb[0]}}' class="oi oi-{{symb[0]}} {{color[0]}}">{{symb[0]}}</span></td>
                    <td scope="col"><span title="{{symb[2]}}" class="oi oi-{{symb[2]}} {{color[2]}}">{{symb[2]}}</span></td>
                    <td scope="col"><span title="{{symb[1]}}" class="oi oi-{{symb[1]}} {{color[1]}}"></span></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<div class="row m-5 text-center">
    <div class="col list-table summary_table">
        <table id="summary_table" class='table table-sm table-bordered table-responsive-lg text-center'>
            <thead class="thead thead-light text-center">
                <tr>
                    <th rowspan=2 scope="col"></th>
                    {% for sel_meas,sel_ucs in selScope %}
                    <th colspan={{sel_ucs|length}} scope="col">{{meas[sel_meas]['name']}}</th>
                    {% endfor %}
                </tr>
                <tr>
                    {% for sel_meas,sel_ucs in selScope %} 
                        {% for uc in sel_ucs %}
                        <th scope="col">{{ucs[uc]['name']}}</th>
                        {% endfor %}
                    {% endfor %}   
                </tr>
            </thead>
            <tbody>
                {% for name in names %}
                <tr>
                    <td class="item">{{name[0]}}</td>
                    {% for sel_meas,sel_ucs in selScope %} 
                        {% for uc in sel_ucs %}
                        {% set showNA = false %}
                        {% if uc == -1 and (sideBarName == "input_use_case" or (isSup and sideBarName == "cost_benefits"))and (name[0] != "Capex" and name[0] != "Implementation" and name[0] != "Opex" ) %}
                            {% set showNA = true %}
                        {% endif %}
                        <td scope="col">
                        {% if showNA %} NA 
                        {% else %}<span title="{{symb[list_checks[uc][name[1]]]}}" class="oi oi-{{symb[list_checks[uc][name[1]]]}} {{color[list_checks[uc][name[1]]]}}">
                            {% if list_checks[uc][name[1]] != 1 %}
                                {{symb[list_checks[uc][name[1]]]}}
                            {% endif %}
                        </span>
                        {% endif %}
                        </td>
                        {% endfor %}
                    {% endfor %} 
                </tr>
                {% endfor %}
                {% if isSup %}
                <tr class="table-primary">
                    <td>Validation</td>
                    {% for sel_meas,sel_ucs in selScope %} 
                        {% for uc in sel_ucs %}
                        <td scope="col"><input type="checkbox" name ="{{sel_meas}}_{{uc}}" {{confirmedUC [sel_meas ~ "_" ~ uc] ? "checked"}}></td>
                        {% endfor %}
                    {% endfor %} 
                </tr>
                {% endif %}
            </tbody>
        </table>
    </div>
</div>
{% endmacro %}