{% macro list_widercash(widercash,selWiderCash=[]) %}
<h3 class="text-center mt-5 mb-3 text-uppercase">Suggested Wider Cash Items</h3>
<div class="row text-center">
    <div class="col mx-5 mb-5 list-table">
        <table class='table table-lg table-bordered table-striped table-responsive-lg'>
            <thead class="thead-dark text-center sticky-top">
                <tr>
                    <th scope="col"></th>
                    <th scope="col">Name</th>
                    <th scope="col">Description</th>
                </tr>
                
            </thead>
            <tbody>
            {% for id,item in widercash %}
                <tr id = "tr_{{ id }}" scope="row">
                    <td class="check-col align-middle"><input type="checkbox" onclick="countSelectedWiderCash(form_widercash);" id='{{ id }}' name="{{ id }}" {{id in selWiderCash|keys ? "checked" : ""}}></td>
                    <td scope="col">{{ item['name'] }}</td>
                    <td scope="col">{{ item['description'] }}</td>
                </tr>         
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endmacro %}

{% macro list_widercash_user(widercash_user,projID=0,ucID=0,selWiderCash=[]) %}
{% import "/templates/cost_benefits_in/modal_widercash.twig" as modal %}
<h3 class="text-center mt-5 mb-3 text-uppercase">Custom Wider Cash Items</h3>
<div class="row text-center">
    <div class="col mx-5 mb-5 list-table">
        <table class='table table-bordered table-striped table-responsive-lg'>
            <thead class="thead-dark text-center sticky-top">
                <tr>
                    <th scope="col"></th>
                    <th scope="col">Name</th>
                    <th scope="col">Description</th>
                    <th scope="col"></th>
                </tr>
                
            </thead>
            <tbody>
            {% for id,item in widercash_user %}
                <tr id = "tr_{{ id }}" scope="row">
                    <td class="check-col align-middle"><input type="checkbox" onclick="countSelectedWiderCash(form_widercash);" id='{{ id }}' name="{{ id }}" {{id in selWiderCash|keys ? "checked" : ""}}></td>
                    <td scope="col">{{ item['name'] }}</td>
                    <td scope="col">{{ item['description'] }}</td>
                    <td class="check-col align-middle"><a href=""></a><span class="oi oi-trash text-dark" title="trash" aria-hidden="true" data-toggle="modal" data-target="#askDeleteWiderCash_{{ id }}"></span></a></td>
                    {{ modal.delete_widercash(id,item['name'],projID,ucID) }}
                </tr>         
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endmacro %}

{% macro list_widercash_guid(widercash_advice,widercash_user,selWiderCash,compo,ratio) %}
<div class="m-5 row text-center">
    <div class="offset-1 col-10 list-table">
        <table class='table table-sm table-bordered table-responsive-lg'>
            <thead class="thead-light text-center sticky-top">
                <tr>
                    <th scope="col">Wider Cash Component</th>
                    <th scope="col">Unit</th>
                    <th scope="col">Ratio per {{compo['name']}}</th>
                    <th scope="col">Unit Cost<br>(in £ per month)</th>
                    <th scope="col">Range of<br>Volume Reduction</th>
                    <th scope="col">Range of<br>Unit Cost Reduction</th>
                </tr>
            </thead>
            <tbody>
            {% for id_widercash,data in selWiderCash %}
                {% if id_widercash in widercash_advice|keys %}
                <tr id = "tr_{{ id_widercash }}" scope="row">
                    <td scope="col">{{ widercash_advice[id_widercash]['name'] }}</td>
                    <td scope="col">{{ widercash_advice[id_widercash]['unit'] != "" ? widercash_advice[id_widercash]['unit'] : "-" }}</td>
                    <td scope="col">{{ ratio[id_widercash]['val'] >= 0 ? ratio[id_widercash]['val'] : "-"  }}</td>
                    <td scope="col">{{ widercash_advice[id_widercash]['unit_cost'] != "" ? widercash_advice[id_widercash]['unit_cost'] : "-" }}</td>
                    
                    {% if widercash_advice[id_widercash]['range_max_red_nb'] == 0 %}
                    <td scope="col">-</td>
                    {% else %}
                    <td scope="col">{{ widercash_advice[id_widercash]['range_min_red_nb'] }}% - {{ widercash_advice[id_widercash]['range_max_red_nb'] }}%</td>
                    {% endif %}
                    
                    {% if widercash_advice[id_widercash]['range_max_red_cost'] == 0 %}
                    <td scope="col">-</td>
                    {% else %}
                    <td scope="col">{{ widercash_advice[id_widercash]['range_min_red_cost'] }}% - {{ widercash_advice[id_widercash]['range_max_red_cost'] }}%</td>
                    {% endif %}
                </tr>   
                {% endif %}      
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endmacro %}

{% macro list_widercash_input(widercash_advice,widercash_user,selWiderCash) %}
<div class="row m-5 text-center">
    <div class="col mt-5 list-table">
        <table id="widercash_input" class='table table-lg table-bordered table-responsive-lg'>
            <thead class="thead-dark text-center sticky-top">
                <tr>
                    <th scope="col" rowspan=2>Wider Cash Component</th>
                    <th scope="col"></th>
                    <th scope="col" colspan=2 class="text-uppercase">Baseline</th>
                    <th scope="col" colspan=2 class="text-uppercase">Reduction Target</th>

                </tr>
                <tr>
                    <th scope="col">Unit Indicator</th>
                    <th scope="col">Volume</th>
                    <th scope="col">Unit Cost<br>(in £ per month)</th>
                    <th scope="col">Volume Reduction</th>
                    <th scope="col">Unit Cost Reduction</th>
                </tr>
            </thead>
            <tbody>
            {% for id_widercash,data in selWiderCash %}
                <tr id = "tr_{{ id_widercash }}" scope="row">
                    {% if id_widercash in widercash_advice|keys %}
                    <td scope="col">{{ widercash_advice[id_widercash]['name'] }}</td>
                    {% else %}
                    <td scope="col">{{ widercash_user[id_widercash]['name'] }}</td>
                    {% endif %}

                    {% if id_widercash in widercash_advice|keys %}
                    <td scope="col"><input id="unitIndic_{{id_widercash}}" name="unitIndic_{{id_widercash}}" class="text-center unitIndic text-secondary" type="text" required oninput="checkWiderCashInput();" style="max-width:100%;" value="{{widercash_advice[id_widercash]['unit']}}" readonly></td>
                    {% else %}
                    <td scope="col"><input id="unitIndic_{{id_widercash}}" name="unitIndic_{{id_widercash}}" class="text-center unitIndic" type="text" required oninput="checkWiderCashInput();" style="max-width:100%;" value="{{selWiderCash[id_widercash]['unit_indic']}}"></td>
                    {% endif %}

                    <td scope="col"><input id="vol_{{id_widercash}}" name="vol_{{id_widercash}}" class="text-center volume" type="number" min=0 step=1 required oninput="checkWiderCashInput();" value="{{selWiderCash[id_widercash]['volume']}}"></td>

                    <td scope="col"><input id="unitCost_{{id_widercash}}" name="unitCost_{{id_widercash}}" class="text-center unitCost" type="number" min=0 step=0.001 required oninput="checkWiderCashInput();" value="{{selWiderCash[id_widercash]['unit_cost']}}"></td> 

                    <td scope="col"><input id="volRed_{{id_widercash}}" name="volRed_{{id_widercash}}" class="text-center volRed" type="number" min=0 step=0.001 required oninput="checkWiderCashInput();" value="{{selWiderCash[id_widercash]['vol_red']}}" style="max-width:80%;"><span> %</span></td> 

                    <td scope="col"><input id="unitCostRed_{{id_widercash}}" name="unitCostRed_{{id_widercash}}" class="text-center unitCostRed" type="number" min=0 step=0.001 required oninput="checkWiderCashInput();" value="{{selWiderCash[id_widercash]['unit_cost_red']}}" style="max-width:80%;"><span> %</span></td> 

                    
                </tr> 
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endmacro %}

{% macro list_widercash_input_2(widercash_advice,widercash_user,selWiderCash) %}
<div class="row m-5 text-center">
    <div class="col mt-5 list-table">
        <table id="widercash_input" class='table table-lg table-bordered table-responsive-lg'>
            <thead class="thead-dark text-center sticky-top">
                <tr>
                    <th scope="col">Wider Cash Component</th>
                    <th scope="col">Volume Variation<br>(in % per year)</th>
                    <th scope="col">Unit Cost Variation<br>(in % per year)</th>
                </tr>
                
            </thead>
            <tbody>
            {% for id_widercash,data in selWiderCash %}
                <tr id = "tr_{{ id_widercash }}" scope="row">
                    {% if id_widercash in widercash_advice|keys %}
                    <td scope="col">{{ widercash_advice[id_widercash]['name'] }}</td>
                    {% else %}
                    <td scope="col">{{ widercash_user[id_widercash]['name'] }}</td>
                    {% endif %}
                    <td scope="col"><input id="anVarVol_{{id_widercash}}" name="anVarVol_{{id_widercash}}" class="text-center anVarVol" type="number" min=0 step=0.001 required oninput="checkWiderCashInput();" value="{{selWiderCash[id_widercash]['anVarVol']}}"><span> %</span></td> 
                    <td scope="col"><input id="anVarCost_{{id_widercash}}" name="anVarCost_{{id_widercash}}" class="text-center anVarCost" type="number" min=0 step=0.001 required oninput="checkWiderCashInput();" value="{{selWiderCash[id_widercash]['anVarCost']}}"><span> %</span></td> 
                </tr> 
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endmacro %}


{% macro list_widercash_total(widercash_advice,widercash_user,selWiderCash) %}
<div class="row m-5 text-center">
    <div class="col mt-5 list-table">
        <table id="tot_table" class='table table-lg table-bordered table-responsive-lg'>
            <thead class="thead-light text-center sticky-top">
                <tr>
                    <th scope="col">Wider Cash Component</th>
                    <th scope="col">Baseline Cost <br>(in £ per month)</th>
                    <th scope="col">Wider Cash Target<br>(in £ per month)</th>
                    <th scope="col">Wider Cash Benefits<br>(in £ per month)</th>
                    <th scope="col">Variation of Volumes<br>(per month)</th>
                    <th scope="col">Variation of Unit Cost<br>(per month)</th>
                    <th scope="col">Combined Variation<br>(per month)</th>
                </tr>
            </thead>
            <tbody>
            {% for id_widercash,data in selWiderCash %}
                <tr id = "tr_{{ id_widercash }}" scope="row">
                    {% if id_widercash in widercash_advice|keys %}
                    <td scope="col">{{ widercash_advice[id_widercash]['name'] }}</td>
                    {% else %}
                    <td scope="col">{{ widercash_user[id_widercash]['name'] }}</td>
                    {% endif %}
                    <td scope="col" id="tot_bc_{{id_widercash}}">-</td>
                    <td scope="col" id="tot_crt_{{id_widercash}}">-</td>
                    <td scope="col" id="tot_crb_{{id_widercash}}">-</td>
                    <td scope="col" id="tot_varvol_{{id_widercash}}">-</td>
                    <td scope="col" id="tot_varcost_{{id_widercash}}">-</td>
                    <td scope="col" id="tot_combvar_{{id_widercash}}">-</td>
                </tr> 
            {% endfor %}
                <tr>
                    <th class="bg-light text-dark">Total</th>
                    <td class="font-weight-bold" scope="col" id="tot_bc">-</td>
                    <td class="font-weight-bold" scope="col" id="tot_crt">-</td>
                    <td class="font-weight-bold" scope="col" id="tot_crb">-</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
{% endmacro %}