{% macro list_risks(risks,selRisks=[]) %}
<h3 class="text-center mt-5 mb-3 text-uppercase">Suggested Risk Items</h3>
<div class="row text-center">
    <div class="col mx-5 mb-5 list-table">
        <table class='table table-lg table-bordered table-striped table-responsive-lg'>
            <thead class="thead-dark text-center sticky-top">
                <tr>
                    <th scope="col"></th>
                    <th scope="col">Name</th>
                    <th scope="col">Description</th>
                </tr>
                
            </thead>
            <tbody>
            {% for id,item in risks %}
                <tr id = "tr_{{ id }}" scope="row">
                    <td class="check-col align-middle"><input type="checkbox" onclick="countSelectedRisks(form_risks);" id='{{ id }}' name="{{ id }}" {{id in selRisks|keys ? "checked" : ""}}></td>
                    <td scope="col">{{ item['name'] }}</td>
                    <td scope="col">{{ item['description'] }}</td>
                </tr>         
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endmacro %}

{% macro list_risks_user(risks_user,projID=0,ucID=0,selRisks=[]) %}
{% import "/templates/cost_benefits_in/modal_risks.twig" as modal %}
<h3 class="text-center mt-5 mb-3 text-uppercase">Custom Risk Items</h3>
<div class="row text-center">
    <div class="col mx-5 mb-5 list-table">
        <table class='table table-bordered table-striped table-responsive-lg'>
            <thead class="thead-dark text-center sticky-top">
                <tr>
                    <th scope="col"></th>
                    <th scope="col">Name</th>
                    <th scope="col">Description</th>
                    <th scope="col"></th>
                </tr>
                
            </thead>
            <tbody>
            {% for id,item in risks_user %}
                <tr id = "tr_{{ id }}" scope="row">
                    <td class="check-col align-middle"><input type="checkbox" onclick="countSelectedRisks(form_risks);" id='{{ id }}' name="{{ id }}" {{id in selRisks|keys ? "checked" : ""}}></td>
                    <td scope="col">{{ item['name'] }}</td>
                    <td scope="col">{{ item['description'] }}</td>
                    <td class="check-col align-middle"><a href=""></a><span class="oi oi-trash text-dark" title="trash" aria-hidden="true" data-toggle="modal" data-target="#askDeleteRisk_{{ id }}"></span></a></td>
                    {{ modal.delete_risk(id,item['name'],projID,ucID) }}
                </tr>         
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endmacro %}

{% macro list_risks_input(risks_advice,risks_user,selRisks) %}
<div class="row m-4 text-center">
    <div class="col mt-2 list-table">
        <table id="risks_input" class='table table-lg table-bordered table-responsive-lg'>
            <thead class="thead-dark text-center sticky-top">
                <tr>
                    <th scope="col">Risk Component</th>
                    <th scope="col">Expected Impact<br>(1 - 10)</th>
                    <th scope="col">Probability<br>( in %)</th>
                    <th scope="col">Guide</th>
                </tr>
            </thead>
            <tbody>
            {% for id_risks,data in selRisks %}
                <tr id = "tr_{{ id_risks }}" scope="row">
                    {% if id_risks in risks_advice|keys %}
                    <td scope="col">{{ risks_advice[id_risks]['name'] }}</td>
                    {% else %}
                    <td scope="col">{{ risks_user[id_risks]['name'] }}</td>
                    {% endif %}

                    <td scope="col"><input id="impact_{{id_risks}}" name="impact_{{id_risks}}" class="text-center impact" type="number" min=1 max=10 step=1 required oninput="checkRisksInput();" value="{{selRisks[id_risks]['exp_impact']}}"></td>

                    <td scope="col"><input id="prob_{{id_risks}}" name="prob_{{id_risks}}" class="text-center prob" type="number" min=0 max=100 step=10 required oninput="checkRisksInput();" value="{{selRisks[id_risks]['prob']}}" style="max-width:80%;"><span> %</span></td> 
                    <td scope="col"><textarea id="guide_{{id_risks}}" name="guide_{{id_risks}}" class="text-center guide pt-1 pb-1" type="text" oninput="checkRisksInput();">{{ selRisks[id_risks]['guide']}}</textarea></td> 
                    
                </tr> 
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endmacro %}

{% macro list_risks_total(risks_advice,risks_user,selRisks) %}
<div class="row ml-5 mr-5 pl-5 pr-5 text-center">
    <div class="col list-table">
        <table id="tot_table_risks" class='table table-lg table-bordered table-responsive-lg'>
            <thead class="thead-light text-center sticky-top">
                <tr>
                    <th scope="col">Risk Component</th>
                    <th scope="col">Weighted Impact</th>

                </tr>
            </thead>
            <tbody>
            {% for id_risks,data in selRisks %}
                <tr id = "tr_{{ id_risks }}" scope="row">
                    {% if id_risks in risks_advice|keys %}
                    <td scope="col">{{ risks_advice[id_risks]['name'] }}</td>
                    {% else %}
                    <td scope="col">{{ risks_user[id_risks]['name'] }}</td>
                    {% endif %}
                    <td scope="col" id="weighted_{{id_risks}}">-</td>
                </tr> 
            {% endfor %}
                <tr>
                    <th class="bg-light text-dark">Total</th>
                    <td class="font-weight-bold" scope="col" id="tot">-</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
{% endmacro %}