{% macro list_quantifiable(quantifiable,selQuantifiable=[]) %}
<h3 class="text-center mt-5 mb-3 text-uppercase">Suggested Quantifiable Non Monetizable Benefits Items</h3>
<div class="row text-center">
    <div class="col mx-5 mb-5 list-table">
        <table class='table table-lg table-bordered table-striped table-responsive-lg'>
            <thead class="thead-dark text-center sticky-top">
                <tr>
                    <th scope="col"></th>
                    <th scope="col">Name</th>
                    <th scope="col">Description</th>
                </tr>
                
            </thead>
            <tbody>
            {% for id,item in quantifiable %}
                <tr id = "tr_{{ id }}" scope="row">
                    <td class="check-col align-middle"><input type="checkbox" onclick="countSelectedQuantifiable(form_quantifiable);" id='{{ id }}' name="{{ id }}" {{id in selQuantifiable|keys ? "checked" : ""}}></td>
                    <td scope="col">{{ item['name'] }}</td>
                    <td scope="col">{{ item['description'] }}</td>
                </tr>         
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endmacro %}

{% macro list_quantifiable_user(quantifiable_user,projID=0,ucID=0,selQuantifiable=[]) %}
{% import "/templates/cost_benefits_in/modal_quantifiable.twig" as modal %}
<h3 class="text-center mt-5 mb-3 text-uppercase">Custom Quantifiable Non Monetizable Benefits Items</h3>
<div class="row text-center">
    <div class="col mx-5 mb-5 list-table">
        <table class='table table-bordered table-striped table-responsive-lg'>
            <thead class="thead-dark text-center sticky-top">
                <tr>
                    <th scope="col"></th>
                    <th scope="col">Name</th>
                    <th scope="col">Description</th>
                    <th scope="col"></th>
                </tr>
                
            </thead>
            <tbody>
            {% for id,item in quantifiable_user %}
                <tr id = "tr_{{ id }}" scope="row">
                    <td class="check-col align-middle"><input type="checkbox" onclick="countSelectedQuantifiable(form_quantifiable);" id='{{ id }}' name="{{ id }}" {{id in selQuantifiable|keys ? "checked" : ""}}></td>
                    <td scope="col">{{ item['name'] }}</td>
                    <td scope="col">{{ item['description'] }}</td>
                    <td class="check-col align-middle"><a href=""></a><span class="oi oi-trash text-dark" title="trash" aria-hidden="true" data-toggle="modal" data-target="#askDeleteQuantifiable_{{ id }}"></span></a></td>
                    {{ modal.delete_quantifiable(id,item['name'],projID,ucID) }}
                </tr>         
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endmacro %}

{% macro list_quantifiable_guid(selDevSym,quantifiable_advice,quantifiable_user,selQuantifiable,compo,ratio) %}
<div class="m-1 mt-5 row text-center guideline-table">
    <div class="list-table">
        <table class='table table-sm table-bordered table-responsive-lg'>
            <thead class="thead-light text-center sticky-top">
                <tr>
                    <th scope="col" rowspan=2 >Quantifiable Non Monetizable Component</th>
                    <th scope="col"></th>
                    <th scope="col" colspan=2 class="text-uppercase">Reduction Target</th>
                </tr>
                <tr>
                    <th scope="col">Unit Indicator</th>
                    <th scope="col">Range of<br>Volume </th>
                </tr>
            </thead>
            <tbody>
            {% for id_quantifiable,data in selQuantifiable %}
                {% if id_quantifiable in quantifiable_advice|keys %}
                <tr id = "tr_{{ id_quantifiable }}" scope="row">
                    <td scope="col">{{ quantifiable_advice[id_quantifiable]['name'] }}</td>
                    <td scope="col">{{ quantifiable_advice[id_quantifiable]['unit'] != "" ? quantifiable_advice[id_quantifiable]['unit'] : "-" }}</td>
                    
                    {% if quantifiable_advice[id_quantifiable]['range_max_red_nb'] == 0 %}
                    <td scope="col">-</td>
                    {% else %}
                    <td scope="col">{{ quantifiable_advice[id_quantifiable]['range_min_red_nb'] }}% - {{ quantifiable_advice[id_quantifiable]['range_max_red_nb'] }}%</td>
                    {% endif %}
                </tr>   
                {% endif %}      
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endmacro %}


{% macro list_quantifiable_input(selDevSym,quantifiable_advice,quantifiable_user,selQuantifiable) %}
<div class="row m-4 text-center">
    <div class="col mt-2 list-table">
        <table id="quantifiable_input" class='table table-lg table-bordered table-responsive-lg'>
            <thead class="thead-dark text-center sticky-top">
                <tr>
                    <th scope="col" colspan=2 class="text-uppercase">Components</th>
                    <th scope="col" colspan=2 class="text-uppercase">Baseline</th>

                </tr>
                <tr>
                    <th scope="col">Item</th>
                    <th scope="col">Unit Indicator</th>
                    <th scope="col">Volume / month</th>
                    <th scope="col">Evolution Volume / year</th>
                    <th scope="col">Guide</th>
                </tr>
            </thead>
            <tbody>
            {% for id_quantifiable,data in selQuantifiable %}
                <tr id = "tr_{{ id_quantifiable }}" scope="row">
                    {% if id_quantifiable in quantifiable_advice|keys %}
                    <td scope="col">{{ quantifiable_advice[id_quantifiable]['name'] }}</td>
                    {% else %}
                    <td scope="col">{{ quantifiable_user[id_quantifiable]['name'] }}</td>
                    {% endif %}

                    {% if id_quantifiable in quantifiable_advice|keys %}
                    <td scope="col"><input id="unitIndic_{{id_quantifiable}}" name="unitIndic_{{id_quantifiable}}" class="text-center unitIndic text-secondary pt-1 pb-1" type="text" required oninput="checkQuantifiableInput();" style="max-width:100%;" value="{{quantifiable_advice[id_quantifiable]['unit']}}" readonly></td>
                    {% else %}
                    <td scope="col"><input id="unitIndic_{{id_quantifiable}}" name="unitIndic_{{id_quantifiable}}" class="text-center unitIndic pt-1 pb-1" type="text" required oninput="checkQuantifiableInput();" style="max-width:100%;" value="{{selQuantifiable[id_quantifiable]['unit_indic']}}"></td>
                    {% endif %}

                    <td scope="col"><input id="vol_{{id_quantifiable}}" name="vol_{{id_quantifiable}}" class="text-center volume pt-1 pb-1" type="number" min=0 step=1 required oninput="checkQuantifiableInput();" value="{{selQuantifiable[id_quantifiable]['volume']}}" placeholder="{{ratio['id_quantifiable']['val'] * nb_uc}}"></td>

                    <td scope="col"><input id="volRed_{{id_quantifiable}}" name="volRed_{{id_quantifiable}}" class="text-center volRed pt-1 pb-1" type="number" min=0 step=0.001 required oninput="checkQuantifiableInput();" value="{{selQuantifiable[id_quantifiable]['vol_red']}}" placeholder="{{ (quantifiable_advice['id_quantifiable']['range_min_red_nb'] + quantifiable_advice['id_quantifiable']['range_max_red_nb']) / 2 }}" style="max-width:80%;"><span> %</span></td> 
                    <td scope="col"><textarea id="guide_{{id_quantifiable}}" name="guide_{{id_quantifiable}}" class="guide pt-1 pb-1" type="text" oninput="checkQuantifiableInput();">{{ selQuantifiable[id_quantifiable]['guide']}}</textarea></td> 
                    
                </tr> 
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endmacro %}



{% macro list_quantifiable_input_2(quantifiable_advice,quantifiable_user,selQuantifiable) %}
<div class="row m-4 text-center">
    <div class="col mt-2 list-table">
        <table id="quantifiable_input" class='table table-bordered table-responsive-lg'>
            <thead class="thead-dark text-center sticky-top">
                <tr>
                    <th scope="col" colspan=1 class="text-uppercase">Component</th>
                    <th scope="col" colspan=1 class="text-uppercase">Impact</th>
                    {% if isDev %}
                    <th scope="col" rowspan=2 class="text-dark" style="background-color:#e9ecef">Variation of Volumes<br>(per month)</th>           
                    {% endif %}       
                </tr>
                <tr>
                    <th scope="col">Item</th>
                    <th scope="col">Volume change</th>
                                    </tr>
                
            </thead>
            <tbody>
            {% for id_quantifiable,data in selQuantifiable %}
                <tr id = "tr_{{ id_quantifiable }}" scope="row">
                    {% if id_quantifiable in quantifiable_advice|keys %}
                    <td scope="col">{{ quantifiable_advice[id_quantifiable]['name'] }}</td>
                    {% else %}
                    <td scope="col">{{ quantifiable_user[id_quantifiable]['name'] }}</td>
                    {% endif %}
                    <td scope="col"><input id="anVarVol_{{id_quantifiable}}" name="anVarVol_{{id_quantifiable}}" class="text-center anVarVol pt-1 pb-1 w-90" type="number" min=0 step=0.001 required oninput="checkQuantifiableInput();" value="{{selQuantifiable[id_quantifiable]['anVarVol']}}"><span> %</span></td> 
                    {% if isDev %}
                    <td scope="col" class="output" id="tot_varvol_{{id_quantifiable}}">-</td> 
                    {% endif %}                 
                </tr> 
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endmacro %}


