{% macro list_infos(BM_infos) %}
<div class="col list-table infos_table">
    <table id="infos_table" class='table table-lg table-bordered table-responsive-lg'>
        <thead class="thead-light text-center">
            <tr>
                <th colspan=2 class="text-uppercase">project constraints &amp; features</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="item">Investment Capacity</td>
                <td class="text-primary bg-light res">{{BM_infos['invest_cap']}}</td>
            </tr>
            <tr>
                <td class="item">Payback</td>
                <td class="text-primary bg-light res">{{BM_infos['payback_const']}}</td>
            </tr>
            <tr>
                <td class="item">Business Model</td>
                <td class="text-primary bg-light res">{{BM_infos['bm_pref']}}</td>
            </tr>
        </tbody>
    </table>
</div>
{% endmacro %}

{% macro list_reco(reco,listBMReco) %}
<div class="col list-table reco_table">
    <table id="reco_table" class='table table-lg table-bordered table-responsive-lg'>
        <thead class="thead-light text-center">
            <tr>
                <th colspan=2 class="text-uppercase">Business Model Recommendations</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="item">Best Fit</td>
                <td class="bg-success res">{{listBMReco[reco[1]]['name']}}</td>
            </tr>
            <tr>
                <td class="item">Second Choice</td>
                <td class="bg-warning res">{{listBMReco[reco[2]]['name']}}</td>
            </tr>
            <tr>
                <td class="item">Not Recommanded</td>
                <td class="bg-danger res">{{listBMReco[reco[3]]['name']}}</td>
            </tr>
        </tbody>
    </table>
</div>
{% endmacro %}

{% macro list_proj_qualif(proj_qualif) %}
<div class="col list-table proj_qualif_table">
    <table id="proj_qualif_table" class='table table-lg table-bordered table-responsive-lg'>
        <thead class="thead-light text-center">
            <tr>
                <th colspan=2 class="text-uppercase">Project Qualifications</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="item">Investment Capacity</td>
                <td class="text-primary bg-light res">{{proj_qualif['invest_cap']}}</td>
            </tr>
            <tr>
                <td class="item">Project Bankability</td>
                <td class="text-primary bg-light res">{{proj_qualif['proj_bank']['description']}}</td>
            </tr>
            <tr>
                <td class="item">Societal Business Model</td>
                <td class="text-primary bg-light res">{{proj_qualif['soc_bm']['description']}}</td>
            </tr>
        </tbody>
    </table>
</div>
{% endmacro %}

{% macro list_funding_opt(funding_opt) %}
{% set color = ['bg-light','bg-danger','bg-warning','bg-primary','bg-success'] %}
{% set level = ['Unlikely','Low','Moderate','High','Top'] %}
<div class="col list-table funding_opt_table">
    <table id="funding_opt_table" class='table table-lg table-bordered table-responsive-lg'>
        <thead class="thead-light text-center">
            <tr>
                <th colspan=2 class="text-uppercase">Proposed share of funding options </th>
            </tr>
        </thead>
        <tbody>
            {% for item,value in funding_opt %}
            <tr>
                <td class="item">{{level[value]}}</td>
                <td class="font-weight-bold text-center text-dark {{color[value]}}">{{item}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endmacro %}