{% macro list_zones(zones) %}

<div class="row text-center">
    <div class="col mx-5 list-table">
        <table id="zones_table" class='table table-bordered table-striped table-responsive-lg'>
            <thead class="thead-dark text-center sticky-top">
                <tr>
                    <th scope="col"></th>
                    <th scope="col">ID</th>
                    <th scope="col">Name</th>
                    <th scope="col">Type</th>
                    <th scope="col">Parent</th>
                </tr>
            </thead>
            <tbody>
            {% for id_zone,zone in zones %}
                <tr id = "{{ id_zone }}_{{zone['parent']}}" class="child_{{zone['parent']}}" scope="row">
                    <td class="check-col"><input type="checkbox" id='{{ id_zone }}' name="{{ id_zone }}" onclick="countChecked_zones('form_zones',{{zone['parent']==0}});"></td>
                    <td>{{ id_zone }}</td>
                    <td>{{ zone['name'] }}</td>
                    <td>{{ zone['type'] }}</td>
                    <td>
                    {% if zone['parent']!=0 %}
                    {% set id_parent = zone['parent'] %}
                        {{ zones[id_parent]['name']}}                    
                    {% endif %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endmacro %}