{% macro list_meas(measures,list_sel=[]) %}

<div class="row text-center">
    <div class="col mt-5 mx-5 list-table">
        <table class='table table-sm table-bordered table-striped table-responsive-lg'>
            <thead class="thead-dark text-center sticky-top">
                <tr>
                    <th scope="col" class="check-col"></th>
                    <th scope="col">Name</th>
                    <th scope="col">Description</th>
                </tr>
            </thead>
            <tbody>
            {% for meas in measures %}
                <tr id = "tr_{{ meas[0] }}" scope="row">
                    {% if (meas[0] in list_sel|keys ) %}
                    <td class="check-col align-middle"><input type="checkbox" onclick="countChecked_scope('form_scope');" class="meas" id='meas_{{ meas[0] }}' name="meas_{{ meas[0] }}" checked></td>
                    {% else %}
                    <td class="check-col align-middle"><input type="checkbox" onclick="countChecked_scope('form_scope');" class="meas" id='meas_{{ meas[0] }}' name="meas_{{ meas[0] }}"></td>
                    {% endif %}
                    <td class="font-weight-bold">{{ meas[1] }}</td>
                    <td>{{ meas[2] }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endmacro %}

{% macro list_ucs(ucs,list_sel=[]) %}

<div class="row text-center">
    <div class="col mt-5 mx-5 list-table">
        <table id="uc_table" class='table table-sm table-bordered table-striped table-responsive-lg'>
            <thead class="thead-dark text-center sticky-top">
                <tr>
                    <th scope="col" class="check-col"></th>
                    <th scope="col">Name</th>
                    <th scope="col">Description</th>
                    <th scope="col">Measure</th>
                </tr>
            </thead>
            <tbody>
            {% for uc in ucs %}
                <tr id = "tr_{{ uc[0] }}" scope="row" class="meas_{{uc[3]}}">
                    {% if (uc[0] in list_sel[uc[3]]) %}
                    <td class="check-col align-middle"><input type="checkbox" onclick="countChecked_scope('form_scope');"  class="uc" id='uc_{{uc[3]}}_{{ uc[0] }}' name="uc_{{uc[3]}}_{{ uc[0] }}" checked></td>
                    {% else %}
                    <td class="check-col align-middle"><input type="checkbox" onclick="countChecked_scope('form_scope');" class="uc" id='uc_{{uc[3]}}_{{ uc[0] }}' name="uc_{{uc[3]}}_{{ uc[0] }}"></td>
                    {% endif %}
                    <td class="font-weight-bold">{{ uc[1] }}</td>
                    <td>{{ uc[2] }}</td>
                    <td>{{ uc[4] }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endmacro %}