{% macro schedule_implem(scope,meas,ucs) %}
<div class="offset-1 row text-center">
    <h3 class="col m-4">Input Implementation Schedule</h3>
    <div class="col-10 mx-5 mb-5 list-table">
        <table id="schedules_implem" class='schedules_table table table-lg table-bordered table-responsive-lg'>
            <thead class="thead-dark text-center">
                <tr>
                    <th rowspan=3 scope="col"></td>
                    {% for id_meas,list_ucs in scope %}
                        <th colspan={{list_ucs|length}} scope="col">{{meas[id_meas]['name']}}</th>
                    {% endfor %}
                </tr>
                <tr>
                    {% for id_meas,list_ucs in scope %}
                        {% for id_uc in list_ucs %}
                            <th scope="col">{{ucs[id_uc]['name']}}</th>
                        {% endfor %}
                    {% endfor %}
                </tr>
                <tr>
                    {% set list_ucs_all = [] %}
                    {% for id_meas,list_ucs in scope %}
                        {% for id_uc in list_ucs %}
                            {% set list_ucs_all = list_ucs_all|merge([id_uc]) %}
                        {% endfor %}
                    {% endfor %}
                    <th scope="col"></th>
                    {% for i,id_uc in list_ucs_all|slice(start,last-1) %}
                    <th scope="col">
                        <span id="copy_{{list_ucs_all[i]}}_to_{{list_ucs_all[i+1]}}" class="copy-dates oi oi-arrow-right" title="arrow-right" aria-haspopup="true" aria-expanded="false"aria-hidden="true" onclick="copy_dates('implem',{{list_ucs_all[i]}},{{list_ucs_all[i+1]}});"></span>
                    </td>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="bg-dark text-light font-weight-bold" scope="col">Start Date</td>
                    {% for id_meas,list_ucs in scope %}
                        {% for id_uc in list_ucs %}
                            <td colspan=1 scope="col">
                                <div class="input-append date" id="implem_startdate_{{id_uc}}" data-date="02/2012" data-date-format="mm/yyyy" data-date-viewmode="years" data-date-minviewmode="months">
                                    <input class="date_input" size="10px" type="text" disabled onchange="colorFilledDates('form_schedule');"><span class="mx-2 add-on oi oi-calendar" title="calendar" aria-haspopup="true" aria-expanded="false"aria-hidden="true"></span>
                                </div>
                            </td>
                        {% endfor %}
                    {% endfor %}
                </tr>
                <tr>
                    <td class="bg-dark text-light font-weight-bold" scope="col">25% Completion</td>
                    {% for id_meas,list_ucs in scope %}
                        {% for id_uc in list_ucs %}
                            <td scope="col">
                                <div class="input-append date" id="implem_25date_{{id_uc}}" data-date="02/2012" data-date-format="mm/yyyy" data-date-viewmode="years" data-date-minviewmode="months">
                                    <input class="date_input" size="10px" type="text" disabled onchange="colorFilledDates('form_schedule');"><span class="mx-2 add-on oi oi-calendar" title="calendar" aria-haspopup="true" aria-expanded="false"aria-hidden="true"></span>
                                </div>                                
                            </td>
                        {% endfor %}
                    {% endfor %}
                </tr>
                <tr>
                    <td class="bg-dark text-light font-weight-bold" scope="col">50% Completion</td>
                    {% for id_meas,list_ucs in scope %}
                        {% for id_uc in list_ucs %}
                            <td scope="col">
                                <div class="input-append date" id="implem_50date_{{id_uc}}" data-date="02/2012" data-date-format="mm/yyyy" data-date-viewmode="years" data-date-minviewmode="months">
                                    <input class="date_input" size="10px" type="text" disabled onchange="colorFilledDates('form_schedule');"><span class="mx-2 add-on oi oi-calendar" title="calendar" aria-haspopup="true" aria-expanded="false"aria-hidden="true"></span>
                                </div>                                
                            </td>
                        {% endfor %}
                    {% endfor %}
                </tr>
                <tr>
                    <td class="bg-dark text-light font-weight-bold" scope="col">75% Completion</td>
                    {% for id_meas,list_ucs in scope %}
                        {% for id_uc in list_ucs %}
                            <td scope="col">
                                <div class="input-append date" id="implem_75date_{{id_uc}}" data-date="02/2012" data-date-format="mm/yyyy" data-date-viewmode="years" data-date-minviewmode="months">
                                    <input class="date_input" size="10px" type="text" disabled onchange="colorFilledDates('form_schedule');"><span class="mx-2 add-on oi oi-calendar" title="calendar" aria-haspopup="true" aria-expanded="false"aria-hidden="true"></span>
                                </div>                                
                            </td>
                        {% endfor %}
                    {% endfor %}
                </tr>
                <tr>
                    <td class="bg-dark text-light font-weight-bold" scope="col">100% Completion</td>
                    {% for id_meas,list_ucs in scope %}
                        {% for id_uc in list_ucs %}
                            <td scope="col">
                                <div class="input-append date" id="implem_100date_{{id_uc}}" data-date="02/2012" data-date-format="mm/yyyy" data-date-viewmode="years" data-date-minviewmode="months">
                                    <input class="date_input" size="10px" type="text" disabled onchange="colorFilledDates('form_schedule');"><span class="mx-2 add-on oi oi-calendar" title="calendar" aria-haspopup="true" aria-expanded="false"aria-hidden="true"></span>
                                </div>                                
                            </td>
                        {% endfor %}
                    {% endfor %}
                </tr>
            </tbody>
        </table>
    </div>
</div>    
{% endmacro %}

{% macro schedule_opex(scope,meas,ucs) %}
<div class="offset-1 row text-center">
    <h3 class="col m-4">Input Opex Schedule</h3>
    <div class="col-10 mx-5 mb-5 list-table">
        <table id="schedules_opex" class='schedules_table table table-lg table-bordered table-responsive-lg'>
            <thead class="thead-dark text-center">
                <tr>
                    <th rowspan=2 scope="col"></td>
                    {% for id_meas,list_ucs in scope %}
                        <th colspan={{list_ucs|length}} scope="col">{{meas[id_meas]['name']}}</th>
                    {% endfor %}
                </tr>
                <tr>
                    {% for id_meas,list_ucs in scope %}
                        {% for id_uc in list_ucs %}
                            <th scope="col">{{ucs[id_uc]['name']}}</th>
                        {% endfor %}
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="bg-dark text-light font-weight-bold" scope="col">Start Date</td>
                    {% for id_meas,list_ucs in scope %}
                        {% for id_uc in list_ucs %}
                            <td scope="col">
                                <div class="input-append date" id="opex_startdate_{{id_uc}}" data-date="02/2012" data-date-format="mm/yyyy" data-date-viewmode="years" data-date-minviewmode="months">
                                    <input class="date_input" size="10px" type="text" disabled onchange="colorFilledDates('form_schedule');"><span class="mx-2 add-on oi oi-calendar" title="calendar" aria-haspopup="true" aria-expanded="false"aria-hidden="true"></span>
                                </div>
                            </td>
                        {% endfor %}
                    {% endfor %}
                </tr>
                <tr>
                    <td class="bg-dark text-light font-weight-bold" scope="col">25% Completion</td>
                    {% for id_meas,list_ucs in scope %}
                        {% for id_uc in list_ucs %}
                            <td scope="col">
                                <div class="input-append date" id="opex_25date_{{id_uc}}" data-date="02/2012" data-date-format="mm/yyyy" data-date-viewmode="years" data-date-minviewmode="months">
                                    <input class="date_input" size="10px" type="text" disabled onchange="colorFilledDates('form_schedule');"><span class="mx-2 add-on oi oi-calendar" title="calendar" aria-haspopup="true" aria-expanded="false"aria-hidden="true"></span>
                                </div>
                            </td>
                        {% endfor %}
                    {% endfor %}
                </tr>
                <tr>
                    <td class="bg-dark text-light font-weight-bold" scope="col">50% Completion</td>
                    {% for id_meas,list_ucs in scope %}
                        {% for id_uc in list_ucs %}
                            <td scope="col">
                                <div class="input-append date" id="opex_50date_{{id_uc}}" data-date="02/2012" data-date-format="mm/yyyy" data-date-viewmode="years" data-date-minviewmode="months">
                                    <input class="date_input" size="10px" type="text" disabled onchange="colorFilledDates('form_schedule');"><span class="mx-2 add-on oi oi-calendar" title="calendar" aria-haspopup="true" aria-expanded="false"aria-hidden="true"></span>
                                </div>
                            </td>
                        {% endfor %}
                    {% endfor %}
                </tr>
                <tr>
                    <td class="bg-dark text-light font-weight-bold" scope="col">75% Completion</td>
                    {% for id_meas,list_ucs in scope %}
                        {% for id_uc in list_ucs %}
                            <td scope="col">
                                <div class="input-append date" id="opex_75date_{{id_uc}}" data-date="02/2012" data-date-format="mm/yyyy" data-date-viewmode="years" data-date-minviewmode="months">
                                    <input class="date_input" size="10px" type="text" disabled onchange="colorFilledDates('form_schedule');"><span class="mx-2 add-on oi oi-calendar" title="calendar" aria-haspopup="true" aria-expanded="false"aria-hidden="true"></span>
                                </div>
                            </td>
                        {% endfor %}
                    {% endfor %}
                </tr>
                <tr>
                    <td class="bg-dark text-light font-weight-bold" scope="col">100% Completion</td>
                    {% for id_meas,list_ucs in scope %}
                        {% for id_uc in list_ucs %}
                            <td scope="col">
                                <div class="input-append date" id="opex_100date_{{id_uc}}" data-date="02/2012" data-date-format="mm/yyyy" data-date-viewmode="years" data-date-minviewmode="months">
                                    <input class="date_input" size="10px" type="text" disabled onchange="colorFilledDates('form_schedule');"><span class="mx-2 add-on oi oi-calendar" title="calendar" aria-haspopup="true" aria-expanded="false"aria-hidden="true"></span>
                                </div>
                            </td>
                        {% endfor %}
                    {% endfor %}
                </tr>
                <tr>
                    <td class="bg-dark text-light font-weight-bold" scope="col">End date</td>
                    {% for id_meas,list_ucs in scope %}
                        {% for id_uc in list_ucs %}
                            <td scope="col">
                                <div class="input-append date" id="opex_enddate_{{id_uc}}" data-date="02/2012" data-date-format="mm/yyyy" data-date-viewmode="years" data-date-minviewmode="months">
                                    <input class="date_input" size="10px" type="text" disabled onchange="colorFilledDates('form_schedule');"><span class="mx-2 add-on oi oi-calendar" title="calendar" aria-haspopup="true" aria-expanded="false"aria-hidden="true"></span>
                                </div>
                            </td>
                        {% endfor %}
                    {% endfor %}
                </tr>
            </tbody>
        </table>
    </div>
</div>    
{% endmacro %}


{% macro schedule_revenues(scope,meas,ucs) %}
<div class="offset-1 row text-center">
    <h3 class="col m-4">Input Revenues Ramp-up Schedule</h3>
    <div class="col-10 mx-5 mb-5 list-table">
        <table id="schedules_opex" class='schedules_table table table-lg table-bordered table-responsive-lg'>
            <thead class="thead-dark text-center">
                <tr>
                    <th rowspan=2 scope="col"></td>
                    {% for id_meas,list_ucs in scope %}
                        <th colspan={{list_ucs|length}} scope="col">{{meas[id_meas]['name']}}</th>
                    {% endfor %}
                </tr>
                <tr>
                    {% for id_meas,list_ucs in scope %}
                        {% for id_uc in list_ucs %}
                            <th scope="col">{{ucs[id_uc]['name']}}</th>
                        {% endfor %}
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="bg-dark text-light font-weight-bold" scope="col">Start Date</td>
                    {% for id_meas,list_ucs in scope %}
                        {% for id_uc in list_ucs %}
                            <td scope="col">
                                <div class="input-append date" id="revenues_startdate_{{id_uc}}" data-date-format="mm/yyyy" data-date="02/2012" data-date-viewmode="years" data-date-minviewmode="months">
                                    <input class="date_input" size="10px" type="text" disabled onchange="colorFilledDates('form_schedule');"><span class="mx-2 add-on oi oi-calendar" title="calendar" aria-haspopup="true" aria-expanded="false"aria-hidden="true"></span>
                                </div>
                            </td>
                        {% endfor %}
                    {% endfor %}
                </tr>
                <tr>
                    <td class="bg-dark text-light font-weight-bold" scope="col">25% Completion</td>
                    {% for id_meas,list_ucs in scope %}
                        {% for id_uc in list_ucs %}
                            <td scope="col">
                                <div class="input-append date" id="revenues_25date_{{id_uc}}" data-date-format="mm/yyyy" data-date="02/2012" data-date-viewmode="years" data-date-minviewmode="months">
                                    <input class="date_input" size="10px" type="text" disabled onchange="colorFilledDates('form_schedule');"><span class="mx-2 add-on oi oi-calendar" title="calendar" aria-haspopup="true" aria-expanded="false"aria-hidden="true"></span>
                                </div>
                            </td>
                        {% endfor %}
                    {% endfor %}
                </tr>
                <tr>
                    <td class="bg-dark text-light font-weight-bold" scope="col">50% Completion</td>
                    {% for id_meas,list_ucs in scope %}
                        {% for id_uc in list_ucs %}
                            <td scope="col">
                                <div class="input-append date" id="revenues_50date_{{id_uc}}" data-date-format="mm/yyyy" data-date="02/2012" data-date-viewmode="years" data-date-minviewmode="months">
                                    <input class="date_input" size="10px" type="text" disabled onchange="colorFilledDates('form_schedule');"><span class="mx-2 add-on oi oi-calendar" title="calendar" aria-haspopup="true" aria-expanded="false"aria-hidden="true"></span>
                                </div>
                            </td>
                        {% endfor %}
                    {% endfor %}
                </tr>
                <tr>
                    <td class="bg-dark text-light font-weight-bold" scope="col">75% Completion</td>
                    {% for id_meas,list_ucs in scope %}
                        {% for id_uc in list_ucs %}
                            <td scope="col">
                                <div class="input-append date" id="revenues_75date_{{id_uc}}" data-date-format="mm/yyyy" data-date="02/2012" data-date-viewmode="years" data-date-minviewmode="months">
                                    <input class="date_input" size="10px" type="text" disabled onchange="colorFilledDates('form_schedule');"><span class="mx-2 add-on oi oi-calendar" title="calendar" aria-haspopup="true" aria-expanded="false"aria-hidden="true"></span>
                                </div>
                            </td>
                        {% endfor %}
                    {% endfor %}
                </tr>
                <tr>
                    <td class="bg-dark text-light font-weight-bold" scope="col">100% Completion</td>
                    {% for id_meas,list_ucs in scope %}
                        {% for id_uc in list_ucs %}
                            <td scope="col">
                                <div class="input-append date" id="revenues_100date_{{id_uc}}" data-date-format="mm/yyyy" data-date="02/2012" data-date-viewmode="years" data-date-minviewmode="months">
                                    <input class="date_input" size="10px" type="text" disabled onchange="colorFilledDates('form_schedule');"><span class="mx-2 add-on oi oi-calendar" title="calendar" aria-haspopup="true" aria-expanded="false"aria-hidden="true"></span>
                                </div>
                            </td>
                        {% endfor %}
                    {% endfor %}
                </tr>
                <tr>
                    <td class="bg-dark text-light font-weight-bold" scope="col">End date</td>
                    {% for id_meas,list_ucs in scope %}
                        {% for id_uc in list_ucs %}
                            <td scope="col">
                                <div class="input-append date" id="revenues_enddate_{{id_uc}}" data-date-format="mm/yyyy" data-date="02/2012" data-date-viewmode="years" data-date-minviewmode="months">
                                    <input class="date_input" size="10px" type="text" disabled onchange="colorFilledDates('form_schedule');"><span class="mx-2 add-on oi oi-calendar" title="calendar" aria-haspopup="true" aria-expanded="false"aria-hidden="true"></span>
                                </div>
                            </td>
                        {% endfor %}
                    {% endfor %}
                </tr>
            </tbody>
        </table>
    </div>
</div>    
{% endmacro %}