{% macro list_indic(meas,list_ucs,ucs,measures,ratio,components) %}
<div class="text-center">
    <div class="ml-4 mr-4 mt-4">
        <h3 class="col" style="color:#212529;">Indicative Ratio Number of {{measures[meas]['name']}} per Use Case item</h3>
        <table id="ratio_table_{{meas}}" class='ratio_table table table-sm table-bordered table-responsive-lg guideline-table'>
            <thead class="thead-light text-center">
                <tr>
                    <th colspan=1 rowspan= 2 scope="col">Reference Feature</th>
                    <th colspan={{list_ucs|length}} scope="col">{{measures[meas]['name']}}</th>
                </tr>
                <tr>
                    {% for uc in list_ucs %}
                    <th scope="col">{{ucs[uc]['name']}}</th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                {% for id_compo,compo in components|filter(compo => compo['id_meas']==meas) %}
                <tr>
                    <td scope="col" class="font-weight-bold">{{compo['name']}}</td>
                    {% for uc in list_ucs %}
                    <td scope="col">{{ratio[id_compo][uc] ? ratio[id_compo][uc] : "-"}}</td>
                    {% endfor %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endmacro %}

{% macro list_guid_compo(components, perimeter, meas, compo_per_zone)  %}
    <div class="ml-4 mr-4 mt-4 text-center">
        <h3 class="col" style="color:#212529;">Number of Component per Zone</h3>
        <table id="ratio_table_{{meas}}" class='table guideline-table table-sm table-bordered table-responsive-lg'>
            <thead class="thead-light text-center">
                <tr>
                    <th scope="col">Reference Feature</th>
                        {% for item in perimeter %}
                            {% for id,zone in item %}
                                {% if zone['hasChildren'] == false %}
                                    <th scope="col">{{ zone['name'] }} </th>
                                {% endif %}
                            {% endfor %}
                        {% endfor %}
                </tr>
            </thead>
            <tbody>
                {% for id_compo,compo in components|filter(compo => compo['id_meas']==meas) %}
                    <tr scope="row">
                        <td scope="col" class="font-weight-bold">{{compo['name']}}</td>
                        {% for item in perimeter %}
                            {% for id,zone in item %}
                                {% if zone['hasChildren'] == false %}
                                    <td class="val_zones" id="val_zones_{{id_compo}}_{{id}}" scope="col">{{ compo_per_zone[id_compo][id] ? compo_per_zone[id_compo][id]|number_format(0,'.',',') : "-" }}</td>
                                {% endif %}
                            {% endfor %}
                        {% endfor %}
                    </tr>         
                {% endfor %}
            </tbody>
        </table>
    </div>

{% endmacro %}

{% macro list_volumes(perimeter,meas,list_ucs,ucs,sizes,mags,components,compo_per_zone,ratio,list_sel=[])  %}
<script src="extensions/sticky-header/bootstrap-table-sticky-header.js"></script>
{% set color = ["background:#D9ADC4;","background:#BFB6E3;","background:#AEC8CD;","background:#A1E3A6;","background:#D9D5A5;"] %}

<div class="row text-center">
    <div class="mt-2 mx-4 table-responsive">
        <table data-sticky-header="true" id="volumes_table_{{meas}}" class='volumes_table table table-lg table-bordered'>
            {# HEADER #}
            <thead class="thead-dark text-center">
                <tr>
                    {% set nbZones = 0 %}
                    <th colspan=2 scope="col" style="width: 1%;white-space: nowrap;"></th>
                    {% for item in perimeter %}
                        {% for id,zone in item %}
                            {% if zone['hasChildren'] == false %}
                                <th scope="col" style="font-weight:bold;width: 1%;white-space: nowrap;">{{ zone['name'] }} </th>
                                {% set nbZones = nbZones + 1 %}
                            {% endif %}
                        {% endfor %}
                    {% endfor %}
                    <th colspan=2 scope="col" style="font-weight:bold;"> TOTAL </th>
                </tr>
            </thead>
                  
            {# TBODY #}
            <tbody class="thead-dark">
            {% set nbCompo = components|filter(compo => compo['id_meas']==meas)|length %}
            {% for uc in list_ucs %}

            <!--
            {#PROJECT SIZE#}
            <tr id = "tr_{{uc}}" scope="row"> 
                <th rowspan={{2 + 2*nbCompo}} scope="col" style="font-weight:bold;">{{ucs[uc]['name']}}</th>
                {#titre#}
                <th scope="col">Project Size</th>
                {#pour toutes les zones#}
                {% for item in perimeter %}
                    {% for id,zone in item %}
                        {% if zone['hasChildren'] == false %}
                            {% if sizes[id][uc] %}
                                <td scope="col" style={{color[sizes[id][uc]-1]}}>
                                    {{mags[sizes[id][uc]]['name']}}
                                    </br>
                                    ({{mags[sizes[id][uc]]['range_min']}}% - {{mags[sizes[id][uc]]['range_max']}}%)
                                </td>
                            {% else %}
                                <td rowpan={{2+2*nbCompo}} class="text-danger font-weight-bold" scope="col">
                                    Please return in "Size" and validate the selection
                                </td>
                {% endif %}{% endif %}{% endfor %}{% endfor %}
                {#total#}
                <td scope="col"></td>
            </tr> -->
            
            <th rowspan={{2 + nbCompo}} scope="col" style="font-weight:bold;width: 1%;white-space: nowrap;">{{ucs[uc]['name']}}</th>
            {#DUO NB OF COMPONENETS+RATION COMPO/UC#}
            {% for id_compo,compo in components|filter(compo => compo['id_meas']==meas) %}
                {#NB OF COMPONENTS#}
                <tr id = "tr_{{uc}}" scope="row"> 
                    {#titre#}
                    <th scope="col" style="width: 1%;white-space: nowrap;">Nb of {{compo['name']}}</br>for the selected size</th>
                    {#pour toutes les zones#}
                    {% for item in perimeter %}
                        {% for id,zone in item %}
                            {% if zone['hasChildren'] == false %}
                                {# <td scope="col"><input class="val_nb w-100" id="val_nb_{{id_compo}}_{{uc}}_{{id}}" name="val_nb_{{id_compo}}_{{uc}}_{{id}}" type="number" min=0 max="{{compo_per_zone[id_compo][id]}}" oninput='fillTot("form_volumes");' required value="{{list_sel[id][uc]['nb_compo']}}" placeholder="{{(compo_per_zone[id_compo][id]*mags[sizes[id][uc]]['range_min']/100)|number_format(0,'.',',')}} - {{(compo_per_zone[id_compo][id]*mags[sizes[id][uc]]['range_max']/100)|number_format(0,'.',',')}}"></td> #}
                                <td scope="col" class="val_nb w-100" style="width: 1%;white-space: nowrap;" id="val_nb_{{id_compo}}_{{uc}}_{{id}}">{{ compo_per_zone[id_compo][id] ? compo_per_zone[id_compo][id]|number_format(0,'.',' ') : "-" }}</td>
                    {% endif %}{% endfor %}{% endfor %}
                    {#Total#}
                    <td id="tot_nb_{{id_compo}}_{{uc}}" scope="col">-</td>
                </tr>

                <!-- {#RATIO#}
                <tr id = "tr_{{uc}}" scope="row"> 
                    {#titre#}
                    <th scope="col" style="width: 1%;white-space: nowrap;">Nb of {{compo['name']}} / UC item</th>
                    {#pour toutes les zones#}
                        {% for item in perimeter %}
                            {% for id,zone in item %}
                                {% if zone['hasChildren'] == false %}
                                    {% if sizes[id][uc] %}
                                    <td scope="col"><input class="val_nbuc w-100" id="val_nbuc_{{id_compo}}_{{uc}}_{{id}}" name ="val_nbuc_{{id_compo}}_{{uc}}_{{id}}"type="number" min=0 oninput='fillTot("form_volumes");' required value="{{list_sel[id][uc]['nb_per_uc']}}" placeholder="{{ratio[id_compo][uc]}}"></td>
                        {% endif %}{% endif %}{% endfor %}{% endfor %}
                    {#Total#}
                    <td id="tot_nbuc_{{id_compo}}_{{uc}}" scope="col">-</td>
                </tr> -->
            {% endfor %}

            {#NB OF UC#}
            <tr id = "tr_{{uc}}" scope="row"> 
                {#titre#}
                <th scope="col">Nb of {{ucs[uc]['name']}}</th>
                {#pour toutes les zones#}
                {% for item in perimeter %}
                    {% for id,zone in item %}
                        {% if zone['hasChildren'] == false %}
                            <td scope="col">
                                <input class="val_nbuc w-100" id="totUC_{{uc}}_{{id}}" oninput='fillTot2("form_volumes");' name="totUC_{{uc}}_{{id}}" type="number" min=0 value="{{ list_sel[id][uc]['nb_tot_uc'] ? list_sel[id][uc]['nb_tot_uc'] : ''}}" >
                            </td>
                {% endif %}{% endfor %}{% endfor %}
                {#Total#}
                <td scope="col" id="tot_totUC_{{uc}}" class="text-primary font-weight-bolder thead-light">-</td>          
            </tr>

            {#SEPARATEUR#}
            <tr id = "separatorrow" style="border-bottom: hidden;">
                <td colspan={{ 3 + nbZones }}></td>
            </tr>
            {% endfor %}

            </tbody>

        </table>
    </div>
</div>
{% endmacro %}