{% macro list_meas(measures,list_sel=[]) %}

<div class="row text-center">
    <div class="col mt-5 mx-3 list-table">
        <table class='table table-sm table-striped table-responsive-lg'>
            <thead class="thead-dark text-center sticky-top">
                <tr>
                    <th scope="col" class="check-col"></th>
                    <th scope="col">Domain</th>
                    <th scope="col">Description</th>
                </tr>
            </thead>
            <tbody>
            {% for id_meas,meas in measures %}
                <tr id = "tr_{{ id_meas }}" scope="row">
                    {% if (id_meas in list_sel|keys ) %}
                    <td class="check-col align-middle"><input type="checkbox" onclick="countChecked_scope('form_scope');" class="meas" id='meas_{{ id_meas }}' name="meas_{{ id_meas }}" checked></td>
                    {% else %}
                    <td class="check-col align-middle"><input type="checkbox" onclick="countChecked_scope('form_scope');" class="meas" id='meas_{{ id_meas }}' name="meas_{{ id_meas }}" ></td>
                    {% endif %}
                    <td style="width:35%;">{{ meas['name'] }}</td>
                    <td style="width:55%;">{{ meas['description'] }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endmacro %}

{% macro list_ucs(measures,cat,ucs,list_sel=[]) %}

<div class="row text-center">
    <div class="col mt-5 mx-3 list-table">
        <table id="uc_table" class='table table-sm table-striped table-responsive-lg'>
            <thead class="thead-dark text-center sticky-top">
                <tr>
                    <th scope="col" class="check-col"></th>
                    <th scope="col">Name</th>
                    <th scope="col">Description</th>
                    <th scope="col">Solution</th>
                </tr>
            </thead>
            <tbody>
                {% for id_meas,measure in measures %}
                    {% for id_cat,cat_item in cat %}
                        {% set test = false %}
                        {% for id_uc,uc in ucs if uc['id_cat']==id_cat and uc['id_meas']==id_meas and test==false %}
                            {% set test = true %}
                        {% endfor %}
                    {% if test %}
                    <tr class="meas_{{id_meas}} UC_cat">
                        <th colspan=4>{{cat_item['name']}}</th>
                    </tr>
                    {% endif %}
                        {% for id_uc,uc in ucs if uc['id_cat']==id_cat and uc['id_meas']==id_meas %}
                            <tr id = "tr_{{ id_uc }}" scope="row" class="meas_{{uc['id_meas']}}">
                                {% if (id_uc in list_sel[uc['id_meas']]) %}
                                <td class="check-col align-middle"><input type="checkbox" onclick="countChecked_scope('form_scope');"  class="uc" id='uc_{{uc['id_meas']}}_{{ id_uc }}' name="uc_{{uc['id_meas']}}_{{ id_uc }}" checked></td>
                                {% else %}
                                <td class="check-col align-middle"><input type="checkbox" onclick="countChecked_scope('form_scope');" class="uc" id='uc_{{uc['id_meas']}}_{{ id_uc }}' name="uc_{{uc['id_meas']}}_{{ id_uc }}"></td>
                                {% endif %}
                                <td class="font-weight-bold">{{ uc['name'] }}</td>
                                <td>{{ uc['description'] }} </td>
                                <td>{{ measure['name'] }}</td>
                            </tr>
                        {% endfor %}
                    {% endfor %}
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endmacro %}

{% macro list_cat(measures, cat, ucs, list_sel=[]) %}
<div class="row text-center">
    <div class="col mt-5 mx-3 list-table">
        <table id="cat_table" class='table table-sm table-striped table-responsive-lg'>
            <thead class="thead-dark text-center sticky-top">
                <tr>
                    <th scope="col" colspan=2>Select Solution(s)</th>
                </tr>
            </thead>
            <tbody>
            {% for id_meas,measure in measures %}
                {% for id_cat,cat_item in cat %}
                    {% set test = false %}
                    {% set checked = false %}
                    {% for id_uc,uc in ucs if uc['id_cat']==id_cat and uc['id_meas']==id_meas %}
                        {% set test = true %}
                    {% endfor %}
                    {% for id_selMeas,selUCs in list_sel %}
                        {% for key,id_uc in selUCs if ucs[id_uc]['id_cat'] == id_cat %}
                            {% set checked = true %}
                    {% endfor %}{% endfor %}
                    {% if test %}
                        <tr id="tr_{{id_uc}}_id_cat" scope="row" class="meas_{{id_meas}}">
                            {% if checked %}
                            <td class="check-col align-middle"><input type="checkbox" onclick="countChecked_scope('form_scope');"  class="cat" id='cat_{{id_cat}}' name="cat_{{id_cat}}"  checked></td>
                            {% else %}
                            <td class="check-col align-middle"><input type="checkbox" onclick="countChecked_scope('form_scope');"  class="cat" id='cat_{{id_cat}}' name="cat_{{id_cat}}" ></td>
                            {% endif %}
                            <td style="width:90%;">{{ cat_item['name'] }}</td>
                        </tr>
                    {% endif %}
            {% endfor %} {% endfor %} 
            </tbody>
        </table>
    </div>
</div>
{% endmacro %}

{% macro list_uc2(id_meas, measure,id_cat, cat_item, cat,ucs,list_sel=[]) %}

<div class="row text-center cat_{{id_cat}}">
    <div class="col mt-5 mx-3 list-table">
        <table id="uc2_table" hidden class='table table-sm table-striped table-responsive-lg cat_{{id_cat}}'>
            <thead class="thead-dark text-center sticky-top">
                <tr>
                    <th scope="col" colspan=2>{#Select {{cat_item['name']}}#} Use Case</th>
                </tr>
            </thead>
            <tbody>
                 {% for id_uc,uc in ucs if uc['id_cat']==id_cat and uc['id_meas']==id_meas %}
                     <tr id = "tr_{{ id_uc }}" scope="row" class="meas_{{uc['id_meas']}}">
                        {% if (id_uc in list_sel[uc['id_meas']]) %}
                        <td class="check-col align-middle"><input type="checkbox" onclick="countChecked_scope('form_scope');"  class="uc" id='uc_{{uc['id_meas']}}_{{ id_uc }}' name="uc_{{uc['id_meas']}}_{{ id_uc }}"  checked></td>
                        {% else %}
                        <td class="check-col align-middle"><input type="checkbox" onclick="countChecked_scope('form_scope');"  class="uc" id='uc_{{uc['id_meas']}}_{{ id_uc }}' name="uc_{{uc['id_meas']}}_{{ id_uc }}" ></td>
                        {% endif %}
                        <td style="width:90%;">{{ uc['name'] }}</td>
                        {# <td>{{ uc['description'] }}</td> #}
                    </tr>
                {% endfor %}                
            </tbody>
        </table>
    </div>
</div>
{% endmacro %}