{% macro list_zones(zones,level,list_sel=[]) %}

<div class="row text-center level_{{level}}">
    <div class="col mt-5 mx-5 list-table">
        <table id="zones_table" class='table table-bordered table-striped table-responsive-lg'>
            <thead class="thead-dark text-center sticky-top">
                <tr>
                    <th scope="col"></th>
                    {# <th scope="col">ID</th> #}
                    <th scope="col">Name</th>
                    <th scope="col">Type</th>
                    {{ level > 1 ? '<th scope="col">Parent</th>' : ''}}
                </tr>
            </thead>
            <tbody>
            {% for zone in zones %}
            {% set hasChildren = zone['hasChildren'] ? "hasChildren bg-secondary" : "" %}
            {% set inputID = zone['hasChildren'] ? "" : ""%}
                <tr id = "{{ zone['id'] }}_{{zone['parent'][0]}}" class="{{hasChildren}} child_{{zone['parent'][0]}}" scope="row">
                    <td class="check-col"><input type="checkbox" id='{{ inputID }}{{ zone['id'] }}' name="{{ inputID }}{{ zone['id'] }}" onclick="countChecked_zones('form_zones')" {{ zone['id'] in list_sel|keys ? "checked" : ""}} ></td>
                    {# <td>{{ zone['id'] }}</td> #}
                    <td>{{ zone['name'] }}</td>
                    <td>{{ zone['type'] }}</td>
                    {% if level > 1  %}
                    <td>{{zone['parent'][1]}}</td>
                    {% endif %}
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endmacro %}