{% macro makeInput(type, value, idComplement) %}
    <div class="input-group mb-3" id="div_{{type}}_{{idComplement}}">
        <input type="text" class="form-control {{type}}" id="{{type}}_{{idComplement}}" name="{{type}}_{{idComplement}}" value="{{value}}">
        <div class="input-group-append">
            <span class="input-group-text oi oi-plus" id="create_{{type}}_{{idComplement}}" onclick="addInput('{{type}}')"></span>
            <span class="oi oi-trash text-dark input-group-text" id="delete_{{type}}_{{idComplement}}" onclick="deleteInput('{{type}}','{{idComplement}}')"></span>
        </div>
    </div>
{% endmacro %}

{% macro makeInputList(data, title, type) %}
    <div class="form-group row-md-4" id = "{{type}}_container">
        <label for="{{type}}">{{title}}</label>
        {% if data %}
            {% set i = 0 %}
            {% for id in data|keys %}
                {{_self.makeInput(type, data[id], i)}}
                {% set i = i + 1 %}
            {% endfor %}
        {% else %}
            {{_self.makeInput(type, "", 0)}}
        {% endif %} 
    </div>

{% endmacro %}