{% macro list_meas(measures,list_sel=[]) %}

<div class="row text-center">
    <div class="col mt-5 mx-5 list-table">
        <table class='table table-sm table-bordered table-striped table-responsive-lg'>
            <thead class="thead-dark text-center sticky-top">
                <tr>
                    <th scope="col" class="check-col"></th>
                    <th scope="col">Name</th>
                    <th scope="col">Description</th>
                </tr>
            </thead>
            <tbody>
            {% for id_meas,meas in measures %}
                <tr id = "tr_{{ id_meas }}" scope="row">
                    {% if (id_meas in list_sel|keys ) %}
                    <td class="check-col align-middle"><input type="checkbox" onclick="countChecked_scope('form_scope');" class="meas" id='meas_{{ id_meas }}' name="meas_{{ id_meas }}" checked></td>
                    {% else %}
                    <td class="check-col align-middle"><input type="checkbox" onclick="countChecked_scope('form_scope');" class="meas" id='meas_{{ id_meas }}' name="meas_{{ id_meas }}"></td>
                    {% endif %}
                    <td class="font-weight-bold">{{ meas['name'] }}</td>
                    <td>{{ meas['description'] }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endmacro %}

{% macro list_ucs(measures,cat,ucs,list_sel=[]) %}

<div class="row text-center">
    <div class="col mt-5 mx-5 list-table">
        <table id="uc_table" class='table table-sm table-bordered table-responsive-lg'>
            <thead class="thead-dark text-center sticky-top">
                <tr>
                    <th scope="col" class="check-col"></th>
                    <th scope="col">Name</th>
                    <th scope="col">Description</th>
                    <th scope="col">Measure</th>
                </tr>
            </thead>
            <tbody>
                {% for id_meas,measure in measures %}
                    {% for id_cat,cat_item in cat %}
                        {% set test = false %}
                        {% for id_uc,uc in ucs if uc['id_cat']==id_cat and uc['id_meas']==id_meas and test==false %}
                            {% set test = true %}
                        {% endfor %}
                    {% if test %}
                    <tr class="meas_{{id_meas}} UC_cat">
                        <th colspan=4>{{cat_item['name']}}</th>
                    </tr>
                    {% endif %}
                        {% for id_uc,uc in ucs if uc['id_cat']==id_cat and uc['id_meas']==id_meas %}
                            <tr id = "tr_{{ id_uc }}" scope="row" class="meas_{{uc['id_meas']}}">
                                {% if (id_uc in list_sel[uc['id_meas']]) %}
                                <td class="check-col align-middle"><input type="checkbox" onclick="countChecked_scope('form_scope');"  class="uc" id='uc_{{uc['id_meas']}}_{{ id_uc }}' name="uc_{{uc['id_meas']}}_{{ id_uc }}" checked></td>
                                {% else %}
                                <td class="check-col align-middle"><input type="checkbox" onclick="countChecked_scope('form_scope');" class="uc" id='uc_{{uc['id_meas']}}_{{ id_uc }}' name="uc_{{uc['id_meas']}}_{{ id_uc }}"></td>
                                {% endif %}
                                <td class="font-weight-bold">{{ uc['name'] }}</td>
                                <td>{{ uc['description'] }}</td>
                                <td>{{ measure['name'] }}</td>
                            </tr>
                        {% endfor %}
                    {% endfor %}
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endmacro %}