
{% macro output(dates,years,capexMonth,capexTot,implemMonth,implemTot,opexMonth,opexTot,revenuesMonth,revenuesTot,cashreleasingMonth,cashreleasingTot,widercashMonth,widercashTot,netcashPerMonth,netcashTot,netsoccashPerMonth,netsoccashTot,cumulnetcashPerMonthPerMonth,cumulnetsoccashPerMonth,cumulnetcashTot,cumulnetsoccashTot,selDevSym) %}
<div class="row text-center ">
    <div class="col mt-2 mx-5 list-table cball_table">
        <table id="cball_table" class='table table-lg table-bordered table-striped table-responsive-lg'>
            <thead class="thead-light text-center sticky-top">
                {# <tr class="text-uppercase">
                    <th scope="col" colspan=2>Financials Summary Table</th>
                    <th scope="col" colspan={{years|length + dates|length}}>Use Case Projet Schedule</th>
                </tr> #}
                <tr>
                    <th scope="col" style="min-width: 15vw; max-width: 15vw;"></th>
                    <th scope="col">Total</th>
                    {% for year in years %}
                        <th scope="col">{{year}}</th>
                    {% endfor %}
                    <th rowspan=1></th>
                    {% for date in dates %}
                        <th scope="col">{{date}}</th>
                    {% endfor %}

                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="item"><strong>Capex</strong> (A)</td>
                    <td>{{selDevSym}}&nbsp;{{(capexTot['tot'])|number_format(2, '.', ',') }}</td>
                    {% for year in years %}
                        <td>{{selDevSym}}&nbsp;{{(capexTot[year])|number_format(2, '.', ',') }}</td>
                    {% endfor %}
                    <td  class="item" style="min-width:5vw;" rowspan=1></td>
                    {% for date in dates %}
                        <td>{{selDevSym}}&nbsp;{{(capexMonth[date])|number_format(2, '.', ',') }}</td>
                    {% endfor %}
                </tr>
                <tr>
                    <td class="item"><strong>Implementation</strong> (B)</td>
                    <td>{{selDevSym}}&nbsp;{{(implemTot['tot'])|number_format(2, '.', ',') }}</td>
                    {% for year in years %}
                        <td>{{selDevSym}}&nbsp;{{(implemTot[year])|number_format(2, '.', ',') }}</td>
                    {% endfor %}
                    <td  class="item" style="min-width:5vw;" rowspan=1></td>
                    {% for date in dates %}
                        <td>{{selDevSym}}&nbsp;{{(implemMonth[date])|number_format(2, '.', ',') }}</td>
                    {% endfor %}
                </tr>
                <tr>
                    <td class="item"><strong>Total Investment</strong> (A + B)</td>
                    <td>{{selDevSym}}&nbsp;{{(implemTot['tot'] + capexTot['tot'])|number_format(2, '.', ',') }}</td>
                    {% for year in years %}
                        <td>{{selDevSym}}&nbsp;{{(implemTot[year] + capexTot['tot'])|number_format(2, '.', ',') }}</td>
                    {% endfor %}
                    <td  class="item" style="min-width:5vw;" rowspan=1></td>
                    {% for date in dates %}
                        <td>{{selDevSym}}&nbsp;{{(implemMonth[date] + capexTot['tot'])|number_format(2, '.', ',') }}</td>
                    {% endfor %}
                </tr>
                <tr>
                    <td class="item"><strong>Opex</strong> (C)</td>
                    <td>{{selDevSym}}&nbsp;{{(opexTot['tot'])|number_format(2, '.', ',') }}</td>
                    {% for year in years %}
                        <td>{{selDevSym}}&nbsp;{{(opexTot[year])|number_format(2, '.', ',') }}</td>
                    {% endfor %}
                    <td  class="item" style="min-width:5vw;" rowspan=1></td>
                    {% for date in dates %}
                        <td>{{selDevSym}}&nbsp;{{(opexMonth[date])|number_format(2, '.', ',') }}</td>
                    {% endfor %}
                </tr>
                <tr>
                    <td class="item"><strong>Revenues</strong> (D)</td>
                    <td>{{selDevSym}}&nbsp;{{(revenuesTot['tot'])|number_format(2, '.', ',') }}</td>
                    {% for year in years %}
                        <td>{{selDevSym}}&nbsp;{{(revenuesTot[year])|number_format(2, '.', ',') }}</td>
                    {% endfor %}
                    <td  class="item" style="min-width:5vw;" rowspan=1></td>
                    {% for date in dates %}
                        <td>{{selDevSym}}&nbsp;{{(revenuesMonth[date])|number_format(2, '.', ',') }}</td>
                    {% endfor %}
                </tr>
                <tr>
                    <td class="item"><strong>Cash Releasing<br>Cost Benefits</strong> (E)</td>
                    <td>{{selDevSym}}&nbsp;{{(cashreleasingTot['tot'])|number_format(2, '.', ',') }}</td>
                    {% for year in years %}
                        <td>{{selDevSym}}&nbsp;{{(cashreleasingTot[year])|number_format(2, '.', ',') }}</td>
                    {% endfor %}
                    <td  class="item" style="min-width:5vw;" rowspan=1></td>
                    {% for date in dates %}
                        <td>{{selDevSym}}&nbsp;{{(cashreleasingMonth[date])|number_format(2, '.', ',') }}</td>
                    {% endfor %}
                </tr>
                <tr>
                    <td class="item"><strong>Wider Cost Benefits</strong> (F)</td>
                    <td>{{selDevSym}}&nbsp;{{(widercashTot['tot'])|number_format(2, '.', ',') }}</td>
                    {% for year in years %}
                        <td>{{selDevSym}}&nbsp;{{(widercashTot[year])|number_format(2, '.', ',') }}</td>
                    {% endfor %}
                    <td  class="item" style="min-width:5vw;" rowspan=1></td>
                    {% for date in dates %}
                        <td>{{selDevSym}}&nbsp;{{(widercashMonth[date])|number_format(2, '.', ',') }}</td>
                    {% endfor %}
                </tr>
                <tr>
                    <td class="item"><strong>Net Cash exc. WCB</strong><br>(E + D - A - B - C)</td>
                    <td>{{selDevSym}}&nbsp;{{(netcashTot['tot'])|number_format(2, '.', ',') }}</td>
                    {% for year in years %}
                        <td>{{selDevSym}}&nbsp;{{(netcashTot[year])|number_format(2, '.', ',') }}</td>
                    {% endfor %}
                    <td  class="item" style="min-width:5vw;" rowspan=1></td>
                    {% for date in dates %}
                        <td>{{selDevSym}}&nbsp;{{(netcashPerMonth[date])|number_format(2, '.', ',') }}</td>
                    {% endfor %}
                </tr>
                <tr>
                    <td class="item"><strong>Cumulated<br>Net Cash exc. WCB</strong></td>
                    <td>-</td>
                    {% for year in years %}
                        <td>{{selDevSym}}&nbsp;{{(cumulnetcashTot[year])|number_format(2, '.', ',') }}</td>
                    {% endfor %}
                    <td  class="item" style="min-width:5vw;" rowspan=1></td>
                    {% for date in dates %}
                        <td>{{selDevSym}}&nbsp;{{(cumulnetcashPerMonth[date])|number_format(2, '.', ',') }}</td>
                    {% endfor %}
                </tr>
                <tr>
                    <td class="item"><strong>Net Societal Cash</strong><br>(F + E + D - A - B - C)</td>
                    <td>{{selDevSym}}&nbsp;{{(netsoccashTot['tot'])|number_format(2, '.', ',') }}</td>
                    {% for year in years %}
                        <td>{{selDevSym}}&nbsp;{{(netsoccashTot[year])|number_format(2, '.', ',') }}</td>
                    {% endfor %}
                    <td  class="item" style="min-width:5vw;" rowspan=1></td>
                    {% for date in dates %}
                        <td>{{selDevSym}}&nbsp;{{(netsoccashPerMonth[date])|number_format(2, '.', ',') }}</td>
                    {% endfor %}
                </tr>
                <tr>
                    <td class="item"><strong>Cumulated<br>Net Societal Cash</strong></td>
                    <td>-</td>
                    {% for year in years %}
                        <td>{{selDevSym}}&nbsp;{{(cumulnetsoccashTot[year])|number_format(2, '.', ',') }}</td>
                    {% endfor %}
                    <td  class="item" style="min-width:5vw;" rowspan=1></td>
                    {% for date in dates %}
                        <td>{{selDevSym}}&nbsp;{{(cumulnetsoccash[date])|number_format(2, '.', ',') }}</td>
                    {% endfor %}
                </tr>
            </tbody>
        </table>
    </div>
</div>

</div>
{% endmacro %}