{% macro sel_buttons(scope,ucs,measures,zones,selZones,repartZones) %}
<div class="row mt-2 mb-5 mx-5 text-center">
    <div class="offset-4 col-4">
        <select name="use_case" class="selectpicker " data-style="btn-dark" dropupAuto="false" title="Select a use case" required>
            {% for id_meas,list_ucs in scope %}
                <optgroup label="{{measures[id_meas]['name']}}">
                    {% for id_uc in list_ucs %}
                        <option value={{id_uc}}>{{ucs[id_uc]['name']}}</option>
                    {% endfor %}
                </optgroup>
            {% endfor %}
        </select>
    </div>
</div>
{% endmacro %}


{% macro output(years,implem,opex,revenues,capexAmort,baselineOpCost,netProjectCost,budgetCost,OBYI,OBCI,CRV,selDevSym) %}
<div class="row text-center ">
    <div class="col mt-2 mx-5 list-table budget_uc_table">
        <table id="budget_uc_table" class='table table-lg table-bordered table-striped table-responsive-lg'>
            <thead class="thead-light text-center">
                <tr>
                    <th class="text-uppercase" scope="col" style="width: 15vw;">Budget Impact</th>
                    <th scope="col">Current</th>
                    {% for year in years %}
                        <th scope="col">{{year}}</th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="item text-left"><strong>Budget Cost</strong><br>(I + II)</td>
                    <td>{{selDevSym}}&nbsp;{{budgetCost['current']|number_format(2, '.', ',')}}</td>
                    {% for year in years %}
                        <td>{{selDevSym}}&nbsp;{{budgetCost[year]|number_format(2, '.', ',')}}</td>
                    {% endfor %}
                </tr>
                <tr>
                    <td class="item text-left"><strong>I. Baseline Operating Cost</strong></td>
                    <td>{{selDevSym}}&nbsp;{{baselineOpCost['current']|number_format(2, '.', ',')}}</td>
                    {% for year in years %}
                        <td>{{selDevSym}}&nbsp;{{baselineOpCost[year]|number_format(2, '.', ',')}}</td>
                    {% endfor %}
                </tr>
                <tr>
                    <td class="item text-left"><strong>II. Net Project Cost</strong><br>(a + b - c + d)</td>
                    <td></td>
                    {% for year in years %}
                        <td>{{selDevSym}}&nbsp;{{netProjectCost[year]|number_format(2, '.', ',')}}</td>
                    {% endfor %}
                </tr>
                <tr class="sub_item">
                    <td class="item text-right"><strong>a. Implementation</strong></td>
                    <td></td>
                    {% for year in years %}
                        <td>{{selDevSym}}&nbsp;{{implem[year]|number_format(2, '.', ',')}}</td>
                    {% endfor %}
                </tr>
                <tr class="sub_item">
                    <td class="item text-right"><strong>b. Opex</strong></td>
                    <td></td>
                    {% for year in years %}
                        <td>{{selDevSym}}&nbsp;{{opex[year]|number_format(2, '.', ',')}}</td>
                    {% endfor %}
                </tr>
                <tr class="sub_item">
                    <td class="item text-right"><strong>c. Revenue</strong></td>
                    <td></td>
                    {% for year in years %}
                        <td>{{selDevSym}}&nbsp;{{revenues[year]|number_format(2, '.', ',')}}</td>
                    {% endfor %}
                </tr>
                <tr class="sub_item">
                    <td class="item text-right"><strong>d. Capex Amortization</strong></td>
                    <td></td>
                    {% for year in years %}
                        <td>{{selDevSym}}&nbsp;{{capexAmort[year]|number_format(2, '.', ',')}}</td>
                    {% endfor %}
                </tr>
                <tr>
                    <td class="item text-left"><strong>Project Impact On Budget</strong></td>
                    <td colspan={{1+years|length}}></td>
                </tr>
                <tr class="sub_item">
                    <td class="item text-right"><strong>Operating Budget<br>Yearly Impact</strong></td>
                    <td></td>
                    {% for year in years %}
                        <td>{{selDevSym}}&nbsp;{{OBYI[year]|number_format(2, '.', ',')}}</td>
                    {% endfor %}
                </tr>
                <tr class="sub_item">
                    <td class="item text-right"><strong>Operating Budget<br>Cumulated Impact</strong></td>
                    <td></td>
                    {% for year in years %}
                        <td>{{selDevSym}}&nbsp;{{OBCI[year]|number_format(2, '.', ',')}}</td>
                    {% endfor %}
                </tr>
                <tr>
                    <td class="item text-left"><strong>Capex Residual Value</strong></td>
                    <td></td>
                    {% for year in years %}
                        <td>{{selDevSym}}&nbsp;{{CRV[year]|number_format(2, '.', ',')}}</td>
                    {% endfor %}
                </tr>
            </tbody>
        </table>
    </div>
</div>
{% endmacro %}


{% macro output_all(years,implem,opex,revenues,capexAmort,baselineOpCost,netProjectCost,budgetCost,OBYI,OBCI,CRV,selDevSym) %}
<div class="row text-center ">
    <div class="col mt-2 mx-5 list-table budget_all_table">
        <table id="budget_all_table" class='table table-lg table-bordered table-striped table-responsive-lg'>
            <thead class="thead-light text-center">
                <tr>
                    <th class="text-uppercase" scope="col" style="width: 15vw;">Budget Impact</th>
                    <th scope="col">Current</th>
                    {% for year in years %}
                        <th scope="col">{{year}}</th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="item text-left"><strong>Budget Cost</strong><br>(I + II)</td>
                    <td>{{selDevSym}}&nbsp;{{budgetCost['current']|number_format(2, '.', ',')}}</td>
                    {% for year in years %}
                        <td>{{selDevSym}}&nbsp;{{budgetCost[year]|number_format(2, '.', ',')}}</td>
                    {% endfor %}
                </tr>
                <tr>
                    <td class="item text-left"><strong>I. Baseline Operating Cost</strong></td>
                    <td>{{selDevSym}}&nbsp;{{baselineOpCost['current']|number_format(2, '.', ',')}}</td>
                    {% for year in years %}
                        <td>{{selDevSym}}&nbsp;{{baselineOpCost[year]|number_format(2, '.', ',')}}</td>
                    {% endfor %}
                </tr>
                <tr>
                    <td class="item text-left"><strong>II. Net Project Cost</strong><br>(a + b - c + d)</td>
                    <td></td>
                    {% for year in years %}
                        <td>{{selDevSym}}&nbsp;{{netProjectCost[year]|number_format(2, '.', ',')}}</td>
                    {% endfor %}
                </tr>
                <tr class="sub_item">
                    <td class="item text-right"><strong>a. Implementation</strong></td>
                    <td></td>
                    {% for year in years %}
                        <td>{{selDevSym}}&nbsp;{{implem[year]|number_format(2, '.', ',')}}</td>
                    {% endfor %}
                </tr>
                <tr class="sub_item">
                    <td class="item text-right"><strong>b. Opex</strong></td>
                    <td></td>
                    {% for year in years %}
                        <td>{{selDevSym}}&nbsp;{{opex[year]|number_format(2, '.', ',')}}</td>
                    {% endfor %}
                </tr>
                <tr class="sub_item">
                    <td class="item text-right"><strong>c. Revenue</strong></td>
                    <td></td>
                    {% for year in years %}
                        <td>{{selDevSym}}&nbsp;{{revenues[year]|number_format(2, '.', ',')}}</td>
                    {% endfor %}
                </tr>
                <tr class="sub_item">
                    <td class="item text-right"><strong>d. Capex Amortization</strong></td>
                    <td></td>
                    {% for year in years %}
                        <td>{{selDevSym}}&nbsp;{{capexAmort[year]|number_format(2, '.', ',')}}</td>
                    {% endfor %}
                </tr>
                <tr>
                    <td class="item text-left"><strong>Project Impact On Budget</strong></td>
                    <td colspan={{1+years|length}}></td>
                </tr>
                <tr class="sub_item">
                    <td class="item text-right"><strong>Operating Budget<br>Yearly Impact</strong></td>
                    <td></td>
                    {% for year in years %}
                        <td>{{selDevSym}}&nbsp;{{OBYI[year]|number_format(2, '.', ',')}}</td>
                    {% endfor %}
                </tr>
                <tr class="sub_item">
                    <td class="item text-right"><strong>Operating Budget<br>Cumulated Impact</strong></td>
                    <td></td>
                    {% for year in years %}
                        <td>{{selDevSym}}&nbsp;{{OBCI[year]|number_format(2, '.', ',')}}</td>
                    {% endfor %}
                </tr>
                <tr>
                    <td class="item text-left"><strong>Capex Residual Value</strong></td>
                    <td></td>
                    {% for year in years %}
                        <td>{{selDevSym}}&nbsp;{{CRV[year]|number_format(2, '.', ',')}}</td>
                    {% endfor %}
                </tr>
            </tbody>
        </table>
    </div>
</div>
{% endmacro %}

{% macro output_budget(years,data) %}

<span hidden id="data">{{ data }}</span>
<div class="row text-center ">
    <div class="col mt-2 mx-3 list-table budget_table">
        <table id="budget_table" class='table table-lg table-bordered table-striped table-responsive-lg'>
            <thead class="thead-light text-center">
                <tr>
                    <th class="text-uppercase" scope="col" style="width: 15vw;">Budget Impact</th>
                    <th scope="col">Current</th>
                    {% for year in years %}
                        <th scope="col" class="year">{{year}}</th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="item text-left"><strong>Budget Cost</strong><br>(I + II)</td>
                    <td id="budgetCost_current">-</td>
                    {% for year in years %}
                        <td id="budgetCost_{{year}}">-</td>
                    {% endfor %}
                </tr>
                <tr>
                    <td class="item text-left"><strong>I. Baseline Operating Cost</strong></td>
                    <td id="baselineOpCost_current">-</td>
                    {% for year in years %}
                        <td id="baselineOpCost_{{year}}">-</td>
                    {% endfor %}
                </tr>
                <tr>
                    <td class="item text-left"><strong>II. Net Project Cost</strong><br>(a + b - c + d)</td>
                    <td></td>
                    {% for year in years %}
                        <td id="netProjectCost_{{year}}">-</td>
                    {% endfor %}
                </tr>
                <tr class="sub_item">
                    <td class="item text-right"><strong>a. Implementation</strong></td>
                    <td></td>
                    {% for year in years %}
                        <td id="implem_{{year}}">-</td>
                    {% endfor %}
                </tr>
                <tr class="sub_item">
                    <td class="item text-right"><strong>b. Opex</strong></td>
                    <td></td>
                    {% for year in years %}
                        <td id="opex_{{year}}">-</td>
                    {% endfor %}
                </tr>
                <tr class="sub_item">
                    <td class="item text-right"><strong>c. Revenue</strong></td>
                    <td></td>
                    {% for year in years %}
                        <td id="revenues_{{year}}">-</td>
                    {% endfor %}
                </tr>
                <tr class="sub_item">
                    <td class="item text-right"><strong>d. Capex Amortization</strong></td>
                    <td></td>
                    {% for year in years %}
                        <td id="capexAmort_{{year}}">-</td>
                    {% endfor %}
                </tr>
                <tr>
                    <td class="item text-left"><strong>Project Impact On Budget</strong></td>
                    <td colspan={{1+years|length}}></td>
                </tr>
                <tr class="sub_item">
                    <td class="item text-right"><strong>Operating Budget<br>Yearly Impact</strong></td>
                    <td></td>
                    {% for year in years %}
                        <td id="OBYI_{{year}}">-</td>
                    {% endfor %}
                </tr>
                <tr class="sub_item">
                    <td class="item text-right"><strong>Operating Budget<br>Cumulated Impact</strong></td>
                    <td></td>
                    {% for year in years %}
                        <td id="OBCI_{{year}}">-</td>
                    {% endfor %}
                </tr>
                <tr>
                    <td class="item text-left"><strong>Capex Residual Value</strong></td>
                    <td></td>
                    {% for year in years %}
                        <td id="CRV_{{year}}">-</td>
                    {% endfor %}
                </tr>
            </tbody>
        </table>
    </div>
</div>
{% endmacro %}