
{% macro output(dates,years,capexMonth,capexTot,implemMonth,implemTot,opexMonth,opexTot,revenuesMonth,revenuesTot,cashreleasingMonth,cashreleasingTot,widercashMonth,widercashTot,netcashPerMonth,netcashTot,netsoccashPerMonth,netsoccashTot,cumulnetcashPerMonthPerMonth,cumulnetsoccashPerMonth,cumulnetcashTot,cumulnetsoccashTot,selDevSym) %}
<div class="row text-center ">
    <div class="col mt-2 mx-5 list-table cball_table">
        <table id="cball_table" class='table table-lg table-bordered table-striped table-responsive-lg'>
            <thead class="thead-light text-center sticky-top">
                {# <tr class="text-uppercase">
                    <th scope="col" colspan=2>Financials Summary Table</th>
                    <th scope="col" colspan={{years|length + dates|length}}>Use Case Projet Schedule</th>
                </tr> #}
                <tr>
                    <th scope="col"></th>
                    <th scope="col">Total</th>
                    {% for year in years %}
                        <th scope="col">{{year}}</th>
                    {% endfor %}
                    <th rowspan=1></th>
                    {% for date in dates %}
                        <th scope="col">{{date}}</th>
                    {% endfor %}

                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="item"><strong>Capex</strong> (A)</td>
                    <td>{{selDevSym}} {{(capexTot['tot'])|number_format(2, '.', ',') }}</td>
                    {% for year in years %}
                        <td>{{selDevSym}} {{(capexTot[year])|number_format(2, '.', ',') }}</td>
                    {% endfor %}
                    <td  style="min-width:5vw;" rowspan=10></td>
                    {% for date in dates %}
                        <td>{{selDevSym}} {{(capexMonth[date])|number_format(2, '.', ',') }}</td>
                    {% endfor %}
                </tr>
                <tr>
                    <td class="item"><strong>Implementation</strong> (B)</td>
                    <td>{{selDevSym}} {{(implemTot['tot'])|number_format(2, '.', ',') }}</td>
                    {% for year in years %}
                        <td>{{selDevSym}} {{(implemTot[year])|number_format(2, '.', ',') }}</td>
                    {% endfor %}
                    {% for date in dates %}
                        <td>{{selDevSym}} {{(implemMonth[date])|number_format(2, '.', ',') }}</td>
                    {% endfor %}
                </tr>
                <tr>
                    <td class="item"><strong>Opex</strong> (C)</td>
                    <td>{{selDevSym}} {{(opexTot['tot'])|number_format(2, '.', ',') }}</td>
                    {% for year in years %}
                        <td>{{selDevSym}} {{(opexTot[year])|number_format(2, '.', ',') }}</td>
                    {% endfor %}
                    {% for date in dates %}
                        <td>{{selDevSym}} {{(opexMonth[date])|number_format(2, '.', ',') }}</td>
                    {% endfor %}
                </tr>
                <tr>
                    <td class="item"><strong>Revenues</strong> (D)</td>
                    <td>{{selDevSym}} {{(revenuesTot['tot'])|number_format(2, '.', ',') }}</td>
                    {% for year in years %}
                        <td>{{selDevSym}} {{(revenuesTot[year])|number_format(2, '.', ',') }}</td>
                    {% endfor %}
                    {% for date in dates %}
                        <td>{{selDevSym}} {{(revenuesMonth[date])|number_format(2, '.', ',') }}</td>
                    {% endfor %}
                </tr>
                <tr>
                    <td class="item"><strong>Cash Releasing<br>Cost Benefits</strong> (E)</td>
                    <td>{{selDevSym}} {{(cashreleasingTot['tot'])|number_format(2, '.', ',') }}</td>
                    {% for year in years %}
                        <td>{{selDevSym}} {{(cashreleasingTot[year])|number_format(2, '.', ',') }}</td>
                    {% endfor %}
                    {% for date in dates %}
                        <td>{{selDevSym}} {{(cashreleasingMonth[date])|number_format(2, '.', ',') }}</td>
                    {% endfor %}
                </tr>
                <tr>
                    <td class="item"><strong>Wider Cost Benefits</strong> (F)</td>
                    <td>{{selDevSym}} {{(widercashTot['tot'])|number_format(2, '.', ',') }}</td>
                    {% for year in years %}
                        <td>{{selDevSym}} {{(widercashTot[year])|number_format(2, '.', ',') }}</td>
                    {% endfor %}
                    {% for date in dates %}
                        <td>{{selDevSym}} {{(widercashMonth[date])|number_format(2, '.', ',') }}</td>
                    {% endfor %}
                </tr>
                <tr>
                    <td class="item"><strong>Net Cash exc. WCB</strong><br>(E + D - A - B - C)</td>
                    <td>{{selDevSym}} {{(netcashTot['tot'])|number_format(2, '.', ',') }}</td>
                    {% for year in years %}
                        <td>{{selDevSym}} {{(netcashTot[year])|number_format(2, '.', ',') }}</td>
                    {% endfor %}
                    {% for date in dates %}
                        <td>{{selDevSym}} {{(netcashPerMonth[date])|number_format(2, '.', ',') }}</td>
                    {% endfor %}
                </tr>
                <tr>
                    <td class="item"><strong>Cumulated<br>Net Cash exc. WCB</strong></td>
                    <td>-</td>
                    {% for year in years %}
                        <td>{{selDevSym}} {{(cumulnetcashTot[year])|number_format(2, '.', ',') }}</td>
                    {% endfor %}
                    {% for date in dates %}
                        <td>{{selDevSym}} {{(cumulnetcashPerMonth[date])|number_format(2, '.', ',') }}</td>
                    {% endfor %}
                </tr>
                <tr>
                    <td class="item"><strong>Net Societal Cash</strong><br>(F + E + D - A - B - C)</td>
                    <td>{{selDevSym}} {{(netsoccashTot['tot'])|number_format(2, '.', ',') }}</td>
                    {% for year in years %}
                        <td>{{selDevSym}} {{(netsoccashTot[year])|number_format(2, '.', ',') }}</td>
                    {% endfor %}
                    {% for date in dates %}
                        <td>{{selDevSym}} {{(netsoccashPerMonth[date])|number_format(2, '.', ',') }}</td>
                    {% endfor %}
                </tr>
                <tr>
                    <td class="item"><strong>Cumulated<br>Net Societal Cash</strong></td>
                    <td>-</td>
                    {% for year in years %}
                        <td>{{selDevSym}} {{(cumulnetsoccashTot[year])|number_format(2, '.', ',') }}</td>
                    {% endfor %}
                    {% for date in dates %}
                        <td>{{selDevSym}} {{(cumulnetsoccash[date])|number_format(2, '.', ',') }}</td>
                    {% endfor %}
                </tr>
            </tbody>
        </table>
    </div>
</div>
{% endmacro %}