{% macro sel_buttons(scope,ucs,measures,zones,selZones,repartZones) %}
<div class="row mt-2 mb-5 mx-5 text-center">
    <div class="offset-4 col-4">
        <select name="use_case" class="selectpicker " data-style="btn-dark" dropupAuto="false" title="Select a use case" required>
            {% for id_meas,list_ucs in scope %}
                <optgroup label="{{measures[id_meas]['name']}}">
                    {% for id_uc in list_ucs %}
                        <option value={{id_uc}}>{{ucs[id_uc]['name']}}</option>
                    {% endfor %}
                </optgroup>
            {% endfor %}
        </select>
    </div>
</div>
{% endmacro %}


{% macro list_zones(zones,level,list_sel=[]) %}
<div class="row text-center level_{{level}} offset-2 ">
    <div class="col-8 mt-2 mx-5 list-table">
        <table id="zones_table" class='table table-sm table-bordered table-striped table-responsive-lg'>
            <thead class="thead-dark text-center">
                <tr>
                    <th scope="col"></th>
                    <th scope="col">Name</th>
                    <th scope="col">Type</th>
                    {{ level > 1 ? '<th scope="col">Parent</th>' : ''}}
                </tr>
            </thead>
            <tbody>
            {% for zone in zones %}
            {% set hasChildren = zone['hasChildren'] ? "hasChildren bg-secondary" : "" %}
            {% set inputID = zone['hasChildren'] ? "" : ""%}
                <tr id = "{{ zone['id'] }}_{{zone['parent'][0]}}" class="{{hasChildren}} child_{{zone['parent'][0]}}" scope="row">
                    {% if zone['id'] in list_sel|keys %}
                        <td class="check-col"><input type="checkbox" id='{{ inputID }}{{ zone['id'] }}' name="{{ inputID }}{{ zone['id'] }}" onclick="countChecked_zones('form_cbuc')"></td>
                        {# <td>{{ zone['id'] }}</td> #}
                        <td>{{ zone['name'] }}</td>
                        <td>{{ zone['type'] }}</td>
                        {% if level > 1  %}
                        <td>{{zone['parent'][1]}}</td>
                        {% endif %}
                    {% endif %}
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endmacro %}

{% macro output(years,ratio_zones,capex,implem,opex,revenues) %}
<div class="row text-center ">
    <div class="col mt-2 mx-5 list-table cbuc_table">
        <table id="cbuc_table" class='table table-lg table-bordered table-striped table-responsive-lg'>
            <thead class="thead-light text-center">
                <tr class="text-uppercase">
                    <th scope="col" colspan=2>Financials Summary Table</th>
                    <th scope="col" colspan={{years|length}}>Use Case Projet Schedule</th>
                </tr>
                <tr>
                    <th scope="col"></th>
                    <th scope="col">Total</th>
                    {% for year in years %}
                        <th scope="col">{{year}}</th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="item"><strong>Capex</strong> (A)</td>
                    <td>{{(capex['tot']*ratio_zones)|number_format(2, '.', ',') }}£</td>
                    {% for year in years %}
                        <td>{{(capex[year]*ratio_zones)|number_format(2, '.', ',') }}£</td>
                    {% endfor %}
                </tr>
                <tr>
                    <td class="item"><strong>Implementation</strong> (B)</td>
                    <td>{{(implem['tot']*ratio_zones)|number_format(2, '.', ',') }}£</td>
                    {% for year in years %}
                        <td>{{(implem[year]*ratio_zones)|number_format(2, '.', ',') }}£</td>
                    {% endfor %}
                </tr>
                <tr>
                    <td class="item"><strong>Opex</strong> (C)</td>
                    <td>{{(opex['tot']*ratio_zones)|number_format(2, '.', ',') }}£</td>
                    {% for year in years %}
                        <td>{{(opex[year]*ratio_zones)|number_format(2, '.', ',') }}£</td>
                    {% endfor %}
                </tr>
                <tr>
                    <td class="item"><strong>Revenues</strong> (D)</td>
                    <td>{{(revenues['tot']*ratio_zones)|number_format(2, '.', ',') }}£</td>
                    {% for year in years %}
                        <td>{{(revenues[year]*ratio_zones)|number_format(2, '.', ',') }}£</td>
                    {% endfor %}
                </tr>
                <tr>
                    <td class="item"><strong>Cash Releasing<br>Cost Benefits</strong> (E)</td>
                    <td>1000</td>
                    {% for year in years %}
                        <td>to calculate</td>
                    {% endfor %}
                </tr>
                <tr>
                    <td class="item"><strong>Wider Cost Benefits</strong> (F)</td>
                    <td>1000</td>
                    {% for year in years %}
                        <td>to calculate</td>
                    {% endfor %}
                </tr>
                <tr>
                    <td class="item"><strong>Net Cash exc.<br>Wider Cost Benefits</strong><br>(E + D - A - B - C)</td>
                    <td>1000</td>
                    {% for year in years %}
                        <td>to calculate</td>
                    {% endfor %}
                </tr>
                <tr>
                    <td class="item"><strong>Net Societal Cash</strong><br>(F + E + D - A - B - C)</td>
                    <td>1000</td>
                    {% for year in years %}
                        <td>to calculate</td>
                    {% endfor %}
                </tr>
            </tbody>
        </table>
    </div>
</div>
{% endmacro %}