{% extends '/others/general_common.twig' %}
{% set sideBarName = "customer_dashboards" %}

{% import "/templates/choose_redirect.twig" as redirect %}
{% import "/templates/second_bar.twig" as second_bar %}
{% import "/templates/sidebar.twig" as sidebar %}
{% import "/templates/customer_dashboards/macro_option.twig" as option %}
{% import "/templates/customer_dashboards/macro_table.twig" as table %}


{% block sidebar %}{{ sidebar.sidebar("customer_dashboards", projID) }}{% endblock %}

{% block title %}Dashbords - Non monetizable{% endblock %}

{% block content %}

{% set colNames = ["Items"]|merge(years) %}


{{ second_bar.second_bar(username,is_admin,selDevName,selDevSym,part,selected) }}

<div class="row jumbotron text-light bg-dark m-5 p-3">
    <div class="col text-center">
        <p>Dashboard per Use Case of Non Monetizable items presented over Project lifecycle.</p>
    </div>
</div>


{{ option.option(selScope, ucs) }}

{{ table.table([], colNames, selDevSym)}}
<div id="graph ">
</div>
<div id="data"  data-to-show="{{ data|json_encode }}" data-years="{{years|json_encode}}"></div>
<div id="currency" hidden>{{selDevSym}}</div>
<script type="text/javascript" src="../../public/assets/js/custom/customer_bc/table.js"></script>

{% endblock %}

