{% extends '/others/general_common.twig' %}

{% import "/templates/choose_redirect.twig" as redirect %}
{% import "/templates/second_bar.twig" as second_bar %}
{% import "/templates/sidebar.twig" as sidebar %}
{% import "/templates/dashboards/macro_cb.twig" as macros %}
{% import "/templates/customer_dashboards/macro_table.twig" as table %}

{% block sidebar %}{{ sidebar.sidebar(sideBarName, projID) }}{% endblock %}

{% block title %}Dashbords - Project Details{% endblock %}

{% block content %}


{% if side == "customer" %}
    {% set lineNames = [
        ["Cash-Out", "cashOut", 1],
        ["Capex", "cashOutCapex", 2],
        ["supplier", "cashOutCapexSupplier", 3],
        ["other supplier", "cashOutCapexOtherSupplier", 3],
        ["Deployment", "cashOutDeployment", 2],
        ["supplier","cashOutDeploymentSupplier", 3 ],
        ["other supplier", "cashOutDeploymentOtherSupplier", 3],
        ["internal", "cashOutDeploymentInternal", 3],
        ["Opex", "cashOutOpex", 2],
        ["supplier", "cashOutOpexSupplier", 3],
        ["other supplier", "cashOutOpexOtherSupplier", 3],
        ["internal", "cashOutOpexInternal", 3],
        ["Cash-In", "cashIn", 1],
        ["UC Revenues", "cashInRevenuesUcRevenues", 2],
        ["Cash Realeasing Benefits", "cashInRevenuesCashRealeasingBenefits", 2],
        ["Wider Cash Benefits", "cashInRevenuesWiderCashBenefits", 2],
        ["Net Cash", "netCash", 1],
        ["Cummulated Net Cash", "cummulatedNetCash", 1],
        ["Net Societal Cash", "netSocietalCash", 1],
        ["Cummulated Net Societal Cash", "cummulatedNetSocietalCash", 1]
    ] %}
{% elseif side == "supplier" %}
    {% set lineNames = [
        ["Cash-Out", "cashOut", 1],
        ["Capex", "cashOutCapex", 2],
        ["Deployment", "cashOutDeployment", 2],
        ["intern", "cashOutDeploymentIntern", 3],
        ["extern","cashOutDeploymentExtern", 3 ],
        ["Opex", "cashOutOpex", 2],
        ["intern", "cashOutOpexIntern", 3],
        ["extern","cashOutOpexExtern", 3 ],
        ["Cash-In", "cashIn", 1],
        ["Equipment", "cashInEquipment", 2],
        ["Deplmoyment ", "cashInDeplmoyment", 2],
        ["Operating", "cashInOperating", 2],
        ["Net Cash", "netCash", 1],
        ["Cummulated Net Cash", "cummulatedNetCash", 1]
    ] %}
{% endif %}

{% set colNames = ["","Total"]|merge(years)|merge(months) %}


{{ second_bar.second_bar(username,is_admin,selDevName,selDevSym,part,selected) }}

<div class="row jumbotron text-light bg-dark m-5 p-3">
    <div class="col text-center">
        <p>Dashboard of Project Cash-Out and Cash-In items (annual / monthly scheduling).</p>


    </div>
</div>
{{ table.table(lineNames, colNames, selDevSym) }}


<div id="data"  data-to-show="{{ data|json_encode }}"></div>
<div id="deviseName" hidden>{{selDevName}}</div>
<script type="text/javascript" src="../../public/assets/js/custom/customer_bc/project_details.js"></script>
{% endblock %}

