{% extends '/others/general_common.twig' %}
{% set sideBarName = "customer_dashboards" %}

{% import "/templates/choose_redirect.twig" as redirect %}
{% import "/templates/second_bar.twig" as second_bar %}
{% import "/templates/sidebar.twig" as sidebar %}
{% import "/templates/customer_dashboards/macro_summary.twig" as macros %}

{% block sidebar %}{{ sidebar.sidebar("customer_dashboards", projID) }}{% endblock %}

{% block title %}Dashbords - Summary{% endblock %}

{% block content %}


{{ second_bar.second_bar(username,is_admin,selDevName,selDevSym,part,selected) }}
<div hidden class="row jumbotron text-light m-5 bg-dark p-3">
    <div class="col text-center">
        <p class="text-justify">Summary Dashboard of key project metrics across project life cycle. </p>
    </div>
</div>


<h2 class="ml-5 mt-5" ><span style="font-weight: 600;">Financial: Summary - </span><span style="font-weight: 400;"></span>{{ selected }}</h2>

<div class="container-fluid">
    <div class="row">
        <div class="col-6 px-0">
            {# SCOPE #}
            <div class="dash-bg container-fluid m-1 ml-2 p-4">
                {# KEY DATES #}
                <div class="dash-bg-light container-fluid p-3">
                    {{ macros.key_dates(scope,ucs,keydates_uc,uc_completed) }}
                </div>

                {# # OF UC #}
                <div class="dash-bg-light container-fluid p-3 mt-4">
                <h3 class="dash-title mb-3">Project Score</h3>
                    {{ macros.project_score(selDevSym) }}
                </div>    
            </div>            
            
            {# BUGDET #}
            <div class="dash-bg container-fluid m-1 ml-2 mt-4 p-4">
                    <div class="dash-bg-light container-fluid p-3">
                    {#{ macros.budget(baselineOpCost, netProjectCost, OBYI, years) }#}
                    </div>
            </div>

        </div>


        {# CB + KPI #}
        <div class="col-6">
            <div class="dash-bg container-fluid m-1 ml-2 p-4">
                    <div class="dash-bg-light container-fluid p-3">
                        {{ macros.costbenefits(years, cumulnetcashTot, cumulnetsoccashTot) }}
                    </div>
                    <div class="dash-bg-light container-fluid p-3 mt-4">
                        {#{ macros.kpi(selDevSym,implemTot,capexTot,npv,socnpv,breakeven,soc_breakeven,ratingNonCash,ratingRisks) }#}
                    </div>
            </div>

            {# BANKABIKITY #}
            <section class="dash-bg container-fluid m-1 ml-2 mt-4 p-4">
                <div class="dash-bg-light container-fluid p-3">
                    {#{ macros.financial_bankability(selDevSym, input_nogo_target, bankability_data) }#}
                </div>
                <div class="dash-bg-light container-fluid p-3 mt-4">
                    {#{ macros.societal_bankability() }#}
                </div>
            </section>

        </div>
        
    </div>

    </section>
</div>

<script type="text/javascript" src="../../public/assets/js/custom/customer_bc/summary.js"></script>
{% endblock %}

