{% extends '/others/general_common.twig' %}

{% import "/templates/choose_redirect.twig" as redirect %}
{% import "/templates/second_bar.twig" as second_bar %}
{% import "/templates/sidebar.twig" as sidebar %}
{% import "/templates/customer_dashboards/macro_summary.twig" as macros %}
{% import "/templates/customer_dashboards/macro_table.twig" as table %}
{% import "/templates/customer_dashboards/macro_torus.twig" as torus %}

{% block sidebar %}{{ sidebar.sidebar(sideBarName, projID) }}{% endblock %}

{% block title %}Dashboards - Summary{% endblock %}

{% block content %}

{% if sideBarName == "supplier_dashboards" %}
    {% set bankability_lineNames = [
        ["Operating Margin", "operatingMargin", 1],
        ["Payback", "payback", 1],
        ["ROI", "roi", 1],
        ["NPV", "npv", 1]
    ] %}
    {% set bankabakity_colNames =["", "Target", "Financial\nBankability", "Societal\nBankability"] %}
{% elseif sideBarName == "customer_dashboards" %}
    {% set bankability_lineNames = [
            ["Payback", "payback", 1],
            ["Societal Payback", "societalPayback", 1],
            ["ROI", "roi", 1],
            ["Societal ROI", "societalRoi", 1],
            ["NPV", "npv", 1],
            ["Societal NPV", "societalNpv", 1],
            ["Non Quantifiable Benefits", "nqb", 1],
            ["Risk", "risk", 1]
        ] %}
    {% set bankabakity_colNames =["", "Target", "Financial\nBankability", "Societal\nBankability"] %}
{% endif %}


{{ second_bar.second_bar(username,is_admin,selDevName,selDevSym,part,selected) }}
<div hidden class="row jumbotron text-light m-5 bg-dark p-3">
    <div class="col text-center">
        <p class="text-justify">Summary Dashboard of key project metrics across project life cycle. </p>
    </div>
</div>


<h2 class="ml-5 mt-5" ><span style="font-weight: 600;">Financial: Summary - </span><span style="font-weight: 400;"></span>{{ selected }}</h2>

<div class="container-fluid">
    <div class="row">
        <div class="col-6 px-0">
            {# SCOPE #}
            <div class="dash-bg container-fluid m-1 ml-2 p-4">
                {# KEY DATES #}
                <div class="dash-bg-light container-fluid p-3">
                    {{ macros.key_dates(scope,ucs,keydates_uc,uc_completed) }}
                </div>

                {# # OF UC #}
                <div class="dash-bg-light container-fluid p-3 mt-4">
                <h3 class="dash-title mb-3">Bankability</h3>
                    {{ macros.project_score(bankability_lineNames) }}
                    {#{ table.table(bankability_lineNames, bankabakity_colNames, selDevSym, "table", "", "") }#}
                        <div class="text-center">
                            <span id="errorInput" style="color:red;"></span>
                        </div>
                </div>    
            </div>            
            
            {# BUGDET #}


        </div>


        {# CB + KPI #}
        <div class="col-6">
            <div class="dash-bg container-fluid m-1 ml-2 p-4">
                    <div class="dash-bg-light container-fluid p-3">
                        {{ macros.costbenefits(years, cumulnetcashTot, cumulnetsoccashTot) }}
                    </div>
            </div>            
            <div class="dash-bg container-fluid m-1 ml-2 mt-4 p-4">
                    <div class="dash-bg-light container-fluid p-3">
                        <h3 class="dash-title mb-3">Repartition of benefits</h3>
                        <canvas id="repartitionOfBenefits" height="150px"/> 
                    </div>
            </div>



        </div>
        
    </div>

    </section>
</div>


<div id="data"  data-bankability-target-nogo="{{ bankability_target|json_encode }}" data-bankability-calc="{{bankability_cacl|json_encode}}" data-repartition-of-benefits = "{{repartition_of_benefits|json_encode}}"></div>
<div id="selDevSym"  hidden>{{selDevSym}}</div>
<script type="text/javascript" src="../../public/assets/js/custom/customer_bc/summary.js"></script>
{% endblock %}

