{% extends '/others/general_common.twig' %}

{% import "/templates/choose_redirect.twig" as redirect %}
{% import "/templates/second_bar.twig" as second_bar %}
{% import "/templates/sidebar.twig" as sidebar %}
{% import "/templates/customer_dashboards/macro_table.twig" as table %}
{% import "/templates/customer_dashboards/macro_option.twig" as option %}

{% block sidebar %}{{ sidebar.sidebar(sideBarName, projID) }}{% endblock %}

{% block title %}Dashbords - Use Case Details{% endblock %}

{% block content %}


{{ second_bar.second_bar(username,is_admin,selDevName,selDevSym,part,selected) }}
{% if side == "customer" %}
    {% set lineNames = [
        ["Cash-Out", "cashOut", 1],
        ["Capex", "cashOutCapex", 2],
        ["supplier", "cashOutCapexSupplier", 3],
        ["other supplier", "cashOutCapexOtherSupplier", 3],
        ["Deployment", "cashOutDeployment", 2],
        ["supplier","cashOutDeploymentSupplier", 3 ],
        ["other supplier", "cashOutDeploymentOtherSupplier", 3],
        ["internal", "cashOutDeploymentInternal", 3],
        ["Opex", "cashOutOpex", 2],
        ["supplier", "cashOutOpexSupplier", 3],
        ["other supplier", "cashOutOpexOtherSupplier", 3],
        ["internal", "cashOutOpexInternal", 3],
        ["Cash-In", "cashIn", 1],
        ["UC Revenues", "cashInRevenuesUcRevenues", 2],
        ["Cash Realeasing Benefits", "cashInRevenuesCashRealeasingBenefits", 2],
        ["Wider Cash Benefits", "cashInRevenuesWiderCashBenefits", 2],
        ["Net Cash", "netCash", 1],
        ["Cummulated Net Cash", "cummulatedNetCash", 1],
        ["Net Societal Cash", "netSocietalCash", 1],
        ["Cummulated Net Societal Cash", "cummulatedNetSocietalCash", 1]
    ] %}
{% elseif side == "supplier" %}
    {% set lineNames = [
        ["Cash-Out", "cashOut", 1],
        ["Capex", "cashOutCapex", 2],
        ["Deployment", "cashOutDeployment", 2],
        ["intern", "cashOutDeploymentIntern", 3],
        ["extern","cashOutDeploymentExtern", 3 ],
        ["Opex", "cashOutOpex", 2],
        ["intern", "cashOutOpexIntern", 3],
        ["extern","cashOutOpexExtern", 3 ],
        ["Cash-In", "cashIn", 1],
        ["Equipment", "cashInEquipment", 2],
        ["Deplmoyment ", "cashInDeplmoyment", 2],
        ["Operating", "cashInOperating", 2],
        ["Net Cash", "netCash", 1],
        ["Cummulated Net Cash", "cummulatedNetCash", 1]
    ] %}
{% endif %}
{% set colNames = ["","Total"]|merge(years)|merge(months) %}




<div class="row jumbotron text-light bg-dark m-5 p-3">
    <div class="col text-center">
        <p>Dashboard per Use Case of Cash-Out and Cash-In items (Annual / monthly scheduling).</p>

    </div>
</div>


{{ option.option(selScope, ucs) }}

<div class="row my-5">
    <button class="offset-5 col-2 btn btn-dark text-light" id="month_details" role="button" onclick="changeMonths()">Month Details</button>
</div>

{{ table.table(lineNames, colNames,  selDevSym) }}


<div id="graph">
</div>



<div id="data"  data-to-show="{{ data|json_encode }}" data-months = "{{ months|json_encode }}" data-years = "{{ years|json_encode }}" ></div>
<div id="deviseName" hidden>{{selDevName}}</div>
<script type="text/javascript" src="../../public/assets/js/custom/customer_bc/table.js"></script>
<script type="text/javascript" src="../../public/assets/js/custom/customer_bc/project_details.js"></script>


{% endblock %}



