{% extends '/others/general_common.twig' %}
{% set sideBarName = "customer_dashboards" %}

{% import "/templates/choose_redirect.twig" as redirect %}
{% import "/templates/second_bar.twig" as second_bar %}
{% import "/templates/sidebar.twig" as sidebar %}
{% import "/templates/customer_dashboards/macro_project_details.twig" as table %}

{% block sidebar %}{{ sidebar.sidebar("customer_dashboards", projID) }}{% endblock %}

{% block title %}Dashbords - Use Case Details{% endblock %}

{% block content %}


{{ second_bar.second_bar(username,is_admin,selDevName,selDevSym,part,selected) }}
{% set lineNames = [
    ["Cash-Out", "cashOut", 1],
    ["Capex", "cashOut_capex", 2],
    ["supplier", "cashOut_capex_supplier", 3],
    ["other supplier", "cashOut_capex_otherSupplier", 3],
    ["Deployment", "cashOut_deployment", 2],
    ["supplier","cashOut_deployment_supplier", 3 ],
    ["other supplier", "cashOut_deployment_otherSupplier", 3],
    ["internal", "cashOut_deployment_internal", 3],
    ["Opex", "cashOut_opex", 2],
    ["supplier", "cashOut_opex_opex", 3],
    ["other supplier", "cashOut_opex_otherSupplier", 3],
    ["internal", "cashOut_opex_internal", 3],
    ["Cash-In Revenues", "cashInRevenues", 1],
    ["UC Revenues", "cashInRevenues_ucRevenues", 2],
    ["Cash Realeasing Benefits", "cashInRevenues_cashRealeasingBenefits", 2],
    ["Wider Cash Benefits", "cashInRevenues_widerCashBenefits", 2],
    ["Net Cash", "netCash", 1],
    ["Cummulated Net Cash", "cummulatedNetCash", 1],
    ["Net Societal Cash", "netSocietalCash", 1],
    ["Cummulated Net Societal Cash", "cummulatedNetSocietalCash", 1]
] %}
{% set colNames = ["", "2015", "2016"] %}
{% set colNames = [""]|merge(years) %}


{#% set data = [["1", 
                    ["0", "0", "0", "0", "0", "0", "0", "0", "0", "0", "0", "0", "0", "0", "0", "0", "0", "0", "0", "0"], 
                    ["0.5", "0.5", "0.5", "0.5", "0.5", "0.5", "0.5", "0.5", "0.5", "0.5", "0.5", "0.5", "0.5", "0.5", "0.5", "0.5", "0.5", "0.5", "0.5", "0.5"]
                ],
                ["3", 
                    ["1", "1", "1", "1", "1", "1", "1", "1", "1", "1", "1", "1", "1", "1", "1", "1", "1", "1", "1", "1"],
                    ["1.7", "1.7", "1.7", "1.7", "1.7", "1.7", "1.7", "1.7", "1.7", "1.7", "1.7", "1.7", "1.7", "1.7", "1.7", "1.7", "1.7", "1.7", "1.7", "1.7"]
                ]] %#}



<div class="row jumbotron text-light bg-dark m-5 p-3">
    <div class="col text-center">
        <p>Lorep ipsum</p>
        <p>..............</p>
        <p>In this section, the Toolkit ...</p>
    </div>
</div>

<div class="dash-bg container-fluid m-1 ml-2 p-4">
    <div class="dash-bg-light container-fluid p-3">
        <table> 
            <tr> 
                <td> Select Use Case : </td> 
                <td> 
                    <div class="col text-center">
                        <select id="uc" name="uc" class="form-control" onchange="updateData()">
                        {% set i = true  %}
                        {% for meas,list_ucs in selScope %}
                            {% for uc in list_ucs %}
                                <option value="{{ uc }}" {{ i ? 'selected="selected"' }}>{{ ucs[uc]['name'] }}</option>
                                {% set i = false %}
                            {% endfor %}
                        {% endfor %}
                        </select>
                    </div> 
                </td> 
            </tr> 
        </table>
    </div>
</div>



{{ table.table(lineNames, colNames,  selDevSym) }}

<div id="data"  data-to-show="{{ data|json_encode }}"></div>
<script type="text/javascript" src="../../public/assets/js/custom/customer_bc/project_details.js"></script>



{% endblock %}

