{% extends '/input/project_design.twig' %}

{% import "/templates/choose_redirect.twig" as redirect %}
{% import "/templates/second_bar.twig" as second_bar %}
{% import "/templates/sidebar.twig" as sidebar %}
{% import "/templates/project_design/macro_ucs_confirm.twig" as list %}

{% block sidebar %}{{ sidebar.sidebar("project_design",ucmID) }}{% endblock %}

{% block title %}Project Design - Confirm Selection{% endblock %}

{% block content %}

{% if ucmID==0 %}
{{ second_bar.second_bar(username,is_admin,selDevName,selDevSym,part,"None") }}
{{ redirect.choose_ucm() }}

{% else %}
{{ second_bar.second_bar(username,is_admin,selDevName,selDevSym,part,selected) }}

<div class="row jumbotron text-light bg-dark m-5 p-3">
    <div class="col text-center">
        <h5>Confirm your selection of Use Cases by clicking on the button below or choose to modify your selection.</h5>
    </div>
</div>

<div class="row offset-1">
    {{ list.list_ucs(list_selUC) }}
</div>

<div class="row my-5 btn-group-lg">
    <div class="container-fluid">
        <div class="row justify-content-center">
            <a href="?A=project_design&amp;A2=rating&amp;ucmID={{ucmID}}" class="mx-2 btn btn-dark">Confirm the selection</a>
            <a href="?A=project_design&amp;A2=use_case&amp;ucmID={{ucmID}}" class="mx-2 btn btn-dark">Change the selection</a>
        </div>
    </div>
</div>


{% endif %}
{% endblock %}

