{% extends '/input/project_design.twig' %}

{% import "/templates/choose_redirect.twig" as redirect %}
{% import "/templates/second_bar.twig" as second_bar %}
{% import "/templates/sidebar.twig" as sidebar %}
{% import "/templates/scoring_tables.twig" as tables %}

{% block sidebar %}{{ sidebar.sidebar("project_design",ucmID) }}{% endblock %}

{% block title %}Project Design - Scoring{% endblock %}

{% block content %}

{% if ucmID==0 %}
{{ second_bar.second_bar(username,part,"None") }}
{{ redirect.choose_ucm() }}

{% else %}
{{ second_bar.second_bar(username,part,selected) }}

<div class="row jumbotron text-light mx-5 mt-5 mb-0 bg-dark p-3">
    <div class="col text-center">
        <p class="text-justify">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis sit amet varius neque, eget facilisis urna. Nunc sit amet libero varius erat interdum tempus. Morbi elit diam, malesuada vel iaculis at, fermentum sed metus. Quisque finibus urna et lorem varius aliquam. Aliquam molestie massa non lorem tincidunt aliquam. Fusce ullamcorper euismod arcu eu laoreet. Sed nec faucibus sem. </p>
    </div>
</div>

<!-- ___________________________________________ RANK ___________________________________________ -->
<div class ="row mx-5 mt-3 ">
    <div class="col container-fluid">
        <div class="row text-center mt-5 mb-3">
            <h2 class="col">Use Case Ranking per Criteria</h2>
        </div>
        {{ tables.ranks_table(sel_ucs,sel_critCat,sel_crit,repart_selCrit,ranks) }}
    </div>
</div>



<div class="row text-center mt-3">
    <div class="col dropdown">
        <button class="btn btn-dark dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Choose the graph to show
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            {% set criteria = [] %}
            {% for crit in sel_crit %}
                {% set criteria = criteria|merge([crit[1]]) %}
            {% endfor %}
            {% set n = sel_ucs|length %}
            {% for uc in sel_ucs %}
                {% set ranks_to_show = [] %}
                {% for idCrit,dicUCsRanks in ranks %}
                    {% for idUC, rank in dicUCsRanks %}
                        {% if idUC==uc[0] %}
                            {% set ranks_to_show = ranks_to_show|merge([rank])%}
                        {% endif %}
                    {% endfor %}
                {% endfor %}
            <span class="dropdown-item" onclick="showRanksChart('ranksChart','{{uc[1]}}',Array('{{criteria|join("\',\'")}}'),Array('{{ranks_to_show|reverse|join("\',\'")}}'),{{n}});">{{uc[1]}}</span>
            {% endfor %}
        </div>
    </div>
</div>

<div class="row mt-5 text-center">
    <div class="offset-2 col-8">
        <canvas id="ranksChart" hidden></canvas>   
    </div>
</div>

<!-- ___________________________________________ SCORE ___________________________________________ -->
<div class ="row mx-5 mt-3">
    <div class="col container-fluid">
        <div class="row text-center mt-5 mb-3">
            <h2 class="col">Use Case Scoring per Criteria Category</h2>
        </div>
        {{ tables.scores_table(sel_ucs,sel_critCat,sel_crit,repart_selCrit,scores) }}
    </div>
</div>

<div class="row text-center mt-3">
    <div class="col dropdown">
        <button class="btn btn-dark dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Choose the graph to show
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            {% set ucs = [] %}
            {% for uc in sel_ucs %}
                {% set ucs = ucs|merge([uc[1]]) %}
            {% endfor %}
            
            {% for critCat in sel_critCat %}
                {% set scores_to_show = [] %}
                {% for idCat,dicUCsScores in scores %}
                    {% for idUC, score in dicUCsScores %}
                        {% if idCat==critCat[0] %}
                            {% set scores_to_show = scores_to_show|merge([score])%}
                        {% endif %}
                    {% endfor %}
                {% endfor %}
            <span class="dropdown-item" onclick="showScoresChart('scoresChart','{{critCat[1]}}',Array('{{ucs|join("\',\'")}}'),Array('{{scores_to_show|join("\',\'")}}'));">{{critCat[1]}}</span>
            {% endfor %}
        </div>
    </div>
</div>

<div class="row my-5 text-center">
    <div class="offset-2 col-8">
        <canvas id="scoresChart" hidden></canvas>   
    </div>
</div>

<div class="row mb-5">
    <a class="btn btn-link offset-5 col-2 oi oi-arrow-circle-right next-button" title="arrow-circle-right"  aria-hidden="true" href="?A=project_design&amp;A2=global_score&amp;ucmID={{ucmID}}"></a>
</div>

{% endif %}
{% endblock %}