{% extends '/output/dashboards.twig' %}

{% import "/templates/second_bar.twig" as second_bar %}
{% import "/templates/sidebar.twig" as sidebar %}
{% import "/templates/dashboards/macro_bankability.twig" as macros %}

{% block title %}Dashboards - Bankability{% endblock %}

{% block sidebar %}{{ sidebar.sidebar("dashboards",projID) }}{% endblock %}

{% block content %}

{{ second_bar.second_bar(username,part,selected) }}

<div class="row jumbotron text-light m-5 bg-dark p-3">
    <div class="col text-center">
        <p class="text-justify">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis sit amet varius neque, eget facilisis urna. Nunc sit amet libero varius erat interdum tempus. Morbi elit diam, malesuada vel iaculis at, fermentum sed metus. Quisque finibus urna et lorem varius aliquam. Aliquam molestie massa non lorem tincidunt aliquam. Fusce ullamcorper euismod arcu eu laoreet. Sed nec faucibus sem. </p>
    </div>
</div>


<div class="row mt-4 mb-0 text-center text-uppercase">
    <h4 class="text-dark col">Financial Bankability</h4>
</div>
<div class="row offset-2">
    <div class="col-8 my-2 mx-5 list-table financial_bank">
        {{ macros.financial(scope,meas,ucs,selUCS,fin_ROI,fin_payback,fin_score) }}
    </div>
</div>

<div class="row text-center mt-3">
    <div class="col dropdown">
        <button class="btn btn-dark dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Choose the graph to show
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            {% for ucID in selUCS %}
            <span class="dropdown-item" onclick="showFinBankChart('{{ucs[ucID]["name"]}}',{{fin_data[ucID]}});">{{ucs[ucID]['name']}}</span>
            {% endfor %}
        </div>
    </div>
</div>
<div class="row my-5 text-center">
    <div class="offset-3 col-6">
        <canvas id="FinBankChart" ></canvas>
        <iframe src=null hidden
        onload="showFinBankChart('{{ucs|column('name')|first}}',{{fin_data|first}});"></iframe>
    </div>
</div>

<div class="row mt-5 mb-0 text-center text-uppercase">
    <h4 class="text-dark col">Societal Bankability</h4>
</div>
<div class="row offset-2">
    <div class="col-8 my-2 mx-5 list-table societal_bank">
        {{ macros.societal(scope,meas,ucs,selUCS,soc_ROI,soc_payback,risk,noncash,soc_score) }}
    </div>
</div>

<div class="row text-center mt-3">
    <div class="col dropdown">
        <button class="btn btn-dark dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Choose the graph to show
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            {% for ucID in selUCS %}
            <span class="dropdown-item" onclick="showSocBankChart('{{ucs[ucID]["name"]}}',{{soc_data[ucID]}});">{{ucs[ucID]['name']}}</span>
            {% endfor %}
        </div>
    </div>
</div>

<div class="row my-5 text-center">
    <div class="offset-3 col-6">
        <canvas id="SocBankChart" ></canvas>
        <iframe src=null hidden
        onload="showSocBankChart('{{ucs|column('name')|first}}',{{soc_data|first}});"></iframe>
    </div>
</div>

<div class="row m-5 text-center text-dark">
    <button class="btn btn-link offset-5 col-2 oi oi-arrow-circle-right next-button" title="arrow-circle-right" style="font-size:50px;" aria-hidden="true" onclick="window.location.assign('?A=dashboards&amp;A2=financing&amp;projID={{projID}}');" disabled></button>
</div>

{% endblock %}