{% extends '/output/dashboards.twig' %}

{% import "/templates/second_bar.twig" as second_bar %}
{% import "/templates/sidebar.twig" as sidebar %}
{% import "/templates/dashboards/macro_budget.twig" as macros %}

{% block title %}Dashboards - Budget {% endblock %}

{% block sidebar %}{{ sidebar.sidebar("dashboards",projID) }}{% endblock %}

{% block content %}

{{ second_bar.second_bar(username,is_admin,selDevName,selDevSym,part,selected,part2,selected2) }}

<h2 class="ml-5 mt-5" style="font-weight: 600;">Budget Dashboard</h2>

<div class="row jumbotron text-light m-5 bg-dark p-3">
    <div class="col text-center">
        <p class="text-justify">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis sit amet varius neque, eget facilisis urna. Nunc sit amet libero varius erat interdum tempus. Morbi elit diam, malesuada vel iaculis at, fermentum sed metus. Quisque finibus urna et lorem varius aliquam. Aliquam molestie massa non lorem tincidunt aliquam. Fusce ullamcorper euismod arcu eu laoreet. Sed nec faucibus sem. </p>
    </div>
</div>



<div class="container-fluid">
    <div class="row">
        {# SELECTION #}
        <div class="col-4">
            <div class="container-fluid dash-bg m-1 ml-2 p-4">
                {# UC #}
                
                    <div class="container-fluid dash-bg-light p-3">
                        <h3 class="dash-title mb-3">Use Case Selection</h3>
                        <div class="selection-list">
                            {% for measID,list_ucs in scope %}
                                {% for ucID in list_ucs %}
                                    <div>
                                        {% if uc_completed[ucID] == true %}
                                        <input type="checkbox" id="select_uc_{{ ucID }}" name="select_uc_{{ ucID }}"
                                                checked="true" onclick="destroygraph();update_budget();" class="uc">
                                        <label for="select_uc_{{ ucID }}">{{ ucs[ucID]['name'] }}</label>
                                        {% else %}
                                        <input type="checkbox" id="select_uc_{{ ucID }}" name="select_uc_{{ ucID }}" disabled>
                                      <label for="select_uc_{{ ucID }}">{{ ucs[ucID]['name'] }}</label>
                                        {% endif %}
                                    </div>
                                {% endfor %}
                            {% endfor %}
                        </div>
                    </div>

              
            </div>
        </div>
        <div class="col-8">
            <div class="container-fluid dash-bg m-1 ml-2 p-4">
                <div class="container-fluid dash-bg-light p-3">
                    <canvas id="budgetGraph" height="200px"></canvas>
                </div>
            </div>
        </div>
    </div>   
    <div class="row">
                    {# TABLE #}

            {{ macros.output_budget(years,data) }}
    </div> 
</div>

<div class="row mt-2 mb-5 text-center">
    <div class="col">
        <button class="btn btn-sm btn-primary" onclick="budget2csv('budget_table','{{selected}}','{{selDevSym}}');">Export to CSV</button>
    </div>
</div>


<div class="row m-3 text-center text-dark">
    <button class="btn btn-link offset-5 col-2 oi oi-arrow-circle-right next-button" title="arrow-circle-right" style="font-size:50px;" aria-hidden="true" onclick="window.location.assign('?A=dashboards&amp;A2=bankability&amp;projID={{projID}}');"></button>
</div>

<script type="text/javascript" src="../../public/assets/js/custom/dashboards/budget.js"></script>
{% endblock %}