{% extends '/output/dashboards.twig' %}

{% import "/templates/second_bar.twig" as second_bar %}
{% import "/templates/sidebar.twig" as sidebar %}
{% import "/templates/dashboards/macro_financing.twig" as macros %}

{% block title %}Dashboards - Financing{% endblock %}

{% block sidebar %}{{ sidebar.sidebar("dashboards",projID) }}{% endblock %}

{% block content %}

{{ second_bar.second_bar(username,is_admin,selDevName,selDevSym,part,selected) }}

<div class="row jumbotron text-light m-5 bg-dark p-3">
    <div class="col text-center">
        <p class="text-justify">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis sit amet varius neque, eget facilisis urna. Nunc sit amet libero varius erat interdum tempus. Morbi elit diam, malesuada vel iaculis at, fermentum sed metus. Quisque finibus urna et lorem varius aliquam. Aliquam molestie massa non lorem tincidunt aliquam. Fusce ullamcorper euismod arcu eu laoreet. Sed nec faucibus sem. </p>
    </div>
</div>
{% if listScen %}
    <form name="form_finout" id="form_finout" action="?A=dashboards&amp;A2=financing&amp;A3=output&amp;projID={{projID}}" method="post" onsubmit="">
        <div class="row mt-4 mb-0 text-center">
            <h4 class="text-dark col">Choose one Financing Scenario</h4>
        </div>
        {{ macros.sel_buttons(listScen) }}
        
        <div class="row m-3 text-center text-dark">
            <button class="btn btn-link offset-5 col-2 oi oi-arrow-circle-right next-button" title="arrow-circle-right" style="font-size:50px;" aria-hidden="true" onclick=""></button>
        </div>
    </form>
{% else %}
<h2 class="text-center m-5">You have no Financing Scenario !</h2>
<div class="row m-3 text-center text-dark">
    <button class="btn btn-link offset-5 col-2 oi oi-arrow-circle-right next-button" title="arrow-circle-right" style="font-size:50px;" aria-hidden="true" onclick="window.location.assign('?A=dashboards&amp;A2=project_dashboard&amp;projID={{projID}}');"></button>
</div>
{% endif %}
{% endblock %}
