{% extends '/output/dashboards.twig' %}

{% import "/templates/second_bar.twig" as second_bar %}
{% import "/templates/sidebar.twig" as sidebar %}
{% import "/templates/dashboards/macro_financing.twig" as macros %}

{% block title %}Dashboards - Financing{% endblock %}

{% block sidebar %}{{ sidebar.sidebar("dashboards",projID) }}{% endblock %}

{% block content %}

{{ second_bar.second_bar(username,is_admin,selDevName,selDevSym,part,selected,part2,selected2) }}

<div class="row jumbotron text-light m-5 bg-dark p-3">
    <div class="col text-center">
        <p class="text-justify">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis sit amet varius neque, eget facilisis urna. Nunc sit amet libero varius erat interdum tempus. Morbi elit diam, malesuada vel iaculis at, fermentum sed metus. Quisque finibus urna et lorem varius aliquam. Aliquam molestie massa non lorem tincidunt aliquam. Fusce ullamcorper euismod arcu eu laoreet. Sed nec faucibus sem. </p>
    </div>
</div>

<div class="row mt-2">
    <h5 class="text-dark col text-center"><strong class="mr-2">Funding Target :</strong> {{selDevSym}}  {{funding_target|number_format(2,'.',',')}}</h5>
</div>
{{ macros.output_recap(FS_cat,FS,selFS,entities,funding_target,keydates,labels,selDevSym) }}
<div class="row mt-3 mb-5 text-center">
    <div class="col">
        <button class="btn btn-sm btn-primary" onclick="fin2csv('financing_table_2','{{selected}}','{{selected2}}','','','{{selDevSym}}');">Export to CSV</button>
    </div>
</div>

<form name="form_finout" id="form_finout" action="?A=dashboards&amp;A2=financing&amp;A3=output3&amp;projID={{projID}}" method="post" onsubmit="">
    <input type="number" name="scenario" id="scenario" hidden value={{scenID}}>
    <div class="row m-3 text-center text-dark">
        <button class="btn btn-link offset-5 col-2 oi oi-arrow-circle-right next-button" title="arrow-circle-right" style="font-size:50px;" aria-hidden="true" onclick=""></button>
    </div>
</form>
{% endblock %}

{% block scripts %}
    {{ parent() }}
    <script type="text/javascript">setNewDeviseFin("{{selDevName}}");</script>
{% endblock %}