{% extends '/output/dashboards.twig' %}

{% import "/templates/second_bar.twig" as second_bar %}
{% import "/templates/sidebar.twig" as sidebar %}
{% import "/templates/dashboards/macro_globaldash.twig" as macros %}

{% block title %}Dashboards - Project Dashboard{% endblock %}

{% block sidebar %}{{ sidebar.sidebar("dashboards",projID) }}{% endblock %}

{% block content %}

{{ second_bar.second_bar(username,is_admin,selDevName,selDevSym,part,selected) }}

<h2 class="ml-5 mt-5" style="font-weight: 600;">Project Dashboard</h2>

<div hidden class="row jumbotron text-light m-5 bg-dark p-3">
    <div class="col text-center">
        <p class="text-justify">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis sit amet varius neque, eget facilisis urna. Nunc sit amet libero varius erat interdum tempus. Morbi elit diam, malesuada vel iaculis at, fermentum sed metus. Quisque finibus urna et lorem varius aliquam. Aliquam molestie massa non lorem tincidunt aliquam. Fusce ullamcorper euismod arcu eu laoreet. Sed nec faucibus sem. </p>
    </div>
</div>

<div class="container-fluid">
    <section class="row">
        {# SCOPE #}
        <section class="dash-bg m-3 col-5">
            {# KEY DATES #}
            <div class="row dash-bg-light m-3 p-3">
                {{ macros.key_dates(scope,ucs,keydates_uc) }}
            </div>
            {# # OF UC #}
            <div class="row dash-bg-light m-3 p-3">
                {{ macros.number_uc(scope,measures,ucs,volumes) }}
            </div>    
        </section>

        {# BUGDET #}
        <section class="dash-bg m-3 col-6">
            <a id="budget_all" class="dash-link" href="?A=dashboards&amp;A2=budget_all&amp;projID={{ projID }}">
                <div class="row dash-bg-light m-3 p-3">
                {{ macros.budget(baselineOpCost, netProjectCost, OBYI, years) }}
                </div>
            </a> 
        </section>
    </section>


    <section class="row">
        {# BANKABILITY #}
        <section class="dash-bg m-3 col-5">
            <a id="bankability" class="dash-link" href="?A=dashboards&amp;A2=bankability&amp;projID={{ projID }}">
            <div class="row dash-bg-light m-3 p-1">
                {{ macros.financial_bankability(selDevSym, scope, ucs, fin_ROI, soc_ROI, fin_payback, soc_payback, risksScores, noncashScores, cashreleasing) }}
            </div>
            <div class="row dash-bg-light m-3 p-1">
                {{ macros.societal_bankability() }}
            </div>
            <a/>
        </section>

        {# CB + KPI #}
        <section class="dash-bg m-3 col-6">
            <a id="cost_benefits_all" class="dash-link" href="?A=dashboards&amp;A2=cost_benefits_all&amp;projID={{ projID }}">
                <div class="row dash-bg-light m-3 p-3">
                    {{ macros.costbenefits(years, cumulnetcashTot, cumulnetsoccashTot) }}
                </div>
                <div class="row dash-bg-light m-3 p-3">
                    {{ macros.kpi(selDevSym,implemTot,capexTot,npv,socnpv,breakeven,soc_breakeven,ratingNonCash,ratingRisks) }}
                </div>
            </a>
        </section>
    </section>
</div>

{% endblock %}
