{% macro list_criteria(criteria,list_sel=[]) %}
{% set color = ['#3482FF','#90E84A','#FFF552','#36A8FF','#5FFF88'] %}

<div class="row text-left">
    <div class="col mx-5 list-table">       
        <table class='table table-sm table-bordered table-striped table-responsive-lg'>
            <thead class="thead-dark text-center sticky-top">
                <tr>
                    <th class="check-col" scope="col"></th>
                    <th scope="col">Name</th>
                    <th scope="col">Description</th>
                </tr>
            </thead>
            <tbody>
            {% set i = 0 %}
            {% for crit in criteria %}
                <tr id = "tr_{{ crit['id'] }}" class="critCat_{{ crit['id_cat'] }}" style="background:{{ color[crit['id_cat']-4]}};" scope="row">
                    {% if list_sel and (crit['id'] in list_sel) %}
                    <td class="check-col align-middle"><input type="checkbox" onclick="countChecked_crit(form_crit);" id='{{ crit['id'] }}' name="{{ crit['id'] }}" checked></td>
                    {% else %}
                    <td class="check-col align-middle"><input type="checkbox" onclick="countChecked_crit(form_crit);"   id='{{ crit['id'] }}' name="{{ crit['id'] }}"></td>
                    {% endif %}
                    <td class="font-weight-bold">{{ crit['name'] }}</td>
                    <td >{{ crit['description'] }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        
    </div>
</div>
{% endmacro %}