{% extends '/input/cost_benefits_in.twig' %}

{% import "/templates/second_bar.twig" as second_bar %}
{% import "/templates/sidebar.twig" as sidebar %}
{% import "/templates/cost_benefits_in/macro_cashreleasing.twig" as list %}
{% import "/templates/cost_benefits_in/modal_cashreleasing.twig" as modal %}

{% block title %}Project Scoping - Cash Releasing Benefits{% endblock %}

{% block sidebar %}{{ sidebar.sidebar("cost_benefits",projID,ucID) }}{% endblock %}

{% block content %}

{{ second_bar.second_bar(username,is_admin,selDevName,selDevSym,part,selected,part2,selected2) }}

<div class="row jumbotron text-light m-5 bg-dark p-3">
    <div class="col text-center">
        <p class="text-justify">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis sit amet varius neque, eget facilisis urna. Nunc sit amet libero varius erat interdum tempus. Morbi elit diam, malesuada vel iaculis at, fermentum sed metus. Quisque finibus urna et lorem varius aliquam. Aliquam molestie massa non lorem tincidunt aliquam. Fusce ullamcorper euismod arcu eu laoreet. Sed nec faucibus sem. </p>
    </div>
</div>

{% if 1 %}
<form id="form_cashreleasing" name="form_cashreleasing" action="?A=cost_benefits&amp;A2=cashreleasing&amp;A3=cashreleasing_selected&amp;projID={{projID}}&amp;ucID={{ucID}}" method="post" onsubmit="return countSelectedCashReleasing(form_cashreleasing);">
    {% if cashreleasing_advice %}
    {{ list.list_cashreleasing(cashreleasing_advice,selCashReleasing) }}
    {% endif %}

    {% if cashreleasing_user %}
    {{ list.list_cashreleasing_user(cashreleasing_user,projID,ucID,selCashReleasing) }}
    {% endif %}

</form>

<div class="row my-5">
    <button class="offset-5 col-2 btn btn-dark text-light" data-toggle="modal" data-target="#createNewCashReleasingModal" role="button">Create a custom item</button>
</div>
<div class="row mt-3 text-center">
    <h6 id="createCashReleasingHelp" class="col text-danger font-weight-bold">{{ isTaken ? "Please choose another name." : "" }}</h6>
</div>
<div class="row mt-5">
    <button class="offset-5 col-2 btn btn-sm btn-danger text-light" data-toggle="modal" data-target="#deleteSelectionModal" role="button">Choose none &amp; Skip this part</button>
</div>
<div class="row mt-4 mb-0 text-center">
    <span id="countCashReleasingSelect" class="offset-5 col-2 text-white btn btn-info disabled"></span>
</div>
<div class="row text-center mt-3">
    <h6 id="help_cashreleasing" class="col text-danger font-weight-bold text-center" hidden>Please select at least one item !</h6>
</div>
<div class="row m-3 text-center text-dark">
    <button class="btn btn-link offset-5 col-2 oi oi-arrow-circle-right next-button" title="arrow-circle-right" style="font-size:50px;" aria-hidden="true" onclick="submitForm('form_cashreleasing');"></button>
</div>

{{ modal.create_cashreleasing(projID,ucID) }}
{{ modal.ask_fill(projID,ucID) }}
{{ modal.delete_selection(projID,ucID) }}

    {% if selCashReleasing|length == 0 and cashreleasing_user|length == 0  %}
    <script type="text/javascript">
        $('#askFillCashReleasing').modal('show')
    </script>
    {% endif %}

{% else %}
<h2 class="text-center">There is no Cash Releasing, please contact an administrator</h2>
{% endif %}

{% endblock %}


