{% extends '/input/cost_benefits_in.twig' %}

{% import "/templates/second_bar.twig" as second_bar %}
{% import "/templates/sidebar.twig" as sidebar %}
{% import "/templates/cost_benefits_in/macro_implem.twig" as list %}
{% import "/templates/cost_benefits_in/modal_implem.twig" as modal %}

{% block title %}Project Scoping - Implementation{% endblock %}

{% block sidebar %}{{ sidebar.sidebar("cost_benefits",projID,ucID) }}{% endblock %}

{% block content %}

{{ second_bar.second_bar(username,is_admin,selDevName,selDevSym,part,selected,part2,selected2) }}

{% if isDev %}
    {% set lorem = "For the selected Use Case, create and provide short description of Deployment & Set up item. " %}
{% else %}
    {% set lorem = "For the selected Use Case, create and provide short description of Deployment & Set up item procured from #{companyName} or from third parties." %}
{% endif %}

<div class="row jumbotron text-light m-5 bg-dark p-3">
    <div class="col text-center">
        <p class="text-justify">{{lorem|nl2br}}</p>
    </div>
</div>

{% if 1 %}
<form id="form_implem" name="form_implem" action="?A=cost_benefits&amp;A2=implem&amp;A3=implem_selected&amp;projID={{projID}}&amp;ucID={{ucID}}" method="post" onsubmit="return countSelectedImplem(form_implem);">
    {% if implem_advice %}
    {{ list.list_implem(implem_advice,selImplem) }}
    {% endif %}

    {% if implem_user %}
    {{ list.list_implem_user(implem_user,projID,ucID,selImplem) }}
    {% endif %}
</form>

<div class="row my-5">
    <button class="offset-5 col-2 btn btn-dark text-light" data-toggle="modal" data-target="#createNewImplemModal" role="button">Create a custom item</button>
</div>
<div class="row mt-3 text-center">
    <h6 id="createImplemHelp" class="col text-danger font-weight-bold">{{ isTaken ? "Please choose another name." : "" }}</h6>
</div>
<div class="row mt-5">
    <button class="offset-5 col-2 btn btn-sm btn-danger text-light" data-toggle="modal" data-target="#deleteSelectionModal" role="button">Choose none &amp; Skip this part</button>
</div>
<div class="row mt-4 mb-0 text-center">
    <span id="countImplemSelect" class="offset-5 col-2 text-white btn btn-info disabled"></span>
</div>
<div class="row text-center mt-3">
    <h6 id="help_implem" class="col text-danger font-weight-bold text-center" hidden>Please select at least one item !</h6>
</div>
<div class="row m-3 text-center text-dark">
    <button class="btn btn-link offset-5 col-2 oi oi-arrow-circle-right next-button" title="arrow-circle-right" style="font-size:50px;" aria-hidden="true" onclick="submitForm('form_implem');"></button>
</div>

{{ modal.create_implem(projID,ucID) }}
{{ modal.ask_fill(projID,ucID) }}
{{ modal.delete_selection(projID,ucID) }}

    {% if selImplem|length == 0 and implem_user|length == 0  %}
    <script type="text/javascript">
        $('#askFillImplem').modal('show')
    </script>
    {% endif %}

{% else %}
<h2 class="text-center">There is no implementation, please contact an administrator</h2>
{% endif %}



{% endblock %}


