{% extends '/input/cost_benefits_in.twig' %}

{% import "/templates/second_bar.twig" as second_bar %}
{% import "/templates/sidebar.twig" as sidebar %}
{% import "/templates/cost_benefits_in/macro_widercash.twig" as list %}
{% import "/templates/cost_benefits_in/modal_widercash.twig" as modal %}

{% block title %}Project Scoping - Wider Cash Benefits{% endblock %}

{% block sidebar %}{{ sidebar.sidebar("cost_benefits",projID,ucID) }}{% endblock %}

{% block content %}

{{ second_bar.second_bar(username,is_admin,selDevName,selDevSym,part,selected,part2,selected2) }}


    {% set lorem = "For the chosen Use Case, select the relevant Wider Cash Benefit items and create any new item(s) as appropriate, providing a short description of the item(s)." %}


<div class="row jumbotron text-light m-5 bg-dark p-3">
    <div class="col text-center">
        <h5>{{lorem|nl2br}}</h5>
    </div>
</div>

{% if 1 %}
<form id="form_widercash" name="form_widercash" action="?A=cost_benefits&amp;A2=widercash&amp;A3=widercash_selected&amp;projID={{projID}}&amp;ucID={{ucID}}" method="post" onsubmit="return countSelectedWiderCash(form_widercash);">
    {% if widercash_advice %}
    {{ list.list_widercash(widercash_advice,selWiderCash) }}
    {% endif %}

    {% if widercash_user %}
    {{ list.list_widercash_user(widercash_user,projID,ucID,selWiderCash) }}
    {% endif %}
</form>

<div class="row mt-3 text-center">
    <h6 id="createWiderCashHelp" class="col text-danger font-weight-bold">{{ isTaken ? "Please choose another name." : "" }}</h6>
</div>

  <div class="row justify-content-md-center">
    <div class="col col-lg-1">
      <button class=" btn btn-dark text-light" data-toggle="modal" data-target="#createNewWiderCashModal" role="button">Create a custom item</button>

    </div>
    <div class="col col-lg-1">
     <span id="countWiderCashSelect" class="text-white btn btn-info disabled"></span>

    </div>
    <div class="col col-lg-1">
      <button class="btn btn-sm btn-danger text-light" data-toggle="modal" data-target="#deleteSelectionModal" role="button">Choose none &amp; Skip this part</button>

    </div>
  </div>

<div class="row text-center mt-3">
    <h6 id="help_widercash" class="col text-danger font-weight-bold text-center" hidden>Please select at least one item !</h6>
</div>
<div class="row m-3 text-center text-dark">
    <button class="btn btn-link offset-5 col-2 oi oi-arrow-circle-right next-button" title="arrow-circle-right" style="font-size:50px;" aria-hidden="true" onclick="submitForm('form_widercash');"></button>
</div>

{{ modal.create_widercash(projID,ucID) }}
{{ modal.ask_fill(projID,ucID) }}
{{ modal.delete_selection(projID,ucID) }}

    {% if selWiderCash|length == 0 and widercash_user|length == 0  %}
    <script type="text/javascript">
        $('#askFillWiderCash').modal('show')
    </script>
    {% endif %}

<script type="text/javascript" src="../../public/assets/js/custom/cost_benefits_in/widercashForm.js"></script>
{% else %}
<h2 class="text-center">There is no Wider Cash, please contact an administrator</h2>
{% endif %}


{{ modal.create_widercash(projID,ucID) }}

{% endblock %}


