{% extends '/input/cost_benefits_in.twig' %}

{% import "/templates/second_bar.twig" as second_bar %}
{% import "/templates/sidebar.twig" as sidebar %}
{% import "/templates/cost_benefits_in/macro_widercash.twig" as list %}
{% import "/templates/cost_benefits_in/macro_compo_guid.twig" as guid %}
{% import "/templates/cost_benefits_in/modal_widercash.twig" as modal %}

{% block title %}Project Scoping - Wider Cash Benefits - INPUT{% endblock %}

{% block sidebar %}{{ sidebar.sidebar("cost_benefits",projID,ucID) }}{% endblock %}

{% block content %}

{{ second_bar.second_bar(username,is_admin,selDevName,selDevSym,part,selected,part2,selected2) }}

{#-------------- corps --------------#}
{% if selWiderCash %}
<form id="form_widercash_input" name="form_widercash_input" action="?A=cost_benefits&amp;A2=widercash_inputed" method="post" onsubmit="return checkWiderCashPeriod() && checkWiderCashInput();">
    {% set test = false %}
    {% for id_widercash,data in selWiderCash if test == false %}
        {% if id_widercash in widercash_advice|keys %}
            {% set test = true %}
        {% endif %}
    {% endfor %}

    <div class="container-fluid">
        <section class="row">
            <div id="body"class="col-12 text-left"> {# col-lg-8 #}
                <div class="row">
                    <h2 class="ml-5 mt-5"> Wider Cash Benefits </h2> 
                    <button id="guideline_button" type="button"  class="mt-5 mr-3 ml-auto align-self-center btn btn-outline-secondary " onclick="displayGuideline();">Guideline</button>
                </div>
                
                {#-------------- jumbotron --------------#}


                    {% set lorem = "For the chosen Use Case, input baseline Wider Cash Benefits items (Unit Cost and volumes), a proposed annual variation and details on the impact affecting the baseline." %}


                <div class="row jumbotron text-light m-5 bg-dark p-3">
                    <div class="col text-center">
                        <p class="text-justify">{{lorem|nl2br}}</p>
                    </div>
                </div>


                {#-------------- tab input et total --------------#}
                {{ list.list_widercash_input(selDevSym,widercash_advice,widercash_user,selWiderCash) }}
                {{ list.list_widercash_input_2(widercash_advice,widercash_user,selWiderCash) }}
                <h3 class="ml-5  mb-3" style="font-size: 1.5rem;">Output</h3>
                {{ list.list_widercash_total(selDevSym,widercash_advice,widercash_user,selWiderCash) }}

                {#-------------- bouton flèche --------------#}
                <div class="row m-3 text-center text-dark">
                    <button class="btn btn-link offset-5 col-2 oi oi-arrow-circle-right next-button" title="arrow-circle-right" style="font-size:50px;" aria-hidden="true" onclick="submitForm('form_widercash');"></button>
                </div>
            </div>

            {#-------------- tab guide --------------#}
            <div id="guideline" style="display:none;" class="col-lg-4 guideline">
                <div class="sticky-guideline">
                <h1 class="text-center mt-5 pt-2"> Project Parameters </h1>
                    {{ guid.compo_guid(selected2,compo,nb_compo,nb_uc) }}

                    {% if test %}
                    <h1 class="text-center mt-5 pt-2"> Guideline </h1>
                    {{ list.list_widercash_guid(selDevSym,widercash_advice,widercash_user,selWiderCash,compo,ratio) }}
                    {% endif %}
                </div>
            </div>
    </section>
</div>

</form>



{% else %}
<h2 class="text-center">There is no widercash item, please contact an administrator</h2>
{% endif %}

{% endblock %}


