{% extends '/templates/common_page.twig' %}
{% import "/templates/traductions.twig" as traduction %}
{% import "/templates/navbar.twig" as navbar %}
{% block navbar %}{{ navbar.navbar(is_connected,is_admin,devises) }}{% endblock %}

{% block title %}Home Page{% endblock %}

{% block content %}
           


<div class="col">

    <div class="row mx-4 mt-4">
        <div class = "col">
            <img class="rounded float-left" src='../uploads/logos/{{logoName}}'></img>
            <img class="rounded float-right" src='../uploads/logos/LogoUrbatis.png' style = "height : 30%"></img>
        </div>

    </div>
    <div class="row m-5"> </div>
    <div class="row" >
        <div class="col">
            <div class = "row justify-content-start" >
                <div class = "col">
                    <h1 class="text-center text-dark font-weight-bold mb-3">{{traduction.getText("home_urbatisName")}}</h1>
                    <h3 class="text-center text-dark">{#{traduction.getText("dst")}}<br>#}{{traduction.getText("home_1")}}</h3>
                    <h6 class="text-center text-dark">Version 2.1.0</h6>
                    <h5 class="text-center my-5 text-uppercase">{{divisionName}}</h5>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
