{% extends '/input/business_model.twig' %}

{% import "/templates/second_bar.twig" as second_bar %}
{% import "/templates/sidebar.twig" as sidebar %}
{% import "/templates/business_model/macro_bm.twig" as macros %}

{% block title %}Business Model - Recommendations{% endblock %}

{% block sidebar %}{{ sidebar.sidebar("business_model",projID) }}{% endblock %}

{% block content %}

{{ second_bar.second_bar(username,is_admin,selDevName,selDevSym,part,selected) }}

<h2 class="m-4 ml-5">Business Model Recommendations</h2>

<form name="form_bm_pref" id="form_bm_pref" action="?A=business_model&amp;A2=pref_selected" method='post'>

    <div class="container-fluid">
        <div class="row">
            {# SELECTION #}
            <div class="col-3">
                <div class="container-fluid dash-bg m-1 ml-3 p-3 row">

                    <span id="db_sel_bm" hidden>{{ db_sel_bm }}</span>

                    {# INVESTMENT CAPACITY #}
                    <div class="container-fluid dash-bg-light p-2 m-2 mx-auto">
                        <h4 class="text-dark col text-center" style="font-size: 1.2rem;">Investment Capactity</h4>
                        {{ macros.selectpicker(investCap, 'invest_cap', selDevSym) }}
                    </div>

                    {# PAYBACK CONSTRAINTS #}
                    <div class="container-fluid dash-bg-light p-2 m-2 mx-auto">
                        <h4 class="text-dark col text-center" style="font-size: 1.2rem;"> Payback Constraints</h4>
                        {{ macros.selectpicker(paybackConst, 'payback_const', '') }}
                    </div>

                    {# BM PREFERENCE #}  
                    <div class="container-fluid dash-bg-light p-2 m-2 mx-auto">
                        <h4 class="text-dark col text-center" style="font-size: 1.2rem;">Business Model Preference</h4>                  
                        {{ macros.selectpicker(businessModelPref, 'bm_pref', '') }}
                    </div>

                    <button class="btn btn-link offset-5 col-2 oi oi-circle-check next-button mt-5 b-3" title="circle-check" style="font-size:50px;" aria-hidden="true" onclick=""></button>
                
                </div>
            </div>

            {# 2E COLONNE #}
            <div class="col-4">                
                <div class="container-fluid dash-bg m-1 ml-3 p-3 row">  

                    <div class="row jumbotron text-light bg-secondary mb-2 mx-3 pt-2 pb-0">
                        <div class="col text-center">
                            <p>This provides you with a recommendation on the best fit business model according to your project constraints &amp features.</p>
                        </div>
                    </div>                 
        
                    <div hidden class="container-fluid dash-bg-light p-3 m-3">
                        {{ macros.list_infos(bm_infos_json) }}
                    </div>

                    <div class="container-fluid dash-bg-light p-3 m-3">
                        {{ macros.list_reco(bm_reco_json, bm_reco_names) }}
                    </div>
                </div>
            </div>

            {# 3E COLONNE #}
            <div class="col-5">
                <div class="container-fluid dash-bg m-1 ml-3 p-3 row">

                    <div class="row jumbotron text-light bg-secondary mx-3 mb-2 pt-2 pb-0">
                        <div class="col text-center">
                            <p>This provides you with a recommendation on most relevant financing options.</p>
                        </div>
                    </div>

                    <div class="container-fluid dash-bg-light p-3 m-3">
                        {{ macros.list_qualif(proj_qualif) }}
                    </div>
                    
                    <div class="container-fluid dash-bg-light p-3 m-3">
                        {{ macros.list_share_funding_options(funding_opt,funding_options_json)}}
                    </div>
                </div>
            </div>
        </div>    
    </div>

</form>


{# <div class="row m-5 text-center text-dark">
    <button class="btn btn-link offset-5 col-2 oi oi-arrow-circle-right next-button" title="arrow-circle-right" style="font-size:50px;" aria-hidden="true" onclick="window.location.assign('?A=business_model&amp;A2=reco2&amp;projID={{projID}}');"></button>
</div> #}
{% endblock %}