{% macro sub_list_xpex(id_xpex, xpex, type, selXpex, nb_uc) %}

<tr id = "tr_{{ id_xpex }}" scope="row">
    
    <td scope="col">{{ xpex[id_xpex]['name'] }}</td>

    <td scope="col"><input id="unitCost_{{id_xpex}}" name="unitCost_{{id_xpex}}" class="text-center volume pt-1 pb-1" type="number" min=0 step=1 required oninput="checkXpexInput(unitCost_{{id_xpex}});" value="{{ selXpex[id_xpex]['unit_cost']}}" placeholder="{{ ratio[id_xpex]['val'] * nb_uc }}" ></td> 

    <td scope="col"><input id="vol_{{id_xpex}}" name="vol_{{id_xpex}}" class="text-center volume pt-1 pb-1" type="number" min=0 step=1 required oninput="checkXpexInput(vol_{{id_xpex}});" value="{{ selXpex[id_xpex]['volume']}}" placeholder="{{ ratio[id_xpex]['val'] * nb_uc }}"></td> 

    {% if type =="opex" %}

    <td scope="col"><input id="anVarVol_{{id_xpex}}" name="anVarVol_{{id_xpex}}" class="text-center anVarVol p-1" type="number" step=0.001 required oninput="checkXpexInput(anVarVol_{{id_xpex}});" value="{{selXpex[id_xpex]['anVarVol']}}"><span> %</span></td> 
    <td scope="col"><input id="anVarCost_{{id_xpex}}" name="anVarCost_{{id_xpex}}" class="text-center anVarCost p-1" type="number" step=0.001 required oninput="checkXpexInput(anVarCost_{{id_xpex}});" value="{{selXpex[id_xpex]['anVarCost']}}"><span> %</span></td> 
    
    {% elseif type == "capex" %}

    <td scope="col"><input id="period_{{id_xpex}}" name="period_{{id_xpex}}" class="text-center period pt-1 pb-1" type="number" min=1 step=1 required oninput="checkXpexInput(period_{{id_xpex}});" value="{{ selXpex[id_xpex]['period'] ? selXpex[id_xpex]['period'] : "" }}"></td>

    {% endif %}

    <td scope="col" id='cost_{{id_xpex}}' > - </td> 
</tr>
{% endmacro %}


{% macro part(selXpex, xpex, type, nb_uc, partTitle, size) %}
{% import "/templates/customer_bc/macro_xpex_input.twig" as list %}
{% if xpex %}
    {% set show = false %}
    {% for id_xpex,data in selXpex %}
        {% if (id_xpex in xpex|keys)  %}
            {% set show = true %}
        {% endif %}
    {% endfor %}
    {% if show %}
        <tr><td colspan="{{size}}"> <strong> {{partTitle}} </strong></td></tr>
        {% for id_xpex,data in selXpex %}
            {% if id_xpex in xpex|keys %}
                {{ list.sub_list_xpex(id_xpex, xpex, type, selXpex, nb_uc) }}
            {% endif %}
        {% endfor %}
    {% endif %}
{% endif %}
{% endmacro %}


{% macro list_xpex(selDevSym,xpex_from_ntt,xpex_from_outside_ntt, xpex_internal ,ratio,selXpex,nb_uc, type, fromNTT = true) %}
{% import "/templates/customer_bc/macro_xpex_input.twig" as list %}

{% set size = 4 %}
{% if type == "opex" %} {% set size = 6 %}
{% elseif type == "capex" %}{% set size = 5 %}
{% endif %}

<h3 class="text-center mt-5 mb-3 text-uppercase">{{ fromNTT ? "Suggested" : "Custom"}} {% if type == "capex" %}Capex{% elseif type =="opex" %}Opex{% elseif (type =="deployment_costs" and sideBarName == "input_project_common") %}Deployment and Set-up{% elseif type =="deployment_costs" %}Implmentation{% endif %} Items</h3>
<div class="row text-center">
    <div class="col mx-5 mb-5 list-table">
        <table id="xpex_table" class='table table-lg table-bordered table-striped table-responsive-lg'>
            <thead class="thead-dark text-center sticky-top">
                <tr>
                    <th scope="col">Item</th>
                    <th scope="col">Unit Cost ( in {{selDevSym}} )</th>
                    <th scope="col">Volume</th>
                    {% if type == "opex" %}
                    <th scope="col">Annual unit cost variation</th>
                    <th scope="col">Annual volume variation</th>
                    {% elseif type == "capex" %}
                    <th scope="col">Amortization Period ( in years )</th>
                    {% endif %}
                    <th scope="col">Cost ( in {{selDevSym}} )</th>
                </tr>
            </thead>
            <tbody>
            {{ list.part(selXpex, xpex_from_ntt,type, nb_uc, "From NTT", size) }}
            {{ list.part(selXpex, xpex_from_outside_ntt,type, nb_uc, "From Outside NTT", size )}}
            {{ list.part(selXpex, xpex_internal,type, nb_uc, "Internal", size )}}
            </tbody>
        </table>
    </div>
</div>
{% endmacro %}
