{% macro sub_list_xpex(id_xpex, xpex, type, selXpex, nb_uc, listUcsName, ucID, Mode, selDevSym, categoryID) %}

<tr id = "tr_{{ id_xpex }}" scope="row"  class = "cat_{{categoryID}}">
    
    <td scope="col">{{ xpex[id_xpex]['name'] }}</td>
    {% if type != "risks" and type != "noncash" %}

        {% if listUcsName|length > 1 %}<td scope="col">{{ listUcsName[ucID] }}</td>{% endif %}
        
        <td scope="col"><input id="unit_{{id_xpex}}" name="unit_{{id_xpex}}_{{ucID}}" class="text-center unit pt-1 pb-1" type="text" oninput="checkXpexAll();" value="{{type == "revenuesProtection" ? selDevSym : selXpex[id_xpex]['unit']}}" placeholder="Unit" {{Mode == "supplier" or type == "revenuesProtection" ? "disabled"}} ></td> 

        {% if type != "quantifiable" and type != "revenues" and type != "revenuesProtection" %}
            <td scope="col"><input id="unitCost_{{id_xpex}}" name="unitCost_{{id_xpex}}_{{ucID}}" class="text-center unitCost pt-1 pb-1" type="number" min=0  step=0.001 required oninput="checkXpexAll();" value="{{ selXpex[id_xpex]['unit_cost']}}" placeholder="{{ ratio[id_xpex]['val'] }}" {{Mode == "supplier" ? "disabled"}}>{{selDevSym}}</td> 
        {% endif %}
        {% if type == "revenues" %}
            <td scope="col"><input id="unitRev_{{id_xpex}}" name="unitRev_{{id_xpex}}_{{ucID}}" class="text-center unitRev pt-1 pb-1" type="number" min=0  step=0.001 required oninput="checkXpexAll();" value="{{ selXpex[id_xpex]['unit_rev']}}" placeholder="{{ ratio[id_xpex]['unit_rev'] }}" {{Mode == "supplier" ? "disabled"}}>{{selDevSym}}</td> 

        {% endif %}
        {% if type == "revenuesProtection" %}
            <td scope="col"><input id="currentRevenues_{{id_xpex}}" name="currentRevenues_{{id_xpex}}_{{ucID}}" class="text-center currentRevenues pt-1 pb-1" type="number" min=0  step=0.001 required oninput="checkXpexAll();" value="{{ selXpex[id_xpex]['current_revenues']}}" placeholder="{{ ratio[id_xpex]['current_revenues'] }}" {{Mode == "supplier" ? "disabled"}}>{{selDevSym}}</td> 
            <td scope="col"><input id="impact_{{id_xpex}}" name="impact100_{{id_xpex}}_{{ucID}}" class="text-center impact100 pt-1 pb-1" type="number" min=0 max = 100 step=0.001 required oninput="checkXpexAll();" value="{{ selXpex[id_xpex]['impact']}}" placeholder="{{ ratio[id_xpex]['impact']}}" {{Mode == "supplier" ? "disabled"}}>%</td> 
        {% else %}
            <td scope="col"><input id="vol_{{id_xpex}}" name="vol_{{id_xpex}}_{{ucID}}" class="text-center volume pt-1 pb-1" type="number" min=0  step=0.001 required oninput="checkXpexAll();" value="{{ selXpex[id_xpex]['volume']}}" placeholder="{{ ratio[id_xpex]['val'] }}"{{Mode == "supplier" ? "disabled"}}></td> 
        {% endif %}

        {% if type =="opex" or type == "operating_revenues"   or type == "cashreleasing" or type == "widercash" %}
            <td scope="col"><input id="anVarCost_{{id_xpex}}" name="anVarCost_{{id_xpex}}_{{ucID}}" class="text-center anVarCost p-1" type="text" step=0.001 required oninput="checkXpexAll();" value="{{selXpex[id_xpex]['anVarCost']}}"{{Mode == "supplier" ? "disabled"}}><span> %</span></td> 
        {% elseif type == "revenues" %}
            <td scope="col"><input id="anVarRev_{{id_xpex}}" name="anVarRev_{{id_xpex}}_{{ucID}}" class="text-center anVarRev p-1" type="text" step=0.001 required oninput="checkXpexAll();" value="{{selXpex[id_xpex]['anVarRev']}}"{{Mode == "supplier" ? "disabled"}}><span> %</span></td> 

        {% endif %}
        
        {% if type =="opex" or type == "operating_revenues" or type == "revenues"  or type == "cashreleasing" or type == "widercash" or type == "quantifiable" %}
            <td scope="col"><input id="anVarVol_{{id_xpex}}" name="anVarVol_{{id_xpex}}_{{ucID}}" class="text-center anVarVol p-1" type="text" step=0.001 required oninput="checkXpexInput(anVarVol_{{id_xpex}});" value="{{selXpex[id_xpex]['anVarVol']}}"{{Mode == "supplier" ? "disabled"}}><span> %</span></td> 
        {% elseif type == "capex" %}
            <td scope="col"><input id="period_{{id_xpex}}" name="period_{{id_xpex}}_{{ucID}}" class="text-center period pt-1 pb-1" type="number" min=0 step=1 required oninput="checkXpexInput(period_{{id_xpex}});" value="{{ selXpex[id_xpex]['period'] ? selXpex[id_xpex]['period'] : "0" }}"{{Mode == "supplier" ? "disabled"}}></td>
        {% endif %}

        {% if type == "cashreleasing" or type == "widercash" or type == "quantifiable" %}
            <td scope="col"><input id="vol_red_{{id_xpex}}" name="volRed_{{id_xpex}}_{{ucID}}" class="text-center volRed pt-1 pb-1" type="text" min=0 step=0.001 required oninput="checkXpexInput(vol_red_{{id_xpex}});" value="{{ selXpex[id_xpex]['vol_red'] ? selXpex[id_xpex]['vol_red'] : "0" }}"{{Mode == "supplier" ? "disabled"}}></td>
        {% endif %}

        {% if type == "cashreleasing" or type == "widercash" %}
            <td scope="col"><input id="unit_cost_red_{{id_xpex}}" name="unitCostRed_{{id_xpex}}_{{ucID}}" class="text-center unitCostRed pt-1 pb-1" type="text" min=0 step=0.001 required oninput="checkXpexInput(unit_cost_red_{{id_xpex}});" value="{{ selXpex[id_xpex]['unit_cost_red'] ? selXpex[id_xpex]['unit_cost_red'] : "0" }}"{{Mode == "supplier" ? "disabled"}}></td>
        {% endif %}

        {% if type == "revenues" %}
            <td scope="col"><input id="revenueStart_{{id_xpex}}" name="revenueStart_{{id_xpex}}_{{ucID}}" class="text-center revenueStart p-1" type="date" required oninput="checkXpexInput(revenueStart_{{id_xpex}});" value="{{selXpex[id_xpex]['revenue_start_date']}}"></td> 
            <td scope="col"><input id="rampUpDurationt_{{id_xpex}}" name="rampUpDurationt_{{id_xpex}}_{{ucID}}" class="text-center rampUpDurationt p-1" type="number" required oninput="checkXpexInput(rampUpDurationt_{{id_xpex}});" value="{{selXpex[id_xpex]['ramp_up_duration']}}"></td> 
        {% endif %}

    {% else %}
        <td scope="col"><input id="impact_{{id_xpex}}" name="impact_{{id_xpex}}_{{ucID}}" class="text-center impact pt-1 pb-1" type="number" min=0 step=1 max = 10 required oninput="checkXpexInput(impact_{{id_xpex}});" value="{{ selXpex[id_xpex]['exp_impact'] ? selXpex[id_xpex]['exp_impact'] : "0" }}"{{Mode == "supplier" ? "disabled"}}></td>
        <td scope="col"><input id="prob_{{id_xpex}}" name="prob_{{id_xpex}}_{{ucID}}" class="text-center prob pt-1 pb-1" type="number" min=0 step=10 required oninput="checkXpexInput(prob_{{id_xpex}});" value="{{ selXpex[id_xpex]['prob'] ? selXpex[id_xpex]['prob'] : "0" }}"{{Mode == "supplier" ? "disabled"}}></td>

    {% endif %}
</tr>

{% endmacro %}


{% macro part(selXpex, _xpex, type, nb_uc, partTitle, size,listUcID,listUcsName, Mode, selDevSym,categoryID) %}

{% import "/templates/customer_bc/macro_xpex_input.twig" as list %}

{% if _xpex %}
    {% set show = false %}
    {% for ucID in listUcID %}
        {% for id_xpex,data in selXpex[ucID] %}
            {% if  _xpex[ucID][id_xpex]["cat"] == categoryID %}
                {% set show = true %}
            {% endif %}
        {% endfor %}
    {% endfor %}
    {% if show %}
        {% if type == "capex" or type == "opex" or type == "deployment_costs"  %}
            <tr class="table-secondary" class = "cat_{{categoryID}}"><td colspan="{{size}}"> <strong> {{partTitle}}</strong></td></tr>
        {% endif %}
        {% for ucID in listUcID %}
            {% for id_xpex,data in selXpex[ucID] %}
                    {% if  _xpex[ucID][id_xpex]["cat"] == categoryID %}
                        {{ list.sub_list_xpex(id_xpex, _xpex[ucID], type, selXpex[ucID], nb_uc[ucID],listUcsName, ucID, Mode,selDevSym, categoryID) }}
                    {% endif %}
            {% endfor %}
        {% endfor %}
    {% endif %}
{% endif %}
{% endmacro %}


{% macro list_xpex(selDevSym,xpex_from_ntt,xpex_from_outside_ntt, xpex_internal ,ratio,selXpex,nb_uc, type,listUcID,listUcsName, Mode = "suggested", xpexCategories) %}
{% import "/templates/customer_bc/macro_xpex_input.twig" as list %}
{% import "/templates/customer_bc/macro_xpex.twig" as name %}
{% set show1 = false %}
{% set show2 = false %}
{% set show3 = false %}
{% for ucID in listUcID %}
    {% for id_xpex,data in selXpex[ucID] %}
        {% if id_xpex in xpex_from_ntt[ucID]|keys %}
            {% set show1 = true %}
        {% endif %}
        {% if id_xpex in xpex_from_outside_ntt[ucID]|keys %}
            {% set show2 = true %}
        {% endif %}
        {% if id_xpex in xpex_internal[ucID]|keys %}
            {% set show3 = true %}
        {% endif %}
    {% endfor %} 
{% endfor %}



{% if show1 or show2 or show3 %}

    {% set size = 0 %}
    {% if listUcsName|length > 1 %} {% set size = size + 1 %}
    {% endif %}
    <h3 class="text-center mt-5 mb-3 text-uppercase">{{Mode}} {{name.getType(type)}} Items</h3>
    <div class="row text-center">
        <div class="col mx-5 mb-5 list-table">
            <table id="xpex_table" class='table table-lg table-bordered table-striped table-responsive-lg'>
                <thead class="thead-dark text-center sticky-top">
                    {#{% if type == "opex" or type == "operating_revenues" or type == "revenues" or type == "cashreleasing" or type == "widercash" %}#}
                    {% if type == "revenues" or type == "cashreleasing" or type == "widercash" %}
                    <tr>
                        <th scope="col" colspan=2 class="text-uppercase">Components</th>
                        <th scope="col" colspan=2 class="text-uppercase">Baseline</th>
                        <th scope="col" colspan=2 class="text-uppercase">Growth</th>
                        {% if type == "cashreleasing" or type == "widercash" %}
                        <th scope="col" colspan=2 class="text-uppercase">Impact</th>
                        {% endif %}                        
                        {% if type == "revenues" %}
                        <th scope="col" colspan=2 class="text-uppercase">Schedule</th>
                        {% endif %}
                    </tr>
                    {% elseif type == "quantifiable" %}
                    <tr>
                        <th scope="col" colspan=2 class="text-uppercase">Components</th>
                        <th scope="col" colspan=1 class="text-uppercase">Baseline</th>
                        <th scope="col" colspan=1 class="text-uppercase">Growth</th>
                        <th scope="col" colspan=1 class="text-uppercase">Impact</th>
                    </tr>
                    {% elseif type == "revenuesProtection"  %}
                     <tr>
                        <th scope="col" colspan=2 class="text-uppercase">Components</th>
                        <th scope="col" colspan=1 class="text-uppercase">Baseline</th>
                        <th scope="col" colspan=1 class="text-uppercase">Impact</th>
                    </tr>                    
                    {#{% elseif type == "capex" or type == "deployment_costs" %}
                     <tr>
                        <th scope="col" colspan=2 class="text-uppercase">Components</th>
                        <th scope="col" colspan={{type == "capex" ? 3 : 2}} class="text-uppercase">Baseline</th>
                    </tr>  #}                 
                    {% endif %}

                    <tr>
                        <th scope="col">Item</th>
                        {% set size = size + 1 %}
                        {{listUcsName|length > 1 ? "<th scope='col'>Use Case</th>"}}
                        {% if type != "risks" and type != "noncash" %}
                                <th scope="col">Reference Unit</th>
                                {% set size = size + 1 %}
                            {% if type != "quantifiable" and type != "revenues"  and type != "revenuesProtection" %}
                                <th scope="col">Unit Cost {{type == "opex" ? "per month"}}</th>
                                {% set size = size + 1 %}
                            {% elseif type == "revenues" %}
                                <th scope="col">Unit Revenues</th>
                                {% set size = size + 1 %}
                            {% endif %}
                            {% if type == "revenuesProtection" %}
                                <th scope="col">Current revenues </th>
                                <th scope="col">% Protected </th>
                                {% set size = size + 2 %}
                            {% else %}
                                <th scope="col">#Units {{ type != "capex" and type != "deployment_costs" and type != "implem" ? "per month"}} </th>
                                {% set size = size + 1 %}
                            {% endif %}
                            {#% if type == "equipment_revenues" or  type == "deployment_revenues" or type == "operating_revenues" %}
                            <th scope="col">Margin ( in % )</th>
                            
                            {% endif %#}
                            {% if type == "opex" or type == "operating_revenues" or type == "cashreleasing" or type == "widercash" %}
                                <th scope="col">Annual unit cost variation</th>
                                {% set size = size + 1 %}
                            {% elseif type == "revenues" %}
                                <th scope="col">Annual unit revenue variation</th>
                                {% set size = size + 1 %}
                            {% endif %}
                            {% if type == "opex" or type == "operating_revenues" or type == "revenues" or type == "cashreleasing" or type == "widercash" or type == "quantifiable" %}
                                <th scope="col">Annual volume variation</th>
                                {% set size = size + 1 %}
                            {% endif %}
                            {#% if type == "equipment_revenues" or  type == "deployment_revenues" or type == "operating_revenues" %}
                            <th scope="col">Start of Revenues</th>
                            <th scope="col">Ramp-up Duration</th>
                            {% endif %#}
                            {% if type == "capex" %}
                                <th scope="col">Amortization Period ( in years )</th>
                                {% set size = size + 1 %}
                            {% endif %}
                            {% if type == "cashreleasing" or type == "widercash" or type == "quantifiable" %}
                                {% set size = size + 1 %}
                                <th scope="col">Volume</th>
                            {% endif %}
                            {% if type == "cashreleasing" or type == "widercash" %}
                                <th scope="col">Reference Unit Cost per month </th>
                                {% set size = size + 1 %}
                            {% endif %}
                            {% if type == "revenues" %}
                                <th scope="col">Start of Revenues</th>
                                <th scope="col">Ramp-up Duration</th>
                                {% set size = size + 2 %}
                            {% endif %}
                        {% else %}
                            <th scope="col">Expected Impact<br>(1 - 10)</th>
                            <th scope="col">Probability<br>( in %)</th>
                            {% set size = size + 2 %}
                        {% endif %}
                        {#<th scope="col">Guide</th>#}
                    </tr>
                </thead>
                <tbody>

                {% for categoryID in xpexCategories[xpexCategories|keys[0]]|keys %}
                    {% set show1 = false %}
                    {% set show2 = false %}
                    {% set show3 = false %}
                    {% for ucID in listUcID %}

                        {% for id_xpex,data in selXpex[ucID] %}
                            {% if xpex_from_ntt[ucID][id_xpex]['cat'] == categoryID %}
                                {% set show1 = true %}
                            {% endif %}
                            {% if xpex_from_outside_ntt[ucID][id_xpex]['cat'] == categoryID %}
                                {% set show2 = true %}
                            {% endif %}
                            {% if xpex_internal[ucID][id_xpex]['cat'] == categoryID %}
                                {% set show3 = true %}
                            {% endif %}
                        {% endfor %} 
                    {% endfor %}
                    {% if show1 or show2 or show3 %}
                        <tr class="table-primary" onclick = "hide({{categoryID}});" style="cursor: pointer;" >
                            <td>
                                <span class="oi oi-chevron-bottom cat_{{categoryID}}" title="oi-chevron-bottom" aria-hidden="true"></span>
                                <span hidden="true" class="oi oi-chevron-left cat_{{categoryID}}" title="oi-chevron-left" aria-hidden="true"></span>
                            </td>
                            <td colspan="1000"> <strong> {{xpexCategories[xpexCategories|keys[0]][categoryID]}} </strong></td>
                        </tr>
                        {% if show1 %}{{ list.part(selXpex, xpex_from_ntt,type, nb_uc, "From #{companyName}", size, listUcID,listUcsName, Mode, selDevSym, categoryID) }}{% endif %}
                        {% if show2 %}{{ list.part(selXpex, xpex_from_outside_ntt,type, nb_uc, "Third Party", size,listUcID,listUcsName, Mode, selDevSym, categoryID )}}{% endif %}
                        {% if show3 %}{{ list.part(selXpex, xpex_internal,type, nb_uc, "Internal", size,listUcID,listUcsName, Mode,selDevSym, categoryID )}}{% endif %}
                    {% endif %}
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endif %}
{% endmacro %}
