{% macro sub_list_xpex(id_xpex, xpex, type, selXpex, nb_uc, listUcsName, ucID) %}

<tr id = "tr_{{ id_xpex }}" scope="row">
    
    <td scope="col">{{ xpex[id_xpex]['name'] }}</td>

    {% if listUcsName|length > 1 %}<td scope="col">{{ listUcsName[ucID] }}/td>{% endif %}
    
    {% if type == "opex" or  type == "capex" or type == "deployment_costs" %}
    <td scope="col"><input id="unit_{{id_xpex}}" name="unit_{{id_xpex}}_{{ucID}}" class="text-center unit pt-1 pb-1" type="text" oninput="checkXpexInput(unit_{{id_xpex}});" value="{{ selXpex[id_xpex]['unit']}}" placeholder="Unit" ></td> 
    {% endif %}

    <td scope="col"><input id="unitCost_{{id_xpex}}" name="unitCost_{{id_xpex}}_{{ucID}}" class="text-center unitCost pt-1 pb-1" type="number" min=0 step=1 required oninput="checkXpexInput(unitCost_{{id_xpex}});" value="{{ selXpex[id_xpex]['unit_cost']}}" placeholder="{{ ratio[id_xpex]['val'] * nb_uc }}" ></td> 

    <td scope="col"><input id="vol_{{id_xpex}}" name="vol_{{id_xpex}}_{{ucID}}" class="text-center volume pt-1 pb-1" type="number" min=0 step=1 required oninput="checkXpexInput(vol_{{id_xpex}});" value="{{ selXpex[id_xpex]['volume']}}" placeholder="{{ ratio[id_xpex]['val'] * nb_uc }}"></td> 
    
    {#% if type == "equipment_revenues" or  type == "deployment_revenues" or type == "operating_revenues" %}

    <td scope="col"><input id="margin_{{id_xpex}}" name="margin_{{id_xpex}}_{{ucID}}" class="text-center period pt-1 pb-1" type="number" min=1 step=1 required oninput="checkXpexInput(margin_{{id_xpex}});" value="{{ selXpex[id_xpex]['margin'] ? selXpex[id_xpex]['margin'] : "" }}"></td>
    {% endif %#}

    {% if type =="opex" or type == "operating_revenues"  %}

    <td scope="col"><input id="anVarVol_{{id_xpex}}" name="anVarVol_{{id_xpex}}_{{ucID}}" class="text-center anVarVol p-1" type="number" step=0.001 required oninput="checkXpexInput(anVarVol_{{id_xpex}});" value="{{selXpex[id_xpex]['anVarVol']}}"><span> %</span></td> 
    <td scope="col"><input id="anVarCost_{{id_xpex}}" name="anVarCost_{{id_xpex}}_{{ucID}}" class="text-center anVarCost p-1" type="number" step=0.001 required oninput="checkXpexInput(anVarCost_{{id_xpex}});" value="{{selXpex[id_xpex]['anVarCost']}}"><span> %</span></td> 
    
    {% elseif type == "capex" %}

    <td scope="col"><input id="period_{{id_xpex}}" name="period_{{id_xpex}}_{{ucID}}" class="text-center period pt-1 pb-1" type="number" min=1 step=1 required oninput="checkXpexInput(period_{{id_xpex}});" value="{{ selXpex[id_xpex]['period'] ? selXpex[id_xpex]['period'] : "0" }}"></td>



    {% endif %}



</tr>

{% endmacro %}


{% macro part(selXpex, _xpex, type, nb_uc, partTitle, size,listUcID,listUcsName) %}

{% import "/templates/customer_bc/macro_xpex_input.twig" as list %}

{% if _xpex %}
    {% set show = false %}
    {% for ucID in listUcID %}
    
        {% for id_xpex,data in selXpex %}
            {% if (id_xpex in _xpex|keys)  %}
                {% set show = true %}
            {% endif %}
        {% endfor %}
    {% endfor %}
    {% if show %}
        <tr class="table-primary"><td colspan="{{size}}"> <strong> {{partTitle}} </strong></td></tr>
        {% for ucID in listUcID %}
            {% for id_xpex,data in selXpex[ucID] %}
                    {% if id_xpex in _xpex[ucID]|keys %}
                        {{ list.sub_list_xpex(id_xpex, _xpex[ucID], type, selXpex[ucID], nb_uc[ucID],listUcsName, ucID ) }}
                    {% endif %}
            {% endfor %}
        {% endfor %}
    {% endif %}
{% endif %}
{% endmacro %}


{% macro list_xpex(selDevSym,xpex_from_ntt,xpex_from_outside_ntt, xpex_internal ,ratio,selXpex,nb_uc, type,listUcID,listUcsName, fromNTT = true) %}
{% import "/templates/customer_bc/macro_xpex_input.twig" as list %}
{% import "/templates/customer_bc/macro_xpex.twig" as name %}
{% set show1 = false %}
{% set show2 = false %}
{% set show3 = false %}
{% for ucID in listUcID %}
    {% for id_xpex,data in selXpex[ucID] %}
        {% if id_xpex in xpex_from_ntt[ucID]|keys %}
            {% set show1 = true %}
        {% endif %}
        {% if id_xpex in xpex_from_outside_ntt[ucID]|keys %}
            {% set show2 = true %}
        {% endif %}
        {% if id_xpex in xpex_internal[ucID]|keys %}
            {% set show3 = true %}
        {% endif %}
    {% endfor %} 
{% endfor %}



{% if show1 or show2 or show3 %}
    {% set size = 5 %}
    {% if type == "opex" %} {% set size = 7 %}
    {% elseif type == "capex" %}{% set size = 6 %}
    {#% elseif type == "equipment_revenues" or  type == "deployment_revenues"  %}{% set size = 5 %#}
    {% elseif type == "operating_revenues"  %}{% set size = 6 %}
    {% endif %}
    {% if listUcsName|length > 1 %} {% set size = size + 1 %}
    {% endif %}
    <h3 class="text-center mt-5 mb-3 text-uppercase">{{ fromNTT ? "Suggested" : "Custom"}} {{name.getType(type)}} Items</h3>
    <div class="row text-center">
        <div class="col mx-5 mb-5 list-table">
            <table id="xpex_table" class='table table-lg table-bordered table-striped table-responsive-lg'>
                <thead class="thead-dark text-center sticky-top">
                    <tr>
                        <th scope="col">Item</th>
                        {{listUcsName|length > 1 ? "<th scope='col'>Use Case</th>"}}
                        {% if type == "opex" or  type == "capex" or type == "deployment_costs" %}
                        <th scope="col">Unit</th>
                        {% endif %}
                        <th scope="col">Unit Cost ( in {{selDevSym}} )</th>
                        <th scope="col">#Units</th>
                        {#% if type == "equipment_revenues" or  type == "deployment_revenues" or type == "operating_revenues" %}
                        <th scope="col">Margin ( in % )</th>
                        
                        {% endif %#}
                        {% if type == "opex" or type == "operating_revenues" %}
                        <th scope="col">Annual unit cost variation</th>
                        <th scope="col">Annual volume variation</th>
                        {% endif %}
                        {% if type == "capex" %}
                        <th scope="col">Amortization Period ( in years )</th>
                        {% endif %}
                    </tr>
                </thead>
                <tbody>

                {% if show1 %}{{ list.part(selXpex, xpex_from_ntt,type, nb_uc, "From #{companyName}", size, listUcID,listUcsName) }}{% endif %}
                {% if show2 %}{{ list.part(selXpex, xpex_from_outside_ntt,type, nb_uc, "From Outside #{companyName}", size,listUcID,listUcsName )}}{% endif %}
                {% if show3 %}{{ list.part(selXpex, xpex_internal,type, nb_uc, "Internal", size,listUcID,listUcsName )}}{% endif %}
                </tbody>
            </table>
        </div>
    </div>
{% endif %}
{% endmacro %}
