{% macro create_xpex(projID=0,ucID=0, type="capex", sideBarName, listUcID, listUcsName, xpexCategories) %}
<div class="modal fade" id="createNewXpexModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel3" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <form id="createXpex-form" action="?A={{sideBarName}}&amp;A2={{type}}&amp;A3=create_xpex&amp;projID={{projID}}&amp;ucID={{ucID}}" method='post'>
            <div class="modal-content">
                <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel3">Please enter the new {% if type == "capex" %}capex{% elseif type =="opex" %}opex{% elseif (type =="deployment_costs" and isSup) %}deployment and set-up{% elseif type =="deployment_costs" %}implmentation{% endif %} item informations</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                </div>
                <div class="modal-body">
                    <div class="form-group row">
                        <label for="name" class="col-sm-3 col-form-label">Name</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" name="name" id="name" aria-describedby="nameHelp" placeholder="Enter a name" required>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="description" class="col-sm-3 col-form-label">Description</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" name="description" id="description" placeholder="Enter a description">
                        </div>
                    </div>
                    {% if (type =="capex" or type =="opex" or type =="deployment_costs") and (type !="capex" or (sideBarName != "input_project_common_supplier" and sideBarName != "input_use_case_supplier") )%}
                    <div class="form-group row">
                        <label for="origine" class="col-sm-3 col-form-label">Origine</label>
                        <div class="col-sm-9">
                            <select class="form-control" name="origine" id="origine" required>
                                {% if ( sideBarName != "input_project_common_supplier" and sideBarName != "input_use_case_supplier") %} 
                                    <option value = "from_ntt" selected> From {{companyName}} </option>
                                {% endif %}
                                <option value = "from_outside_ntt"> Third Party </option>
                                <option value = "internal"> Internal </option>
                            </select>
                        </div>
                    </div>
                    {% endif %}
                    {% if listUcsName|length > 1 %}
                    <div class="form-group row">
                        <label for="origine" class="col-sm-3 col-form-label">Use Case</label>
                        <div class="col-sm-9">
                            <select class="form-control" name="useCase" id="useCase" required>
                            {% for ucID in listUcID %}
                                <option value = {{ucID}} selected> {{listUcsName[ucID]}} </option>
                            {% endfor %}
                            </select>
                        </div>
                    </div>
                    {% endif %}
                    {% if true %}
                    <div class="form-group row">
                        <label for="category" class="col-sm-3 col-form-label">Category</label>
                        <div class="col-sm-9">
                            <select class="form-control" name="category" id="category" required>
                            
                                {% for categoryID in xpexCategories[listUcID[listUcID|keys[0]]]|keys %}
                                    <option value = "{{categoryID}}" selected> {{xpexCategories[listUcID[listUcID|keys[0]]][categoryID]}} </option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    {% endif %}
                </div>
            <div class="modal-footer">
              <button type="submit" class="btn btn-dark">Create</button>
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </form>
    </div>
</div>    
{% endmacro %}


{% macro delete_xpex(idXpex,nameXpex,projID=0,ucID=0, type="capex", sideBarName) %}
<div class="modal fade" id="askDeleteXpex_{{ idXpex}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">{% if type == "capex" %}Capex{% elseif type =="opex" %}Opex{% elseif (type =="deployment_costs" and isSup) %}Deployment and Set-up{% elseif type =="deployment_costs" %}Implmentation{% endif %} item deleting confirmation</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Do you want to delete this {% if type == "capex" %}capex{% elseif type =="opex" %}opex{% elseif (type =="deployment_costs" and isSup) %}deployment and set-up{% elseif type =="deployment_costs" %}implmentation{% endif %} item ({{ nameXpex }}) ?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
                <a href="?A={{sideBarName}}&amp;A2={{type}}&amp;A3=delete_xpex&amp;projID={{projID}}&amp;ucID={{ucID}}&amp;id={{ idXpex }}"><button type="button" class="btn btn-dark">Yes</button></a>
            </div>
        </div>
    </div>
</div> 
{% endmacro %}




{% macro delete_selection(projID=0,ucID=0, type, sideBarName) %}
<div class="modal fade" id="deleteSelectionModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Selection Deleting Confirmation</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Do you want to delete the selection and skip this part ?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
                <a href="?A={{sideBarName}}&amp;A2={{type}}&amp;A3=delete_selection_xpex&amp;projID={{projID}}&amp;ucID={{ucID}}"><button type="button" class="btn btn-dark">Yes</button></a>
            </div>
        </div>
    </div>
</div>
{% endmacro %}



{% macro ask_fill(projID=0,ucID=0, type, sideBarName) %}
    {% if type == "capex" %}{% set next = "deployment_costs" %}
    {% elseif type == "deployment_costs" %}{% set next = "opex" %}
    {% elseif type == "opex" %}{% set next = "revenues" %}
    {% endif %}

    <div class="modal fade" id="askFillXpex" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Access to {% if type == "capex" %}Capex{% elseif type =="opex" %}Opex{% elseif (type =="deployment_costs" and isSup) %}Deployment and Set-up{% elseif type =="deployment_costs" %}Implmentation{% endif %} Selection Page</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    Do you want to fill this part ?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-dark" data-dismiss="modal">Yes</button>
                    <a href="?A={{sideBarName}}&amp;A2={{next}}&amp;projID={{projID}}&amp;ucID={{ucID}}"><button type="button" class="btn btn-secondary">No</a>
                </div>
            </div>
        </div>
    </div>
{% endmacro %}

{% macro create_xpex_cat( projID, ucID, type, sideBarName, listUcID, listUcsName) %}
<div class="modal fade" id="createNewXpexCatModal" tabindex="-1" role="dialog" aria-labelledby="createNewXpexCatModal" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <form id="createXpexCat-form" action="?A={{sideBarName}}&amp;A2={{type}}&amp;A3=create_xpex_cat&amp;projID={{projID}}&amp;ucID={{ucID}}" method='post'>
            <div class="modal-content">
                <div class="modal-header">
                <h5 class="modal-title" id="createNewXpexCatModal">Please enter the new category</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                </div>
                <div class="modal-body">
                    <div class="form-group row">
                        <label for="name" class="col-sm-3 col-form-label">Name</label>
                        <div class="col-sm-9">
                            <input value = "{{ucID}}" name = "ucID" hidden>
                            <input type="text" class="form-control" name="name" id="name" aria-describedby="nameHelp" placeholder="Enter a name" required>
                        </div>
                    </div>
                </div>
            <div class="modal-footer">
              <button type="submit" class="btn btn-dark">Create</button>
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </form>
    </div>
</div>    
{% endmacro %}

{% macro delete_xpex_cat( projID, ucID, type, sideBarName, listUcID, listUcsName, xpexCategories) %}
<div class="modal fade" id="deleteXpexCatModal" tabindex="-1" role="dialog" aria-labelledby="deleteXpexCatModal" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <form id="deleteXpexCat-form" action="?A={{sideBarName}}&amp;A2={{type}}&amp;A3=delete_xpex_cat&amp;projID={{projID}}&amp;ucID={{ucID}}" method='post'>
            <div class="modal-content">
                <div class="modal-header">
                <h5 class="modal-title" id="deleteXpexCatModal">Select the categories to delete</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                </div>
                <div class="modal-body">
                    <div class="form-group col-sm-10">

                        {% for categoryID in xpexCategories[listUcID[listUcID|keys[0]]]|keys %}
                            <div class="form-check">
                                <input type = "checkbox" name = "delete_{{categoryID}}">
                                <label class="form-check-label" for="delete_{{categoryID}}">
                                    {{xpexCategories[listUcID[listUcID|keys[0]]][categoryID]}} 
                                </label>
                            </div>
                            
                        {% endfor %}
                    </div>
                </div>
            <div class="modal-footer">
              <button type="submit" class="btn btn-dark">Delete selection</button>
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </form>
    </div>
</div>    
{% endmacro %}