{% set sideBarName = "input_project_common_supplier" %}
{% extends '/others/general_common.twig' %}

{% import "/templates/navbar.twig" as navbar %}
{% block navbar %}
	{{ navbar.navbar(is_connected,is_admin,devises) }}
{% endblock %}

{% import "/templates/sidebar.twig" as sidebar %}
{% import "/templates/second_bar.twig" as second_bar %}

{% block sidebar %}
	{{ sidebar.sidebar(sideBarName) }}
{% endblock %}

{% block title %}Common Schedule{% endblock %}

{% block content %}

	{% if projID==0 %}
		{{ second_bar.second_bar(username,is_admin,selDevName,selDevSym,part,"None") }}
		{{ redirect.choose_ucm() }}

	{% else %}
		{{ second_bar.second_bar(username,is_admin,selDevName,selDevSym,part,selected) }}

		<div class="row jumbotron text-light mx-5 bg-dark p-3" style="margin-top: 2rem;">
			<div class="col text-center">
				<h5>For the Selected Project, please input the Start and Deployment dates, as well as the respective length of time for the project and its deployment - in number of months.
				</h5>
			</div>
		</div>

		{#  CONTENU #}
		<div id="alerts_container">

		</div>
		


<div class="justify-content-center row m-2 text-center text-dark">
			<form class="w-100 pl-5 pr-5" id="supplier_schedule" name="supplier_schedule" action="?A=input_project_common_supplier&amp;A2=schedule&amp;A3=save&amp;projID={{ projID }}" method="post" onsubmit = "return updateBar(true)";>
				<div>
					<div class="form-group row">
						<div class="col">
							<h3>Project</h3>
						</div>
						<div class="col">
							<h3>Project Life Cycle </h3>
						</div>
					</div>
					<div class="row">
						<div class="form-group col  border-right">
							<div class="input-group  mb-3">
								<div class="input-group-prepend">
									<span class="input-group-text" id="inputGroup-sizing-sm">Start Date</span>
								</div>
								<input type="date" class="form-control text-center" aria-label="Small" aria-describedby="inputGroup-sizing-sm" id="pstart" name="pstart" value="{{ key_dates[0]['start_date'] }}" oninput="updateBar()">
							</div>

							<div class="input-group  mb-3">
								<div class="input-group-prepend">
									<span class="input-group-text" id="inputGroup-sizing-sm">Duration (in months)</span>
								</div>
								<input type="number" class="form-control text-center" aria-label="Small" aria-describedby="inputGroup-sizing-sm" id="pduration" name="pduration" placeholder="36" value="{{ key_dates[0]['duration'] }}" oninput="updateBar()">
							</div>

						</div>
						<div class="form-group col">
							<div class="input-group  mb-3">
								<div class="input-group-prepend">
									<span class="input-group-text" id="inputGroup-sizing-sm">Start Date</span>
								</div>
								<input type="date" class="form-control text-center" aria-label="Small" aria-describedby="inputGroup-sizing-sm" id="dstart" name="dstart" value="{{ key_dates[0]['deploy_start_date'] }}" oninput="updateBar()">
							</div>

							<div class="input-group  mb-3">
								<div class="input-group-prepend">
									<span class="input-group-text" id="inputGroup-sizing-sm">Duration (in months)</span>
								</div>
								<input type="number" class="form-control text-center" aria-label="Small" aria-describedby="inputGroup-sizing-sm" id="dduration" name="dduration" placeholder="6" value="{{ key_dates[0]['deploy_duration'] }}" oninput="updateBar()">
							</div>
						</div>
					</div>
				</div>
			</form>
		</div>


		{#  FIN DU CONTENU #}

		<div class = "dash-bg container-fluid m-1 ml-2 p-4">
			<div class="dash-bg-light container-fluid p-3">
				<div id="chart_schedule" hidden>
					<div class="container-fluid" >


						<div class="progress">
							<div id="bar_1" class="progress-bar progress-bar-nothing progress-bar-striped progress-bar-animated" style="width: 10%"></div>
							<div id="bar_2" class="progress-bar progress-bar-operations-1 progress-bar-striped progress-bar-animated" style="width: 20%">Deployment</div>		
							<div id="bar_3" class="progress-bar progress-bar-main progress-bar-striped progress-bar-animated" style="width: 70%">Run</div>
						</div>

						<div class = "progress dash-bg-light">
							<div id="proj_start" style="width: 10%" class="text-left">
								<span class="oi oi-caret-top"></span><div id="proj_start_text"></div>
							</div>
							<div id="dep_start" style="width: 20%" class="text-left">
								<span class="oi oi-caret-top"></span><div id="dep_start_text"></div>
							</div>
							<div id="run_start" style="width: 35%" class="text-left">
								<span class="oi oi-caret-top"></span><div id="run_starttext"></div>
							</div>
							<div id="project_end" style="width: 35%" class="text-right">
								<div id="project_end_text"></div><span class="oi oi-caret-top"></span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="row m-3 text-center text-dark">
			<button class="btn btn-link offset-5 col-2 oi oi-arrow-circle-right next-button" title="arrow-circle-right" style="font-size:50px;" aria-hidden="true" onclick="submitForm('supplier_schedule');"></button>
		</div>
	{% endif %}
{% endblock %}

{% block scripts %}
	<script type="text/javascript" src="../../public/assets/js/custom/supplier_bc/common-schedule.js"></script>
	<script type="text/javascript" src="../../public/assets/js/custom/supplier_bc/alertCreator.js"></script>
<script>highlight_db_values();updateBar();</script>
{% endblock %}
