{% extends '/templates/common_page.twig' %}

{% import "/templates/navbar.twig" as navbar %}
{% block navbar %}
	{{ navbar.navbar(is_connected,is_admin,devises) }}
{% endblock %}

{% import "/templates/sidebar.twig" as sidebar %}
{% import "/templates/second_bar.twig" as second_bar %}

{% block sidebar %}
	{{ sidebar.sidebar("input_project_common_supplier") }}
{% endblock %}

{% block title %}Common Schedule{% endblock %}

{% block content %}

	{% if projID==0 %}
		{{ second_bar.second_bar(username,is_admin,selDevName,selDevSym,part,"None") }}
		{{ redirect.choose_ucm() }}

	{% else %}
		{{ second_bar.second_bar(username,is_admin,selDevName,selDevSym,part,selected) }}

		<div class="row jumbotron text-light mx-5 bg-dark p-3" style="margin-top: 2rem;">
			<div class="col text-center">
				<p class="text-justify">Lorem ipsum dolor sit amettt, consectetur adipiscing elit. Duis sit amet varius neque, eget facilisis urna. Nunc sit amet libero varius erat interdum tempus. Morbi elit diam, malesuada vel iaculis at, fermentum sed metus. Quisque finibus urna et lorem varius aliquam. Aliquam molestie massa non lorem tincidunt aliquam. Fusce ullamcorper euismod arcu eu laoreet. Sed nec faucibus sem.
				</p>
			</div>
		</div>

		{#  CONTENU #}
		<div id="alerts_container">

		</div>
		<div class="justify-content-center row m-2 text-center text-dark">
			<form class="w-100 pl-5 pr-5" id="supplier_schedule" name="supplier_schedule" action="?A=input_project_common_supplier&amp;A2=schedule&amp;A3=save&amp;projID={{ projID }}" method="post">
				<div>
					<div class="form-group row">
						<div class="col">
							<h3>Project Key Dates</h3>
						</div>
						<div class="col">
							<h3>Project Deployment Key Dates</h3>
						</div>
					</div>
					<div class="row">
						<div class="form-group col">
							<label for="fname">Project Start Date</label>
							<input class="form-control" type="date" id="pstart" name="pstart" value="{{ key_dates[0]['start_date'] }}">
							<label for="lname">Project Duration (in months)</label>
							<input class="form-control" type="text" id="pduration" name="pduration" placeholder="36" value="{{ key_dates[0]['duration'] }}">
						</div>
						<div class="form-group col">
							<label for="fname">Deployment Start Date</label>
							<input class="form-control" type="date" id="dstart" name="dstart" value="{{ key_dates[0]['deploy_start_date'] }}">
							<label for="lname">Deployment Duration (in months)</label>
							<input class="form-control" type="text" id="dduration" name="dduration" placeholder="6" value="{{ key_dates[0]['deploy_duration'] }}">
						</div>
					</div>
				</div>
			</form>
		</div>

		{#  FIN DU CONTENU #}

		<div class="row m-3 text-center text-dark">
			<button class="btn btn-link offset-5 col-2 oi oi-arrow-circle-right next-button" title="arrow-circle-right" style="font-size:50px;" aria-hidden="true" onclick="submitForm('supplier_schedule');"></button>
		</div>
	{% endif %}
{% endblock %}

{% block scripts %}
	<script type="text/javascript" src="../../public/assets/js/custom/supplier_bc/common-schedule.js"></script>
	<script type="text/javascript" src="../../public/assets/js/custom/supplier_bc/alertCreator.js"></script>
<script>highlight_db_values();</script>
{% endblock %}
