{% extends '/others/general_common.twig' %}

{% import "/templates/second_bar.twig" as second_bar %}
{% import "/templates/sidebar.twig" as sidebar %}
{% import "/templates/customer_bc/macro_xpex_input.twig" as list %}
{% import "/templates/customer_bc/macro_xpex.twig" as name %}




{% block title %}Input <br>{{name.getType(type)}} {{type == "deployment_costs" or type == "capex" ? "cost"}}{% endblock %}

{% block sidebar %}{{ sidebar.sidebar(sideBarName,projID,ucID) }}{% endblock %}


{% block content %}

{{ second_bar.second_bar(username,is_admin,selDevName,selDevSym,part,selected,part2,selected2) }}

{% if type == "capex" %}
    {% set lorem = "Input Project Investment / Fixed asset items' Unit cost and Volumes procured from #{companyName} and outside of #{companyName}." %}
{% elseif type == "deployment_costs" %}
    {% set lorem = "Input Project Deployment & Set up cost items' Unit cost and Volumes procured from #{companyName} and outside of #{companyName}." %}
{% elseif type == "opex" %}
    {% set lorem = "Input Project Opex / running costs, Volumes and annual variations procured from #{companyName} and outside of #{companyName}." %}
{% elseif type == "equipment_revenues" %}
    {% set lorem = "For each Equipment Revenue item, please input Unit Costs and  Volumes (per month) to be generated from the sale of such equipment item(s)." %}
{% elseif type == "deployment_revenues" %}
    {% set lorem = "For each Deployment Revenue item, please input Unit Costs and  Volumes (per month) to be generated from such deployment item(s)." %}
{% elseif type == "operating_revenues" %}
    {% set lorem = "For each Operating Revenue item, please input Unit Costs, Volumes (per month) and annual variations impacting such revenue item(s)." %}
{% elseif type == "revenues" %}
    {% set lorem = "For the chosen Use Case, input target revenue items (unit cost and volumes) and a proposed annual variation." %}
{% elseif type == "cashreleasing" %}
    {% set lorem = "For the chosen Use Case, input baseline Cash Releasing benefit items (Unit Cost and volumes), a proposed annual variation and details on the impact affecting the baseline." %}
{% elseif type == "widercash" %}
    {% set lorem = "For the chosen Use Case, input baseline Wider Cash Benefits items (Unit Cost and volumes), a proposed annual variation and details on the impact affecting the baseline." %}
{% elseif type == "quantifiable" %}
    {% set lorem = "For the chosen Use Case, input baseline Quantifiable Non Monetizable Benefits items (Unit Cost and volumes), a proposed annual variation and details on the impact affecting the baseline." %}
{% elseif type == "noncash" %}
    {% set lorem = "For the chosen Use Case, input expected Impact Rating (from 1-Low to 10-High) for the Non Quantifiable Benefit items, and select % probability of occurrence to calculate impact." %}
{% elseif type == "risks" %}
    {% set lorem = "For the chosen Use Case, input expected Impact Rating (from 1-Low to 10-High) for the Risk items, and select % probability of occurrence to calculate Risk impact." %}
{% elseif type == "revenuesProtection" %}
    {% set lorem = "lorem" %}
{% endif %}



{#-------------- corps --------------#}

<h2 class="ml-5 mt-5" ><span style="font-weight: 600;">Input <br>{{name.getType(type)}} {{type == "deployment_costs" or type == "capex" ? "cost"}}</span><span style="font-weight: 400;"></span></h2>
<div class="row jumbotron text-light m-5 bg-dark p-3">
    <div class="col text-center">
        <h5>{{lorem|nl2br}}</h5>
    </div>
</div>
<div id="alerts_container"></div>

{% if xpex_advice_from_ntt or xpex_advice_from_outside_ntt or xpex_advice_internal or  xpex_user_from_ntt or xpex_user_from_outside_ntt or xpex_user_internal or xpex_supplier %}

    <form id="form_xpex_input" name="form_xpex_input" action="?A={{sideBarName}}&amp;A2={{type}}&amp;A3=inputed&amp;projID={{projID}}&amp;ucID={{ucID}}" method="post" onsubmit="return checkXpexAll();">

    {{ list.list_xpex(selDevSym,xpex_supplier,[], [] ,ratio,selXpex,nb_uc, type,listUcID, listUcsName, "supplier", xpexCategories) }}

    {{ list.list_xpex(selDevSym,xpex_advice_from_ntt,xpex_advice_from_outside_ntt, xpex_advice_internal ,ratio,selXpex,nb_uc, type,listUcID, listUcsName, "suggested", xpexCategories) }}

    {{ list.list_xpex(selDevSym,xpex_user_from_ntt,xpex_user_from_outside_ntt, xpex_user_internal ,ratio,selXpex,nb_uc, type,listUcID,listUcsName, "", xpexCategories) }}




    <div class="row m-3 text-center text-dark">
        <button class="btn btn-link offset-5 col-2 oi oi-arrow-circle-right next-button" title="arrow-circle-right" style="font-size:50px;" aria-hidden="true" onclick="submitForm('form_xpex_input');"></button>
    </div>
    </form>
{% endif %}


{% endblock %}



{% block scripts %}
    {{ parent() }}
    <div id="pricing_start"   hidden>{{list_limite_schedule["pricing_start"]}}</div>
    <div id="uc_end"   hidden>{{list_limite_schedule["uc_end"]}}</div>
    <script type="text/javascript" src="../../public/assets/js/custom/customer_bc/xpexForm.js"></script>
    <script type="text/javascript">setNewDeviseXpex("{{selDevName}}");</script>
{% endblock %}


