{% extends '/others/general_common.twig' %}


{% import "/templates/second_bar.twig" as second_bar %}
{% import "/templates/customer_bc/macro_xpex.twig" as list %}
{% import "/templates/customer_bc/modal_xpex.twig" as modal %}


{% block title %}Project Initialization{% endblock %}


{% block content %}


{{ second_bar.second_bar(username,is_admin,selDevName,selDevSym,part,selected,part2,selected2) }}
{#{ucID}#}
{% if type == "capex" %}
    {% set lorem = 'Create and provide short description of Investment / Fixed assets procured from #{companyName} or from third parties.' %}
    {{coucou1}}
{% elseif type == "deployment_costs" %}
    {% set lorem = 'Create and provide short description of Deployment & Set up cost items provided by #{companyName} or by third parties.' %}
{% elseif type == "opex" %}
    {% set lorem = 'Create and provide short description of Opex / running cost procured from #{companyName} or from third parties.' %}
{% endif %}

<h2 class="ml-5 mt-5" ><span style="font-weight: 600;">{% if type == "capex" %}Capex{% elseif type =="opex" %}Opex{% elseif (type =="deployment_costs" and isSup) %}Deployment and Set-up{% elseif type =="deployment_costs" %}Implementation{% endif %} Input </span><span style="font-weight: 400;"></span></h2>
<div class="row jumbotron text-light m-5 bg-dark p-3">
    <div class="col text-center">
        <p class="text-justify">{{lorem|nl2br}} </p>
    </div>
</div>



<form id="form_xpex" name="form_xpex" action="?A={{sideBarName}}&amp;A2={{type}}&amp;A3=selected&amp;projID={{projID}}&amp;ucID={{ucID}}" method="post" onsubmit="return countSelectedXpex(form_xpex);">
    {% set print = false %}
    {% for item in xpex_advice_from_ntt|merge(xpex_advice_from_outside_ntt)|merge(xpex_advice_internal) %}
        {% if item|length >0 %}{% set print = true %}{% endif %}
    {% endfor %}
    {% if print %}
    {{ list.list_xpex(xpex_advice_from_ntt, xpex_advice_from_outside_ntt, xpex_advice_internal, projID,ucID,selXpex, type, sideBarName, listUcID, listUcsName ) }}
    {% endif %}

    {% set print = false %}
    {% for item in xpex_user_from_ntt|merge(xpex_user_from_outside_ntt)|merge(xpex_user_internal) %}
        {% if item|length >0 %}{% set print = true %}{% endif %}
    {% endfor %}
    {% if print %}
    {{ list.list_xpex(xpex_user_from_ntt, xpex_user_from_outside_ntt, xpex_user_internal, projID,ucID,selXpex, type, sideBarName, listUcID, listUcsName, true) }}
    {% endif %}
</form>

<div class="row my-5">
    <button class="offset-5 col-2 btn btn-dark text-light" data-toggle="modal" data-target="#createNewXpexModal" role="button">Create a custom item</button>
</div>

<div class="row mt-3 text-center">
    <h6 id="createXpexHelp" class="col text-danger font-weight-bold">{{ isTaken ? "Please choose another name." : "" }}</h6>
</div>

{% if sideBarName == 'cost_benefits' or sideBarName == "input_use_case" %}
<div class="row mt-5">
    <button class="offset-5 col-2 btn btn-sm btn-danger text-light" data-toggle="modal" data-target="#deleteSelectionModal" role="button">Choose none &amp; Skip this part</button>
</div>
{% endif %}
<div class="row mt-4 mb-0 text-center">
    <span id="countXpexSelect" class="offset-5 col-2 text-white btn btn-info disabled"></span>
</div>
<div class="row text-center mt-3">
    <h6 id="help_xpex" class="col text-danger font-weight-bold text-center" hidden>Please select at least one item !</h6>
</div>
<div class="row m-3 text-center text-dark">
    <button class="btn btn-link offset-5 col-2 oi oi-arrow-circle-right next-button" title="arrow-circle-right" style="font-size:50px;" aria-hidden="true" onclick="submitForm('form_xpex');"></button>
</div>

{{ modal.create_xpex(projID,ucID, type, sideBarName ,listUcID, listUcsName) }}


{% if sideBarName == 'cost_benefits' or sideBarName == "input_use_case" %}
    {{ modal.ask_fill(projID,ucID, type, sideBarName) }}
    {{ modal.delete_selection(projID,ucID, type, sideBarName) }}

        {% if selXpex|length == 0 and xpex_user_from_ntt|length == 0 and xpex_user_from_outside_ntt|length == 0 and xpex_user_internal|length == 0 %}
        <script type="text/javascript">
            $('#askFillXpex').modal('show')
        </script>
        {% endif %}
{% endif %}


{% endblock %}




