{% extends '/others/general_common.twig' %}
{% set sideBarName = "input_project_common" %}

{% import "/templates/second_bar.twig" as second_bar %}
{% import "/templates/sidebar.twig" as sidebar %}
{% import "/templates/customer_bc/macro_xpex_input.twig" as list %}

{% block title %}{% if type == "capex" %}Capex{% elseif type =="opex" %}Opex{% elseif type =="deployment_costs"%}Deployment and Set-up{% endif %} Input {% endblock %}

{% block sidebar %}{{ sidebar.sidebar("input_project_common",projID,ucID) }}{% endblock %}

{% block content %}

{{ second_bar.second_bar(username,is_admin,selDevName,selDevSym,part,selected,part2,selected2) }}

{% if type == "capex" %}
    {% set lorem = "Input Project Investment / Fixed asset items' Unit cost and Volumes procured from NTT and outside of NTT." %}
{% elseif type == "deployment_costs" %}
    {% set lorem = "Input Project Deployment & Set up cost items' Unit cost and Volumes procured from NTT and outside of NTT." %}
{% elseif type == "opex" %}
    {% set lorem = "Input Project Opex / running costs, Volumes and annual variations procured from NTT and outside of NTT." %}
{% endif %}



{#-------------- corps --------------#}


<h2 class="ml-5 mt-5" ><span style="font-weight: 600;">{% if type == "capex" %}Capex{% elseif type =="opex" %}Opex{% elseif type =="deployment_costs"%}Deployment and Set-up{% endif %} Input </span><span style="font-weight: 400;"></span></h2>
<div class="row jumbotron text-light m-5 bg-dark p-3">
    <div class="col text-center">
        <p class="text-justify">{{lorem|nl2br}}</p>
    </div>
</div>


{% if xpex_advice_from_ntt or xpex_advice_from_outside_ntt or xpex_advice_internal or  xpex_user_from_ntt or xpex_user_from_outside_ntt or xpex_user_internal %}
    <form id="form_xpex_input" name="form_xpex_input" action="?A=input_project_common&amp;A2={{type}}&amp;A3=inputed&amp;projID={{projID}}&amp;ucID={{ucID}}" method="post" onsubmit="return checkCapexPeriod() && checkCapexInput();">
    
    {% set show = false %}
    {% for id_xpex,data in selXpex %}
        {% if ((id_xpex in xpex_advice_from_ntt|keys) or (id_xpex in xpex_advice_from_outside_ntt|keys) or (id_xpex in xpex_advice_internal|keys))  %}
            {% set show = true %}
        {% endif %}
    {% endfor %}
    {% if show %}
    {{ list.list_xpex(selDevSym,xpex_advice_from_ntt,xpex_advice_from_outside_ntt, xpex_advice_internal ,ratio,selXpex,nb_uc, type) }}
    {% endif %}

    {% set show = false %}
    {% for id_xpex,data in selXpex %}
        {% if ((id_xpex in xpex_user_from_ntt|keys) or (id_xpex in xpex_user_from_outside_ntt|keys) or (id_xpex in xpex_user_internal|keys))  %}
            {% set show = true %}
        {% endif %}
    {% endfor %}

    {% if show %}
    {{ list.list_xpex(selDevSym,xpex_user_from_ntt,xpex_user_from_outside_ntt, xpex_user_internal ,ratio,selXpex,nb_uc, type, false) }}
    {% endif %}



    <div class="row m-3 text-center text-dark">
        <button class="btn btn-link offset-5 col-2 oi oi-arrow-circle-right next-button" title="arrow-circle-right" style="font-size:50px;" aria-hidden="true" onclick="submitForm('form_xpex_input');"></button>
    </div>
    </form>
{% endif %}


{% endblock %}



{% block scripts %}
    {{ parent() }}
    <script type="text/javascript">setNewDeviseXpex("{{selDevName}}");</script>
{% endblock %}


