{% extends '/others/general_common.twig' %}


{% import "/templates/second_bar.twig" as second_bar %}
{% import "/templates/customer_bc/macro_xpex.twig" as list %}
{% import "/templates/customer_bc/modal_xpex.twig" as modal %}


{% block title %}Project Initialization{% endblock %}


{% block content %}


{{ second_bar.second_bar(username,is_admin,selDevName,selDevSym,part,selected,part2,selected2) }}
{#{ucID}#}
{% if type == "capex" %}
    {% set lorem = "Create and provide short description of Investment / Fixed assets procured from #{companyName} or from third parties." %}
    {{coucou1}}
{% elseif type == "deployment_costs" %}
    {% set lorem = "Create and provide short description of Deployment & Set up cost items provided by #{companyName} or by third parties." %}
{% elseif type == "opex" %}
    {% set lorem = "Create and provide short description of Opex / running cost procured from #{companyName} or from third parties." %}
{% elseif type == "equipment_revenues" %}
    {% set lorem = "For the selected Use Case, please input and provide a short description of the relevant revenue items for custom equipment provided in connection with the supplied solution." %}
{% elseif type == "deployment_revenues" %}
    {% set lorem = "For the selected Use Case, please input and provide a short description of the relevant deployment revenue items in connection with the supplied solution." %}
{% elseif type == "operating_revenues" %}
    {% set lorem = "For the selected Use Case, please input and provide a short description of the relevant Revenue items from Operations in connection with the supplied solution." %}
{% elseif type == "revenues" %}
    {% set lorem = "For the chosen Use Case, select the relevant Revenue items and create any new item(s) as appropriate, providing a short description of the item(s)." %}
{% elseif type == "cashreleasing" %}
    {% set lorem = "For the chosen Use Case, select the relevant Cash Releasing Benefit items and create any new item(s) as appropriate, providing a short description of the item(s)." %}
{% elseif type == "widercash" %}
    {% set lorem = "For the chosen Use Case, select the relevant Wider Cash Benefit items and create any new item(s) as appropriate, providing a short description of the item(s)." %}
{% elseif type == "quantifiable" %}
    {% set lorem = "For the chosen Use Case, select the relevant Quantifiable non monetizable Benefit items and create any new item(s) as appropriate, providing a short description of the item(s)." %}
{% elseif type == "noncash" %}
    {% set lorem = "For the chosen Use Case, select the relevant Non Cash Benefit items and create any new item(s) as appropriate, providing a short description of the item(s)." %}
{% elseif type == "risks" %}
    {% set lorem = "For the chosen Use Case, select the relevant Risk item(s) and create any new items as appropriate, providing a short description of the item(s)." %}
{% elseif type == "revenuesProtection" %}
    {% set lorem = "lorem" %}
{% endif %}





<h2 class="ml-5 mt-5" ><span style="font-weight: 600;">Input <br>{{list.getType(type)}} {{type == "deployment_costs" or type == "capex" ? "cost"}}  </span><span style="font-weight: 400;"></span></h2>
<div class="row jumbotron text-light m-5 bg-dark p-3">
    <div class="col text-center">
        <h5>{{lorem|nl2br}} </h5>
    </div>
</div>



<form id="form_xpex" name="form_xpex" action="?A={{sideBarName}}&amp;A2={{type}}&amp;A3=selected&amp;projID={{projID}}&amp;ucID={{ucID}}" method="post" onsubmit="return countSelectedXpex(form_xpex);">
    {% set print = false %}
    {% for categoryID in list_xpex_cat_from_supplier[list_xpex_cat_from_supplier|keys[0]]|keys %}
        {% for item in xpex_supplier %}
            {% for subItem in item %}
                {% if subItem['cat'] == categoryID %}{% set print = true %}{% endif %}
            {% endfor %}
        {% endfor %}
    {% endfor %}
    {% if print %}
        {{ list.list_xpex(xpex_supplier, [], [], projID,ucID,selXpex, type, sideBarName, listUcID, listUcsName, 'supplier', list_xpex_cat_from_supplier ) }}
    {% endif %}
    
    {% set print = false %}
    {% for categoryID in xpexCategories[xpexCategories|keys[0]]|keys %}
        {% for item in xpex_advice_from_ntt|merge(xpex_advice_from_outside_ntt)|merge(xpex_advice_internal) %}
            {% for subItem in item %}
                {% if subItem['cat'] == categoryID %}{% set print = true %}{% endif %}
            {% endfor %}
        {% endfor %}
    {% endfor %}
    {% if print %}
    {{ list.list_xpex(xpex_advice_from_ntt, xpex_advice_from_outside_ntt, xpex_advice_internal, projID,ucID,selXpex, type, sideBarName, listUcID, listUcsName, "advice", xpexCategories ) }}
    {% endif %}




    {% set print = false %}
    {% for categoryID in xpexCategories[xpexCategories|keys[0]]|keys %}
        {% for item in xpex_user_from_ntt|merge(xpex_user_from_outside_ntt)|merge(xpex_user_internal) %}
            {% for subItem in item %}
                {% if subItem['cat'] == categoryID %}{% set print = true %}{% endif %}
            {% endfor %}
        {% endfor %}
    {% endfor %}
    {% if print %}
    {{ list.list_xpex(xpex_user_from_ntt, xpex_user_from_outside_ntt, xpex_user_internal, projID,ucID,selXpex, type, sideBarName, listUcID, listUcsName, "custom", xpexCategories) }}
    {% endif %}
</form>

{% if xpexCategories[xpexCategories|keys[0]] %}
    <div class="row my-1">
        <button class="offset-5 col-2 btn btn-dark text-light" data-toggle="modal" data-target="#createNewXpexModal" role="button">Create a custom item</button>
    </div>
{% endif %}

<div class="row my-1">
    <button class="offset-5 col-2 btn btn-dark text-light" data-toggle="modal" data-target="#createNewXpexCatModal" role="button">Create a Category</button>
</div>

{% if xpexCategories[xpexCategories|keys[0]] %}
    <div class="row my-1">
        <button class="offset-5 col-2 btn btn-dark text-light" data-toggle="modal" data-target="#deleteXpexCatModal" role="button">Delete a Category</button>
    </div>
{% endif %}

<div class="row mt-3 text-center" {{ isTaken ? : "hidden"}}>
    <h6 id="createXpexHelp" class="col text-danger font-weight-bold"> "Please choose another name."</h6>
</div>

{% if sideBarName == 'cost_benefits' or sideBarName == "input_use_case" %}
<div class="row mt-5">
    <button class="offset-5 col-2 btn btn-sm btn-danger text-light" data-toggle="modal" data-target="#deleteSelectionModal" role="button">Choose none &amp; Skip this part</button>
</div>
{% endif %}
<div class="row mt-4 mb-0 text-center">
    <span id="countXpexSelect" class="offset-5 col-2 text-white btn btn-info disabled"></span>
</div>
<div class="row text-center mt-3">
    <h6 id="help_xpex" class="col text-danger font-weight-bold text-center" hidden>Please select at least one item !</h6>
</div>
<div class="row m-3 text-center text-dark">
    <button class="btn btn-link offset-5 col-2 oi oi-arrow-circle-right next-button" title="arrow-circle-right" style="font-size:50px;" aria-hidden="true" onclick="submitForm('form_xpex');"></button>
</div>



{{ modal.create_xpex(projID,ucID, type, sideBarName ,listUcID, listUcsName, xpexCategories) }}
{{ modal.create_xpex_cat(projID,ucID, type, sideBarName ,listUcID, listUcsName) }}
{{ modal.delete_xpex_cat(projID,ucID, type, sideBarName ,listUcID, listUcsName, xpexCategories) }}

{% if sideBarName == 'cost_benefits' or sideBarName == "input_use_case" %}
    {{ modal.ask_fill(projID,ucID, type, sideBarName) }}
    {{ modal.delete_selection(projID,ucID, type, sideBarName) }}

        {% if selXpex|length == 0 and xpex_user_from_ntt|length == 0 and xpex_user_from_outside_ntt|length == 0 and xpex_user_internal|length == 0 %}
        <script type="text/javascript">
            $('#askFillXpex').modal('show')
        </script>
        {% endif %}
{% endif %}


{% endblock %}




