{#% macro data_table(scope, years, projectDates, title, subtitle,  ident, selDevSym) %} 
<div class="row text-center " hidden>
    <div class="col list-table cball_table">
        <table id="cost_benefits_data" class='table table-lg table-bordered table-striped table-responsive-lg'>
            <thead class="thead-light text-center sticky-top">
                <tr>
                    <th scope="col" style="min-width: 15vw; max-width: 15vw;"></th>
                    <th scope="col">Total</th>
                    {% for year in years %}
                        <th scope="col" class="year">{{year}}</th>
                    {% endfor %}
                    <th rowspan=1 onclick="show_hide_months()" id="click-cell"><span hidden id="cb_chevron_right" class="oi oi-chevron-right" title="Click to show per-month cost-benefits" aria-hidden="true"></span><span id="cb_chevron_left" class="oi oi-chevron-left" title="Click to hide per-month cost-benefits" aria-hidden="true"></span></th>
                    {% for date in projectDates %}
                        <th scope="col" class="date month-cell">{{date}}</th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
            
                {% for j in 0..title|length-1 %}
                {% set i = 0 %}
                <tr>
                    <td class="item"><strong>{{title[j]|nl2br}}</strong> in {{ selDevSym }} {{subtitle[j]}}</td>
                    <td id="{{ident[j]}}_{{i}}">-</td>
                    {% set i = i + 1 %}
                    {% for year in years %}
                        <td id="{{ident[j]}}_{{ i }}">-</td>
                        {% set i = i + 1 %}
                    {% endfor %}
                    <td  class="item" style="min-width:5vw;" rowspan=1></td>
                    {% for date in projectDates %}
                        <td id="{{ident[j]}}_{{ i }}" class="month-cell">-</td>
                        {% set i = i + 1 %}
                    {% endfor %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
<div class="row text-center">
     <div class="col mt-2 mx-5 list-table cball_table">
        <table id="cball_table" class='table table-lg table-bordered table-striped table-responsive-lg' data-fixed-columns="true" data-fixed-number="4">
            <thead class="thead-light text-center sticky-top">
                <tr>
                    <th scope="col" style="min-width: 15vw; max-width: 15vw;"></th>
                    <th scope="col">Total</th>
                    {% for year in years %}
                        <th scope="col">{{year}}</th>
                    {% endfor %}
                    <th rowspan=1></th>
                    {% for date in projectDates %}
                        <th scope="col">{{date}}</th>
                    {% endfor %}

                </tr>
            </thead>
            <tbody>
            {% for j in 0..title|length-1 %}
             <tr>
                    <td class="item"><strong>{{title[j]|nl2br}}</strong> in {{ selDevSym }} {{subtitle[j]}}</td>
                    {% for measID,list_ucs in scope %}
                        {% for ucID in list_ucs %}
                        <tr>
                            <td class="{{ident[j]}}_{{ ucID }}">{% if ident[j]=="invest" %}{{(data.implem[ucID]['tot'] + data.capex[ucID]['tot'])|number_format(2, '.', '') }}{% else %}{{(data[j][ucID]['tot'])|number_format(2, '.', '') }}{% endif %}</td>
                            {% for year in years %}
                                <td class="{{ident[j]}}_{{ ucID }}">{{(data[j][ucID][year])|number_format(2, '.', '') }}</td>
                            {% endfor %}
                            <td  class="item" style="min-width:5vw;" rowspan=1></td>
                            {% set j = j+1 %}
                            {% for date in projectDates %}
                                <td class="{{ident[j]}}_{{ ucID }}">{{(data[j][ucID][date])|number_format(2, '.', '') }}</td>
                            {% endfor %}
                        </tr>
                    {% endfor %}{% endfor %}
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endmacro %#}

{% macro addArrow(id) %}
<span id="{{id}}_bottom" class="oi oi-chevron-bottom" title="oi-chevron-bottom" aria-hidden="true"></span><span hidden id="{{id}}_left" class="oi oi-chevron-left" title="oi-chevron-left" aria-hidden="true"></span>
{% endmacro %}

{% macro level(l0, l1, l2) %}
{{l0}}.{{l1}}.{{l2}}{% endmacro %}

{% macro table(ligneNames, colNames, selDevSym, classTable = 'table table-lg table-bordered table-striped table-responsive-lg', classThead = "thead-light text-center sticky-top", classTd = "item") %}
{% import "/templates/customer_dashboards/macro_table.twig" as table %}

{% set levelID0 = 0 %}
{% set levelID1 = 0 %}
{% set levelID2 = 0 %}
<div class="row text-center">
     <div class="col mt-2 mx-5 list-table cball_table tableFixHead">
        <table id="cball_table" class="{{classTable}} table table-fixed" data-fixed-columns="true" data-fixed-number="4">
            <thead class="{{classThead}}">
            <tr>
            {% set first = true %}
                {% set jID = -1 %}
                {% for colName in colNames %}
                    <th scope="col" id = "{{jID}}">{{colName|nl2br}}</th>
                    {% set first = false %}
                    {% set jID = jID + 1 %}
                {% endfor %}
                </tr>
            </thead>
            <tbody>
                {% if ligneNames %}
                    {% for i  in 0..ligneNames|length-1 %}
                    {% set level = ligneNames[i][2] %}
                    {% set id = ligneNames[i][1] %}
                    {% if level == 1 %}{% set levelID0 = levelID0 + 1 %}{% set levelID1 = 0 %}{% set levelID2 = 0 %}
                    {% elseif level == 2 %}{% set levelID1 = 1 + levelID1 %}{% set levelID2 = 0 %}
                    {% elseif level == 3 %}{% set levelID2 = 1 + levelID2 %}
                    {% endif %}

                    <tr  id="{{id}}" {{level == 1 ? 'class="font-weight-bold"' }}{{level == 3 ? 'class="font-weight-light"' }}>
                        <td onclick="show_hide_tab('{{id}}')"  class="{{classTd}} text-left pl-{{(level * 2 - 1)}} {{level !=1 ? 'sub_item'}} " >
                            {{level == 2 ? "<h6>" }}
                                <div id="lineName_{{i}}">{{ligneNames[i][0]|nl2br}}</div>  {{i < ligneNames|length and ligneNames[i+1][2] > level ? table.addArrow(id)}}
                            {{level == 2 ? "</h6>" }}
                        </td>
                        <div  id="{{id}}_level" hidden>{{table.level(levelID0, levelID1, levelID2)}}</div>
                        {% for j in 0..colNames|length-2 %}
                            <td id="{{i}}_{{j}}" class ="text-right" >-</td>
                        {% endfor %}
                    </tr>
                    {% endfor %}
                {% endif %}
            </tbody>
        </table>
    </div>
</div>





{% endmacro %}

{% macro simpleTable(iMax, jMax, id, tableClass) %}
    <table id="cball_table" class = {{tableClass}}>
        <tbody>
            {% for i in 0..iMax %}
                <tr>
                    {% for j in 0..jMax %}
                        <td id="{{id}}_{{i}}_{{j}}" class ="text-right" >00</td>
                    {% endfor %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endmacro %}