{% macro key_dates(scope,ucs,keydates_uc,uc_completed) %}
{% import "/templates/traductions.twig" as traduction %}

<h3 class="dash-title">{{traduction.getText("key_dates")}}</h3>
<table id="keyDatesTable" class=" text-center table dashboard-table">
    <tr>
        <th width="30%">{{traduction.getText("uses_cases")}}</th>
        <th width="16%">{{traduction.getText("start_date")}}</th>
        <th width="16%">{{traduction.getText("dashboard_summary_2")}}</th>
        <th width="16%">{{traduction.getText("dashboard_summary_3")}}</th>
        <th width="22%"></th>
    </tr>
    {% for measID,list_ucs in scope %}
        {% for ucID in list_ucs %}
            <tr hidden>
                <td class="uc" id="uc_{{ ucID }}" width="30%">{{ ucs[ucID]['name'] }}</td>
                <td id="start_{{ ucID }}" width="17.5%">{{keydates_uc[ucID]['startdate']}}  </td>
                <td id="imp_{{ ucID }}" width="17.5%">{{keydates_uc[ucID]['implem_enddate']}}  </td>
                <td id="end_{{ ucID }}" width="17.5%">{{ keydates_uc[ucID]['enddate'] }}  </td>
                <td width="17.5%">{{ keydates_uc[ucID]['project_duration'] }} {{traduction.getText("months_short")}}</td>
            </tr>
    {% endfor %}{% endfor %}
</table>


    <div class="container">
        
            {% for measID,list_ucs in scope %}
                {% for ucID in list_ucs %}
                {% if uc_completed[ucID] == true %}
                    <div class="arrows">
                            <div class="arrow ucnamearrow">
                            <span>{{ ucs[ucID]['name'] }}</span>
                        </div>
                        <div id="step1_{{ ucID }}" class="arrow step1">
                            <span>{{keydates_uc[ucID]['startdate']}}</span>
                        </div>
                        <div id="step2_{{ ucID }}" class="arrow step2">
                            <span>{{keydates_uc[ucID]['implem_enddate']}}</span>
                        </div>
                        <div id="step3_{{ ucID }}" class="arrow step3">
                            <span>{{ keydates_uc[ucID]['enddate'] }}</span>
                        </div>
                        <div class="arrow duration">
                            <span>&nbsp;{{ keydates_uc[ucID]['project_duration'] }} {{traduction.getText("months_short")}}</span>
                        </div> 
                    </div>
                {% else %}
                    <div class="arrows">
                            <div class="arrow ucnamearrow">
                            <span>{{ ucs[ucID]['name'] }}</span>
                        </div>
                        <div id="step1_{{ ucID }}" class="arrow step1">
                            <span>NA</span>
                        </div>
                        <div id="step2_{{ ucID }}" class="arrow step2">
                            <span>NA</span>
                        </div>
                        <div id="step3_{{ ucID }}" class="arrow step3">
                            <span>NA</span>
                        </div>
                        <div class="arrow duration">
                            <span>NA</span>
                        </div> 
                    </div>
                {% endif %}

            {% endfor %}{% endfor %}
       
    </div>

{% endmacro %}

{% macro costbenefits(years, cumulnetcashTot, cumulnetsoccashTot) %}
{% import "/templates/traductions.twig" as traduction %}

            <h3 class="dash-title">{{traduction.getText("cumulated_net_cash")}}</h3>
                <div hidden>
                    <table>
                        <tr>
                            <td>{{traduction.getText("year")}}</td>
                            <td class="cbLabel">{{traduction.getText("cumulated_net_cash")}}</td>
                            {% if cumulnetsoccashTot|length > 0 %}
                                <td class="cbLabel">{{traduction.getText("cumulated_net_societal_cash")}}</td>
                            {% endif %}
                        </tr>
                        {% for year in years %}
                        <tr>
                            <td class="yearCB">{{ year }}</td>
                            <td class="CNC">{{ (cumulnetcashTot[year])|number_format(2, '.', '') }}</td>
                            {% if cumulnetsoccashTot|length > 0 %}
                                <td class="CNSC">{{ (cumulnetsoccashTot[year])|number_format(2, '.', '') }}</td>
                            {% endif %}
                        {% endfor %}
                    </table>
                </div>
                <canvas id="costbenefitsGraph"></canvas>

{% endmacro %}


{% macro project_score(title, sideBarName) %}

<table id="project_score_table" class="table">

    <thead>
        <th></th>
        <th>{{traduction.getText("project")}}</th>
        <th>{{traduction.getText("target")}}</th>
        {% if sideBarName == "supplier_dashboards" %}
        <th>{{traduction.getText("bankability")}}</th>
        {% endif %}
    </thead>

    <tbody>
    {% for line in title %}
        <tr>
            <th>{{line[0]}}</th>
            <td id="current_{{line[1]}}"> - </td>
            <td id="display_{{line[1]}}"> - </td>
        {% if sideBarName == "supplier_dashboards" %}
            <td>
                <span hidden id="fin_{{line[1]}}_thumb-up" class="oi oi-thumb-up" title="thumb-up" aria-hidden="true"></span>
                <span hidden id="fin_{{line[1]}}_thumb-down" class="oi oi-thumb-down" title="thumb-down" aria-hidden="true"></span>
            </td>
        {% endif %}
            {#% if sideBarName == "customer_dashboards" %}
            <td>
                <span hidden id="soc_{{line[1]}}_thumb-up" class="oi oi-thumb-up" title="thumb-up" aria-hidden="true"></span>
                <span hidden id="soc_{{line[1]}}_thumb-down" class="oi oi-thumb-down" title="thumb-down" aria-hidden="true"></span>
            </td>
            {% endif %#}

        </tr>
    {% endfor %}
    </tbody>

</table>

{% endmacro %}