

{% macro UC_selection(scope,ucs, seletedUC, sideBarName,measures, list_cat) %}
    <form action="?A={{sideBarName}}&amp;A2=summary&amp;A3=save_uc_confirm" method="post">
        <table id="uc_selection_table" class="table table-lg table-bordered table-striped table-responsive-lg">
            <thead class="thead-dark text-center sticky-top">
                <th></th>
                <th>Domain</th>
                <th>Solution</th>
                <th>Context</th>
            </thead>
            <tbody>
                {% for measID,list_ucs in scope %}
                    {% for ucID in list_ucs %}
                        <tr>
                            <td><input type = "checkbox" {{seletedUC[measID ~ "_" ~ ucID] ? "checked"}} name="{{measID ~ "_" ~ ucID}}"></td>
                            <td scope="col">{{measures[measID]['name']}}</td>
                            <td scope="col">{{ list_cat[ucs[ucID]['id_cat']]["name"] }}</td>
                            <td scope="col">{{ucs[ucID]['name']}}</td>
                        </tr>
                    {% endfor %}
                {% endfor %}
            </tbody>
        </table>
        <div class = "text-center">
            <button type="submit" class="btn btn-outline-dark m-3">
                Save
            </button>
        </div>
    </form>
{% endmacro %}


{% macro key_dates(scope,ucs,keydates_uc,uc_completed, propKeyDates) %}
{% import "/templates/traductions.twig" as traduction %}
<h3 class="dash-title">{{traduction.getText("key_dates")}}</h3>
<table id="keyDatesTable" class=" text-center table dashboard-table">
    <tr>
        <th width="30%">{{traduction.getText("use_cases")}}</th>
        <th width="16%">{{traduction.getText("schedule")}}</th>
        <th width="22%">{{traduction.getText("duration")}}</th>
    </tr>
    {% for measID,list_ucs in scope %}
        {% for ucID in list_ucs %}
            <tr hidden>
                <td class="uc" id="uc_{{ ucID }}" width="30%">{{ ucs[ucID]['name'] }}</td>
                <td id="start_{{ ucID }}" width="17.5%">{{keydates_uc[ucID]['startdate']}}  </td>
                <td id="imp_{{ ucID }}" width="17.5%">{{keydates_uc[ucID]['implem_enddate']}}  </td>
                <td id="end_{{ ucID }}" width="17.5%">{{ keydates_uc[ucID]['enddate'] }}  </td>
                <td width="17.5%">{{ keydates_uc[ucID]['project_duration'] }} {{traduction.getText("months_short")}}</td>
            </tr>
        {% endfor %}
    {% endfor %}
        
    {% for measID,list_ucs in scope %}
        {% for ucID in list_ucs %}
            {% if uc_completed[ucID] == true %}
                {% set w2 = propKeyDates[ucID]['runProp']/2 %}
                <tr>
                    <td>
                        <span>{{ ucs[ucID]['name'] }}</span>
                    </td>
                    <td style="width: 75%">
                        <div id="dates_projet" class = "progress dash-bg-light" margin="0">
                        {% if ucID == -1 %}
                            <div id="project-start" style="width: {{propKeyDates[ucID]['deploymentProp']}}%" class="text-left">
                                <span class="oi oi-caret-bottom"></span>{{propKeyDates[ucID]['project_start']}}
                            </div>
                            <div id="project-end" style="width: {{w2}}%;"  class="text-left">
                                <span class="oi oi-caret-bottom"></span>{{propKeyDates[ucID]['dep_end']}}
                            </div>
                            <div id="project-end"  style="width: {{w2}}%;"  class="text-right">
                                {{propKeyDates[ucID]['projEnd']}}<span class="oi oi-caret-bottom"></span>
                            </div>
                        {% else %}
                            <div style="width: {{propKeyDates[ucID]['lagProp']}}%" class="text-right">
                                {{propKeyDates[ucID]['lag_end']}}<span class="oi oi-caret-bottom"></span>
                            </div>
                            <div style="width: {{propKeyDates[ucID]['deploymentProp']}}%;">
                            </div>
                            <div style="width: {{w2}}%;" class="text-left">
                                <span class="oi oi-caret-bottom"></span>{{propKeyDates[ucID]['dep_end']}}
                            </div>
                            <div style="width: {{w2}}%;" class="text-right">
                                {{propKeyDates[ucID]['uc_end']}}<span class="oi oi-caret-bottom"></span>
                            </div>

                        {% endif %}
                        </div>

                        <div class="progress">
                            <div id="proj_1_bar" class="progress-bar progress-bar-nothing progress-bar-striped progress-bar-animated" style="width: {{propKeyDates[ucID]['lagProp']}}%"></div>		
                            <div id="proj_2_bar" class="progress-bar progress-bar-operations-1 progress-bar-striped progress-bar-animated" style="width: {{propKeyDates[ucID]['deploymentProp']}}%">Deployment</div>
                            <div id="proj_3_bar" class="progress-bar progress-bar-main progress-bar-striped active progress-bar-animated" role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: {{propKeyDates[ucID]['runProp']}}%;">Run</div>
                            <div id="proj_1_bar" class="progress-bar progress-bar-nothing progress-bar-striped progress-bar-animated" style="width: {{propKeyDates[ucID]['lag2Porp']}}%"></div>
                        </div>
                    </td>
                    <td class = "justify-content-center">
                        <span>&nbsp;{{ keydates_uc[ucID]['project_duration'] }} {{traduction.getText("months_short")}}</span>

                    </td>
                </tr>

            {% endif %}

    {% endfor %}
{% endfor %}
       
</table>


{% endmacro %}

{% macro costbenefits(years, cumulnetcashTot, cumulnetsoccashTot) %}
{% import "/templates/traductions.twig" as traduction %}

            <h3 class="dash-title">{{traduction.getText("cumulated_net_cash")}}</h3>
                <div hidden>
                    <table>
                        <tr>
                            <td>{{traduction.getText("year")}}</td>
                            <td class="cbLabel">{{traduction.getText("cumulated_net_cash")}}</td>
                            {% if cumulnetsoccashTot|length > 0 %}
                                <td class="cbLabel">{{traduction.getText("cumulated_net_societal_cash")}}</td>
                            {% endif %}
                        </tr>
                        {% for year in years %}
                        <tr>
                            <td class="yearCB">{{ year }}</td>
                            <td class="CNC">{{ (cumulnetcashTot[year])|number_format(2, '.', '') }}</td>
                            {% if cumulnetsoccashTot|length > 0 %}
                                <td class="CNSC">{{ (cumulnetsoccashTot[year])|number_format(2, '.', '') }}</td>
                            {% endif %}
                        {% endfor %}
                    </table>
                </div>
                <canvas id="costbenefitsGraph"></canvas>

{% endmacro %}


{% macro project_score(title, sideBarName,checked = "yes") %}
{% import "/templates/traductions.twig" as traduction %}

<table id="project_score_table" class="table table-lg table-bordered table-striped table-responsive-lg">

    <thead class="thead-dark text-center sticky-top">
        <th>KPI</th>
        <th>{{traduction.getText("project")}}</th>
        {% if sideBarName == "supplier_dashboards" %}
        <th>{{traduction.getText("target")}}Target</th>
        <th>{{traduction.getText("bankability")}}</th>
        {% endif %}
    </thead>

    <tbody>
    {% set checkList = checked|split('-') %}
    {% for line in title %}

        {% if checked == "yes" or (line[1]=='operatingMargin' and ("operating_margin_check" in checkList)) or (line[1]=='payback' and ("payback_check" in checkList)) or (line[1]=='npv' and ("npv_check" in checkList)) or (line[1]=='roi' and ("roi_check" in checkList)) %}
            <tr>
                <th>{{line[0]}}</th>
                <td id="current_{{line[1]}}"> - </td>
            {% if sideBarName == "supplier_dashboards" %}
                <td id="display_{{line[1]}}"> - </td>
                <td>
                    <span hidden id="fin_{{line[1]}}_thumb-up" class="oi oi-thumb-up" title="thumb-up" aria-hidden="true"></span>
                    <span hidden id="fin_{{line[1]}}_thumb-down" class="oi oi-thumb-down" title="thumb-down" aria-hidden="true"></span>
                </td>
            {% endif %}

            </tr>
        {% endif %}
    {% endfor %}
    </tbody>

</table>

{% endmacro %}