{% extends '/templates/common_page.twig' %}

{% import "/templates/navbar.twig" as navbar %}
{% block navbar %}
	{{ navbar.navbar(is_connected,is_admin,devises) }}
{% endblock %}

{% import "/templates/sidebar.twig" as sidebar %}
{% import "/templates/second_bar.twig" as second_bar %}
{% import "/templates/customer_bc/macro_xpex.twig" as list %}
{% import "/templates/customer_bc/modal_xpex.twig" as modal %}

{% block sidebar %}
	{{ sidebar.sidebar("input_use_case_supplier", projID, ucID) }}
{% endblock %}
{% block title %}Operating revenue{% endblock %}

{% block content %}

	{% if projID==0 %}
		{{ second_bar.second_bar(username,is_admin,selDevName,selDevSym,part,"None") }}
		{{ redirect.choose_ucm() }}

	{% else %}
		{{ second_bar.second_bar(username,is_admin,selDevName,selDevSym,part,selected) }}

		<div class="row jumbotron text-light mx-5 bg-dark p-3" style="margin-top: 2rem;">
			<div class="col text-center">
				<p class="text-justify">Lorem ipsum dolor sit amettt, consectetur adipiscing elit. Duis sit amet varius neque, eget facilisis urna. Nunc sit amet libero varius erat interdum tempus. Morbi elit diam, malesuada vel iaculis at, fermentum sed metus. Quisque finibus urna et lorem varius aliquam. Aliquam molestie massa non lorem tincidunt aliquam. Fusce ullamcorper euismod arcu eu laoreet. Sed nec faucibus sem.
				</p>
			</div>
		</div>

		{#  CONTENU #}
		<form id="equipment_revenue" name="equipment_revenue" action="?A=input_use_case_supplier&amp;A2=project_selection" method="post">
			<h3 class="text-center mt-5 mb-3 text-uppercase">Suggested Operating Revenues Items</h3>
			<div class="row text-center">
				<div class="col mx-5 mb-5 list-table">
					<table class='table table-lg table-bordered table-striped table-responsive-lg'>
						<thead class="thead-dark text-center sticky-top">
							<tr>
								<th scope="col"></th>
								<th scope="col">Name</th>
								<th scope="col">Description</th>
							</tr>
						</thead>
					</table>
				</div>
			</div>
			<h3 class="text-center mt-5 mb-3 text-uppercase">Custom Suggested Operating Revenues Items</h3>
			<div class="row text-center">
				<div class="col mx-5 mb-5 list-table">
					<table class='table table-lg table-bordered table-striped table-responsive-lg'>
						<thead class="thead-dark text-center sticky-top">
							<tr>
								<th scope="col"></th>
								<th scope="col">Name</th>
								<th scope="col">Description</th>
							</tr>
						</thead>
					</table>
				</div>
			</div>
		</form>


		{#  FIN DU CONTENU #}

		<div class="row m-3 text-center text-dark">
			<button class="btn btn-link offset-5 col-2 oi oi-arrow-circle-right next-button" title="arrow-circle-right" style="font-size:50px;" aria-hidden="true" onclick="submitForm('equipment_revenue');"></button>
		</div>
	{% endif %}
{% endblock %}

{% block scripts %}
	<script type="text/javascript" src="../../public/assets/js/custom/supplier_bc/proj-schedule-chart.js"></script>
	<script type="text/javascript" src="../../public/assets/js/custom/supplier_bc/sidebar-supplier-iuc.js"></script>
	<script type="text/javascript" src="../../public/assets/js/custom/supplier_bc/common-schedule.js"></script>
	<script>
		déverouiller_sidebar();
	</script>
{% endblock %}
