{% extends '/templates/common_page.twig' %}

{% import "/templates/navbar.twig" as navbar %}
{% block navbar %}
	{{ navbar.navbar(is_connected,is_admin,devises) }}
{% endblock %}

{% import "/templates/sidebar.twig" as sidebar %}
{% import "/templates/second_bar.twig" as second_bar %}

{% block sidebar %}
	{{ sidebar.sidebar("input_use_case_supplier", projID, ucID) }}
{% endblock %}
{% block title %}Project schedule
{% endblock %}

{% block content %}

	{% if projID==0 %}
		{{ second_bar.second_bar(username,is_admin,selDevName,selDevSym,part,"None") }}
		{{ redirect.choose_ucm() }}

	{% else %}
		{{ second_bar.second_bar(username,is_admin,selDevName,selDevSym,part,selected) }}

		<div class="row jumbotron text-light mx-5 bg-dark p-3" style="margin-top: 2rem;">
			<div class="col text-center">
				<p class="text-justify">Lorem ipsum dolor sit amettt, consectetur adipiscing elit. Duis sit amet varius neque, eget facilisis urna. Nunc sit amet libero varius erat interdum tempus. Morbi elit diam, malesuada vel iaculis at, fermentum sed metus. Quisque finibus urna et lorem varius aliquam. Aliquam molestie massa non lorem tincidunt aliquam. Fusce ullamcorper euismod arcu eu laoreet. Sed nec faucibus sem.
				</p>
			</div>
		</div>

		{#  CONTENU #}
		<div class="text-center alert alert-warning alert-dismissible fade" role="alert">
			<strong>Some fields are missing.</strong>
			<button type="button" class="close" data-dismiss="alert" aria-label="Close">
				<span aria-hidden="true">&times;</span>
			</button>
		</div>
		<form id="supplier_schedule" name="supplier_schedule" action="?A=input_use_case_supplier&amp;A2=schedule&amp;A3=save&amp;projID={{projID}}&amp;ucID={{ucID}}" method="post">
			<div id="dates_projet">
				<p id="project-start">
					<span class="oi oi-caret-bottom"></span>{{ project_start }}
				</p>
				<p id="project-end" style="float: right;">{{ project_end }}
					<span class="oi oi-caret-bottom"></span>
				</p>
			</div>
			<div class="progress">
				<div class="progress-bar progress-bar-main progress-bar-striped active progress-bar-animated" role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: 100%;">
					Project
				</div>
			</div>
			<div class="form-group">
				<button id="ucop" class="btn btn-dark d-block mx-auto mb-1 mt-4" type="button" data-toggle="collapse" data-target="#collapse_uc_operations" aria-expanded="false" aria-controls="collapseExample">
					UC Operations Schedule
					<span class="oi oi-pencil"></span>
				</button>
				<div id="collapse_uc_operations" class="row collapse mb-2">
					<div class="col justify-content-center text-center">
						<label>Deployment > Production</label>
						<input name="deploy_prod" value="{{ schedule_dates[0]['deploy_prod'] }}" type="date" class="w-25 form-control" style="margin: auto;" id="ucop_2" oninput="update_chart(event.target)">
					</div>
				</div>
				<div class="progress">
					<div id="ucop_1_bar" class="progress-bar progress-bar-operations-1 progress-bar-striped progress-bar-animated" style="width: 20%">Deployment
					</div>
					<div id="ucop_2_bar" class="progress-bar progress-bar-remaining progress-bar-striped progress-bar-animated" style="width: 80%">Production
					</div>
				</div>
				<button id="ucpri" class="btn btn-dark d-block mx-auto mb-1 mt-4" type="button" data-toggle="collapse" data-target="#collapse_uc_pricing" aria-expanded="false" aria-controls="collapseExample">
					UC Pricing Schedule
					<span class="oi oi-pencil"></span>
				</button>
				<div id="collapse_uc_pricing" class="row collapse mb-2">
					<div class="col">
						<label>POC Start</label>
						<input value="{{ schedule_dates[0]['poc_start'] }}" name="poc_start" type="date" class="start-date form-control" id="ucpri_2" oninput="update_chart(event.target)">
					</div>
					<div class="col">
						<label>POC > Run</label>
						<input value="{{ schedule_dates[0]['poc_run'] }}" name="poc_run" type="date" class="form-control" id="ucpri_3" oninput="update_chart(event.target)">
					</div>
				</div>
				<div class="progress">
					<div id="ucpri_1_bar" class="progress-bar progress-bar-nothing progress-bar-striped progress-bar-animated" style="width: 20%">...
					</div>
					<div id="ucpri_2_bar" class="progress-bar progress-bar-pricing-1 progress-bar-striped progress-bar-animated" style="width: 40%">POC
					</div>
					<div id="ucpri_3_bar" class="progress-bar progress-bar-remaining progress-bar-striped progress-bar-animated" style="width: 40%">Run
					</div>
				</div>
				<button id="ucrev" class="btn btn-dark d-block mx-auto mb-1 mt-4" type="button" data-toggle="collapse" data-target="#collapse_uc_revenue" aria-expanded="false" aria-controls="collapseExample">
					UC Revenues Schedule
					<span class="oi oi-pencil"></span>
				</button>
				<div id="collapse_uc_revenue" class="row collapse mb-2">
					<div class="col">
						<label>Lag Start</label>
						<input value="{{ schedule_dates[0]['lag_start'] }}" name="lag_start" type="date" class="start-date form-control" id="ucrev_2" oninput="update_chart(event.target)">
					</div>
					<div class="col">
						<label>Lag > Ramp-up</label>
						<input value="{{ schedule_dates[0]['lag_ramp'] }}" name="lag_ramp" type="date" class="form-control" id="ucrev_3" oninput="update_chart(event.target)">
					</div>
					<div class="col">
						<label>Ramp-up > Run</label>
						<input value="{{ schedule_dates[0]['ramp_run'] }}" name="ramp_run" type="date" class="form-control" id="ucrev_4" oninput="update_chart(event.target)">
					</div>
				</div>
				<div class="progress">
					<div id="ucrev_1_bar" class="progress-bar progress-bar-nothing progress-bar-striped progress-bar-animated" style="width: 20%">...
					</div>
					<div id="ucrev_2_bar" class="progress-bar progress-bar-revenues-1 progress-bar-striped progress-bar-animated" style="width: 25%">Lag
					</div>
					<div id="ucrev_3_bar" class="progress-bar progress-bar-revenues-2 progress-bar-striped progress-bar-animated" style="width: 25%">Ramp-up
					</div>
					<div id="ucrev_4_bar" class="progress-bar progress-bar-remaining progress-bar-striped progress-bar-animated" style="width: 30%">Run
					</div>
				</div>
			</div>
		</form>
		{#  FIN DU CONTENU #}

		<div class="row m-3 text-center text-dark">
			<button class="btn btn-link offset-5 col-2 oi oi-arrow-circle-right next-button" title="arrow-circle-right" style="font-size:50px;" aria-hidden="true" onclick="check_form();"></button>
		</div>
	{% endif %}
{% endblock %}

{% block scripts %}
	<script type="text/javascript" src="../../public/assets/js/custom/supplier_bc/common-schedule.js"></script>
	<script type="text/javascript" src="../../public/assets/js/custom/supplier_bc/proj-schedule-chart.js"></script>
	<script type="text/javascript" src="../../public/assets/js/custom/supplier_bc/sidebar-supplier-iuc.js"></script>
	<script>
		déverouiller_sidebar();
		update_all_chart();
	</script>
{% endblock %}
