{% extends '/templates/common_page.twig' %}

{% import "/templates/navbar.twig" as navbar %}
{% import "/templates/traductions.twig" as traduction %}
{% block navbar %}
	{{ navbar.navbar(is_connected,is_admin,devises) }}
{% endblock %}

{% import "/templates/sidebar.twig" as sidebar %}
{% import "/templates/second_bar.twig" as second_bar %}

{% block sidebar %}
	{{ sidebar.sidebar("input_use_case_supplier", projID, ucID) }}
{% endblock %}
{% block title %}Project schedule
{% endblock %}

{% block content %}

	{% if projID==0 %}
		{{ second_bar.second_bar(username,is_admin,selDevName,selDevSym,part,"None") }}
		{{ redirect.choose_ucm() }}

	{% else %}
		{{ second_bar.second_bar(username,is_admin,selDevName,selDevSym,part,selected,part2,selected2) }}
		<div class="row jumbotron text-light mx-5 bg-dark p-3" style="margin-top: 2rem;">
			<div class="col text-center">
				<p class="text-justify"> {{traduction.getText("project_schedule_lorem")}}
				</p>
			</div>
		</div>

		{#  CONTENU #}
		<div id="date-start" hidden>{{ project_start }}</div>
		<div id="date-end" hidden>{{ project_end }}</div>	
				<input hidden value="{{ project_dep_start }}" type="date" class="form-control" style="margin: auto;" id="project_dep_start" oninput="update_chart(event.target)">
				<input hidden value="{{ project_dep_end }}" type="date" class="form-control" style="margin: auto;" id="project_dep_end" oninput="update_chart(event.target)">
				
		<div id="alerts_container">
		</div>
		<form id="supplier_schedule" name="supplier_schedule" action="?A=input_use_case_supplier&amp;A2=schedule&amp;A3=save&amp;projID={{projID}}&amp;ucID={{ucID}}" method="post">
			<div class="form-group row">
				<div class="col-5  border-right">
					<div class = "row">
						<button id="ucop" class="btn btn-dark d-block mx-auto mb-1 mt-4" type="button" data-toggle="collapse" data-target="#collapse_uc_operations" aria-expanded="false" aria-controls="collapseExample">
							UC Operations Schedule
							<span class="oi oi-pencil"></span>
						</button>
						<div id="collapse_uc_operations" class="row collapse mb-2">
							<div class="col justify-content-center text-center ml-3">
								<div class="input-group input-group-sm mb-3 mt-3">
									<div class="input-group-prepend">
										<span class="input-group-text" id="inputGroup-sizing-sm">{{traduction.getText("deployment_start")}}</span>
									</div>
									<input name="deploy_start" value="{{ schedule_dates['deploy_start'] }}" type="month" class="form-control" style="margin: auto;" id="ucop_deploy_start" oninput="update_chart(event.target)" required>
								</div>

								<div class="input-group input-group-sm mb-3">
									<div class="input-group-prepend">
										<span class="input-group-text" id="inputGroup-sizing-sm">{{traduction.getText("deployment_duration")}} ({{traduction.getText("months")}})</span>
									</div>
									<input class="form-control" type="number" min=0 id="ucop_deployment_duration" name="deployment_duration" placeholder="6" value="{{ schedule_dates['deployment_duration'] }}" oninput="update_chart(event.target)"  required>
								</div>

								<div class="input-group input-group-sm mb-3">
									<div class="input-group-prepend">
										<span class="input-group-text" id="inputGroup-sizing-sm">UC End</span>
									</div>
									<input name="uc_end" value="{{ schedule_dates['uc_end'] }}" type="month" class="form-control" style="margin: auto;" id="ucop_uc_end" oninput="update_chart(event.target)" required>
								</div>

								<div class="input-group input-group-sm mb-3">
									<div class="input-group-prepend">
										<span class="input-group-text" id="inputGroup-sizing-sm">Deployment End</span>
									</div>
									<input type="month" class="form-control" style="margin: auto;" id="deploy_end" disabled>
								</div>
							</div>
						</div>
					</div>


					<div class = "row">
						<button id="ucpri" class="btn btn-dark d-block mx-auto mb-1 mt-4" type="button" data-toggle="collapse" data-target="#collapse_uc_pricing" aria-expanded="false" aria-controls="collapseExample">
							UC Pricing Schedule
							<span class="oi oi-pencil"></span>
						</button>
						<div id="collapse_uc_pricing" class="row collapse mb-2">
							<div class="col justify-content-center text-center ml-3">
								<div class="input-group input-group-sm mb-3 mt-3">
									<div class="input-group-prepend">
										<span class="input-group-text" id="inputGroup-sizing-sm">Start of pricing</span>
									</div>
									<input name="pricing_start" value="{{ schedule_dates['pricing_start'] }}" type="month" class="form-control" style="margin: auto;" id="ucpri_pricing_start" oninput="update_chart(event.target)" required>
								</div>

								<div class="input-group input-group-sm mb-3">
									<div class="input-group-prepend">
										<span class="input-group-text" id="inputGroup-sizing-sm">POC duration (in months)</span>
									</div>
									<input class="form-control" type="number" min="0" step ="1" id="ucpri_poc_duration" name="poc_duration" placeholder="6" value="{{ schedule_dates['poc_duration'] }}" oninput="update_chart(event.target)"  required>
								</div>

								<div class="input-group input-group-sm mb-3">
									<div class="input-group-prepend">
										<span class="input-group-text" id="inputGroup-sizing-sm">POC End</span>
									</div>
									<input type="month" class="form-control" style="margin: auto;" id="poc_end" disabled>
								</div>

							</div>
						</div>
					</div>
					
				</div>
				<div class = "col  align-self-center dash-bg container-fluid m-1 ml-2 p-4">
					<div class = "row-md-auto dash-bg-light container-fluid p-3 ">
						<div class="row justify-content-md-center">
							<h3 class=" justify-content-md-center"><span class="badge badge-secondary">UC Project Schedulde</span></h3>
						</div>
						
						<div id="dates_projet">
							<p id="project-start">
								<span class="oi oi-caret-bottom"></span>{{ project_start }}
							</p>
							<p id="project-end" style="float: right;">{{ project_end }}
								<span class="oi oi-caret-bottom"></span>
							</p>
						</div>
						<div class="progress">	
							
							<div id="proj_1_bar" class="progress-bar progress-bar-nothing progress-bar-striped progress-bar-animated" style="width: 20%">...	</div>		
							<div id="proj_2_bar" class="progress-bar progress-bar-operations-1 progress-bar-striped progress-bar-animated" style="width: 20%">Deployment</div>
							<div id="proj_3_bar" class="progress-bar progress-bar-main progress-bar-striped active progress-bar-animated" role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">Project</div>
						</div>
					</div>
					<div class = "row-md-auto dash-bg-light container-fluid p-3 mt-4">
						<div class="row justify-content-md-center">
							<h3 class=" justify-content-md-center"><span class="badge badge-secondary">UC Operating Schedulde</span></h3>
						</div>
						<div class="progress">
							<div id="ucop_1_bar" class="progress-bar progress-bar-nothing progress-bar-striped progress-bar-animated" style="width: 20%">...
							</div>
							<div id="ucop_2_bar" class="progress-bar progress-bar-operations-1 progress-bar-striped progress-bar-animated" style="width: 20%">Deployment
							</div>
							<div id="ucop_3_bar" class="progress-bar progress-bar-remaining progress-bar-striped progress-bar-animated" style="width: 60%">Production
							</div>
							<div id="ucop_4_bar" class="progress-bar progress-bar-nothing progress-bar-striped progress-bar-animated" style="width: 00%">...
							</div>
						</div>
					</div>
					<div class = "row-md-auto dash-bg-light container-fluid p-3 mt-4">
						<div class="row justify-content-md-center">
							<h3 class=" justify-content-md-center"><span class="badge badge-secondary">UC Pricing Schedulde</span></h3>
						</div>
						<div class="progress">
							<div id="ucpri_1_bar" class="progress-bar progress-bar-nothing progress-bar-striped progress-bar-animated" style="width: 20%">...
							</div>
							<div id="ucpri_2_bar" class="progress-bar progress-bar-pricing-1 progress-bar-striped progress-bar-animated" style="width: 40%">POC
							</div>
							<div id="ucpri_3_bar" class="progress-bar progress-bar-remaining progress-bar-striped progress-bar-animated" style="width: 40%">Run
							</div>
							<div id="ucpri_4_bar" class="progress-bar progress-bar-nothing progress-bar-striped progress-bar-animated" style="width: 20%">...
							</div>
						</div>
					</div>
				</div>
			</div>
		</form>
		{#  FIN DU CONTENU #}

		<div class="row m-3 text-center text-dark">
			<button class="btn btn-link offset-5 col-2 oi oi-arrow-circle-right next-button" title="arrow-circle-right" style="font-size:50px;" aria-hidden="true" onclick="check_form();"></button>
		</div>

	{% endif %}


{% endblock %}

{% block scripts %}
	<script type="text/javascript" src="../../public/assets/js/custom/supplier_bc/common-schedule.js"></script>
	<script type="text/javascript" src="../../public/assets/js/custom/supplier_bc/proj-schedule-chart.js"></script>
	<script type="text/javascript" src="../../public/assets/js/custom/supplier_bc/sidebar-supplier-iuc.js"></script>
	<script type="text/javascript" src="../../public/assets/js/custom/supplier_bc/uc_schedule_verif.js"></script>
	<script type="text/javascript" src="../../public/assets/js/custom/supplier_bc/alertCreator.js"></script>
	<script>
		déverouiller_sidebar();
		update_all_chart();
	</script>
{% endblock %}
