{% macro list_criteria(criteria,cat,isTaken = false) %}
{% import "/templates/admin/modal_criteria.twig" as modal %}

<div class="row text-center">
    <h6 id="createCritHelp" class="col text-danger font-italic">{{ isTaken ? "name already taken" : "" }}</h6>
</div>
<div class="row mt-2 mx-5 mb-5 text-center">
    <div class="offset-1 col-10">
        <table class='table table-bordered table-striped table-responsive-lg'>
            <thead class="thead-dark text-center sticky-top">
                <tr>
                    <th scope="col" style="width: 10%;">id</th>
                    <th scope="col" style="width: 20%;">Name</th>
                    <th scope="col" style="width: 25%;">Description</th>
                    <th scope="col" style="width: 35%;">Rating Guidance</th>
                    <th scope="col" style="width: 10%;"></th>
                </tr>
            </thead>
            <tbody>
                {% for cat_item in cat %}
                    {% set test = false %}
                    {% for crit in criteria if crit['id_cat']==cat_item['id'] and test == false %}
                        {% set test = true %}
                    {% endfor %}
                    {% if test %}
                    <tr class="UC_cat">
                        <th colspan=5>{{cat_item['name']}}</th>
                    </tr>
                    {% endif %}
                    {% for crit in criteria if crit['id_cat']==cat_item['id'] %}
                        <tr id = "crit_{{ crit['id'] }}" scope="row">
                            <td class="check-col">{{ crit['id'] }}</td>
                            <td>{{ crit['name'] }}</td>
                            <td>{{ crit['description'] }}</td>
                            <td class="text-justify">{# <a class="myPopover text-info font-italic"
                                tabindex="0" 
                                data-toggle="popover" 
                                data-placement="right"
                                title="{{crit['name']}}"
                                data-trigger="focus"
                                data-html=true
                                role = "button"
                                data-content="<img class='img_guid' src='/public/img/Guidance/Rating/criteria{{crit['id']}}.png'/>">Rating Guidance</a> #}
                                <pre style="white-space: pre-wrap;font-family: inherit;">{{crit['scoring_guidance']}}</pre>
                            </td>
                            <td>
                                <a href="#"><span class="oi oi-trash text-dark" title="trash" aria-hidden="true" data-toggle="modal" data-target="#askDeleteCrit_{{ crit['id'] }}"></span></a>
                            </td>
                            {{ modal.delete_crit(crit['id'],crit['name']) }}
                        </tr>
                    {% endfor %}
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endmacro %}