{% macro list_ucs(selScope,ucs,measures, scheduleMode) %}

<div class="row text-center">
    <div class="col mx-5 list-table">
        <table class='table table-bordered table-striped table-responsive-lg'>
            <thead class="thead-dark text-center sticky-top">
                <tr>
                    <th scope="col"></th>
                    <th scope="col">Name</th>
                    <th scope="col">Description</th>
                    <th scope="col">Measure</th>
                    {% if scheduleMode %}
                    <th scope="col">Schedule</th>
                    {% endif %}
                </tr>
                
            </thead>
            <tbody>
            {% for meas,list_ucs in selScope %}
                {% for uc in list_ucs %}
                <tr id = "tr_{{ uc }}" scope="row">
                    <td scope="col" class="check-col"><input type="radio" id='radio_uc' name="radio_uc" value="{{ uc }}" {{list_ucs|length == 1 ? "checked" : ""}} {% if scheduleMode and not ucs[uc]["hasSchedule"] %}disabled {% endif %}required></td>
                    <td scope="col">{{ ucs[uc]['name'] }}</td>
                    <td scope="col">{{ ucs[uc]['description'] }}</td>
                    <td scope="col">{{measures[meas]['name']}}</td>
                    {% if scheduleMode %}
                        <td scope="col"><img width=20 height=20 src="../../../public/img/{{ ucs[uc]["hasSchedule"] ? "full_circle" : "empty_circle" }}.png"/></td>
                    {% endif %}
                </tr>                    
                {% endfor %}
                {% if meas != selScope|keys|last %}
                <tr><td colspan=4></td></tr>
                {% endif %}
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endmacro %}