{% macro list_projects(projects, scopeMode, deleteMode, veriScopefMode, costBenefitsMode, verifCostBenefits) %}
{% import "/templates/general/modals_proj.twig" as modal %}

<div class="row text-center">
    <div class="col mx-5 list-table">
        <table class='table text-center table-striped table-responsive-lg'>
            <thead class="thead-dark text-center sticky-top">
                <tr>
                    <th scope="col"></th>
                    <th scope="col">Name</th>
                    <th scope="col">Description</th>
                    <th scope="col">Modification Date</th>
                    <th scope="col">Creation Date</th>
                    {% if scopeMode %}<th scope="col">Project Scoping</th> {% endif %}
                    {% if costBenefitsMode %}<th scope="col">Costs Benefits</th> {% endif %}
                    {% if deleteMode %}<th scope="col"></th>{% endif %}

                </tr>
            </thead>
            <tbody>
            {% for proj in projects %}
                <tr id = "tr_{{ proj[0] }}" scope="row">
                    <td class="check-col"><input type="radio" id='radio_proj' name="radio_proj" value="{{ proj[0] }}" {{projects|length == 1 ? "checked" : ""}} {% if veriScopefMode or verifCostBenefits %}{{(proj[9] or not veriScopefMode)and (proj[10] or not verifCostBenefits) ? "" : "disabled"}}{% endif %} required></td>
                    <td>{{ proj[1] }}</td>
                    <td>{{ proj[2] }}</td>
                    <td>{{ proj[7] }}</td>
                    <td>{{ proj[6] }}</td>
                    {# <td><span title={{proj[9] ? "check" : "x"}} class="oi oi-{{proj[9] ? "check" : "x"}} text-{{proj[9] ? "success" : "danger"}}"></span></td> #}
                    {% if scopeMode %}<td><img width=20 height=20 id="{{ proj[9] ? "full_circle" : "empty_circle" }}" src="../../../public/img/{{ proj[9] ? "full_circle" : "empty_circle" }}.png"/></td>{% endif %}
                    {% if costBenefitsMode %}<td><img width=20 height=20 id="{{ proj[10] ? "full_circle" : "empty_circle" }}" src="../../../public/img/{{ proj[10] ? "full_circle" : "empty_circle" }}.png"/></td>{% endif %}
                    {% if deleteMode %}<td><a href="#"><span class="oi oi-trash text-dark" title="trash" aria-hidden="true" data-toggle="modal" data-target="#askDeleteProj_{{ proj[0] }}"></span></a></td>{% endif %}
                    {{ modal.delete_proj(proj[0],proj[1]) }}
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endmacro %}