{% macro list_projects(projects, scopeMode, deleteMode, veriScopefMode, costBenefitsMode, verifCostBenefits, sideBarName, scheduleVerifMode, scheduleVerifModeText,  scheduleVerif,sessionProj,hideMode) %}
{% import "/templates/general/modals_proj.twig" as modal %}
<div class="row text-center">
    <div class="col mx-5 list-table">
        <table class='table text-center table-striped table-responsive-lg'>
            <thead class="thead-dark text-center sticky-top">
                <tr>
                    {% if hideMode %}
                        <th scope="col"></th>
                    {% endif %}
                    <th scope="col">Current project</th>
                    <th scope="col">Description</th>
                    <th scope="col">Creation Date</th>
                    <th scope="col">Last Modification Date</th>
                    {% if scopeMode %}<th scope="col">Project Scoping</th> {% endif %}
                    {% if costBenefitsMode %}<th scope="col">Costs Benefits</th> {% endif %}
                    {% if scheduleVerifMode %}<th scope="col">{{scheduleVerifModeText}}</th>{% endif %}
                    {% if deleteMode %}
                        <th scope="col"></th>
                        <th scope="col"></th>
                        <th scope="col"></th>
                    {% endif %}
                    {% if  not hideMode %}
                        <th scope="col"></th>
                        <th scope="col"></th>
                    {% endif %}

                </tr>
            </thead>
            <tbody>
            {% for proj in projects %}
            {% set selectable = (proj[9] or not veriScopefMode)and (proj[10] or not verifCostBenefits) and (proj[11] or not scheduleVerifMode) %}
                {% if ( hideMode and (not proj['hide'])) or (  proj['hide'] and (not hideMode) ) %}
                <tr id = "tr_{{ proj[0] }}" scope="row">
                    {% if hideMode %}
                        <td ><input type="radio" id='radio_proj{{((sessionProj == proj[0]) and selectable ) ? '_checked' : ""}}' name="radio_proj" value="{{ proj[0] }}" {{((sessionProj == proj[0]) and selectable ) ? 'checked' : ""}} {{selectable ? "" : "disabled"}} required></td>
                    {% endif %}
                    <td>{{ proj[1] }}</td>
                    <td>{{ proj[2] }}</td>
                    <td>{{ proj[6] }}</td>
                    <td>{{ proj[7] }}</td>
                    {# <td><span title={{proj[9] ? "check" : "x"}} class="oi oi-{{proj[9] ? "check" : "x"}} text-{{proj[9] ? "success" : "danger"}}"></span></td> #}
                    {% if scopeMode %}<td><img width=20 height=20 id="{{ proj[9] ? "full_circle" : "empty_circle" }}" src="../../../public/img/{{ proj[9] ? "full_circle" : "empty_circle" }}.png"/></td>{% endif %}
                    {% if costBenefitsMode %}<td><img width=20 height=20 id="{{ proj[10] ? "full_circle" : "empty_circle" }}" src="../../../public/img/{{ proj[10] ? "full_circle" : "empty_circle" }}.png"/></td>{% endif %}
                    {% if scheduleVerifMode %}<td><img width=20 height=20 id="{{ scheduleVerif ? "full_circle" : "empty_circle" }}" src="../../../public/img/{{ proj[11] ? "full_circle" : "empty_circle" }}.png"/></td>{% endif %}
                    {% if deleteMode %}
                        <td><a href="#"><span class="oi oi-trash text-dark" title="trash" aria-hidden="true" data-toggle="modal" data-target="#askBasketProj_{{ proj[0] }}"></span></a></td>
                        <td><a href="#"><span class="oi oi-pencil text-dark" title="pencil" aria-hidden="true" data-toggle="modal" data-target="#editProj_{{ proj[0] }}"></span></a></td>
                        <td><a href="#"><span class="oi oi-transfer text-dark" title="duplicate" aria-hidden="true" data-toggle="modal" data-target="#duplicateProj_{{ proj[0] }}"></span></a></td>
                    {% endif %}
                    {% if  not hideMode %}
                        <td><a href="#"><span class="oi oi-circle-x text-dark" title="trash" aria-hidden="true" data-toggle="modal" data-target="#askDeleteProj_{{ proj[0] }}"></span></a></td>
                        <td><a href="#"><span class="oi oi-data-transfer-upload text-dark" title="trash" aria-hidden="true" data-toggle="modal" data-target="#askRestoreProj_{{ proj[0] }}"></span></a></td>
                    {% endif %}
                </tr>
                {% endif %}
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endmacro %}