{% macro list_scenarios(scenarios,projects) %}
{% import "/templates/funding/modal_scenario.twig" as modal %}

<div class="row text-center">
    <div class="col mx-5 list-table">
        <table class='table table-bordered table-striped table-responsive-lg'>
            <thead class="thead-dark text-center sticky-top">
                <tr>
                    <th scope="col"></th>
                    <th scope="col">Name</th>
                    <th scope="col">Description</th>
                    <th scope="col">Related Project</th>
                    <th scope="col">Modification Date</th>
                    <th scope="col">Creation Date</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
            {% for id,scen in scenarios %}
                <tr id = "tr_{{ id }}" scope="row">
                    <td class="check-col"><input type="radio" id='radio_scen' name="radio_scen" value="{{ id }}" required></td>
                    <td>{{ scen['name'] }}</td>
                    <td>{{ scen['description'] }}</td>
                    <td>{{ projects[scen['id_proj']]['name'] }}</td>
                    <td>{{ scen['modif_date'] }}</td>
                    <td>{{ scen['creation_date'] }}</td>
                    <td class="check-col"><a href="#"><span class="oi oi-trash text-dark" title="trash" aria-hidden="true" data-toggle="modal" data-target="#askDeleteScen_{{ id }}"></span></a></td>
                    {{ modal.delete_scen(id,scen['name']) }}
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endmacro %}