{% macro list_dlt(dlt,isTaken = false) %}
{% import "/templates/admin/modal_dlt.twig" as modal %}

<div class="row text-center">
    <h6 id="createDLTHelp" class="col text-danger font-italic">{{ isTaken ? "name already taken" : "" }}</h6>
</div>
<div class="row mt-2 mx-5 mb-5 text-center">
    <div class="offset-1 col-10 list-table">
        <table class='table table-bordered table-responsive-lg'>
            <thead class="thead-dark text-center sticky-top">
                <tr>
                    <th scope="col" style="width: 10%;">id</th>
                    <th scope="col" style="width: 25%;">Name</th>
                    <th scope="col" style="width: 35%;">Description</th>
                    <th scope="col" style="width: 10%;"></th>
                </tr>
            </thead>
            <tbody>
                   
                {% for dlt_item in dlt %}
                    <tr id = "dlt_{{ dlt_item['id'] }}" scope="row">
                        <td class="check-col">{{ dlt_item['id'] }}</td>
                        <td>{{ dlt_item['name'] }}</td>
                        <td>{{ dlt_item['description'] }}</td>
                        <td><a href="#"><span class="oi oi-trash text-dark" title="trash" aria-hidden="true" data-toggle="modal" data-target="#askDeleteDLT_{{ dlt_item['id'] }}"></span></a></td>
                        {{ modal.delete_dlt(dlt_item['id'],dlt_['name']) }}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endmacro %}

{% macro list_zones(zones,isTaken = false) %}
{% import "/templates/admin/modal_dlt.twig" as modal %}

<div class="row text-center">
    <h6 id="createZoneHelp" class="col text-danger font-italic">{{ isTaken ? "name already taken" : "" }}</h6>
</div>
<div class="row mt-2 mx-5 mb-5 text-center">
    <div class="offset-1 col-10 list-table">
        <table class='table table-bordered table-responsive-lg'>
            <thead class="thead-dark text-center sticky-top">
                <tr>
                    <th scope="col" style="width: 10%;">id</th>
                    <th scope="col" style="width: 35%;">Name</th>
                    <th scope="col" style="width: 35%;">Type</th>
                    <th scope="col" style="width: 10%;">ID Zone</th>
                    <th scope="col" style="width: 10%;"></th>
                </tr>
            </thead>
            <tbody>
                   
                {% for id,zone in zones %}
                    <tr id = "zone_{{ id }}" scope="row">
                        <td class="check-col">{{ id }}</td>
                        <td>{{ zone['name'] }}</td>
                        <td>{{ zone['type'] }}</td>
                        <td>{{ zone['parent'] }}</td>
                        <td><a href="#"><span class="oi oi-trash text-dark" title="trash" aria-hidden="true" data-toggle="modal" data-target="#askDeleteZone_{{ id }}"></span></a></td>
                        {{ modal.delete_zone(id,zone['name']) }}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endmacro %}